atelier-agents/org-agent/src/main/mule/org-agent.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:jmx="http://www.mulesoft.org/schema/mule/jmx"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
          http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
          http://www.mulesoft.org/schema/mule/jmx http://www.mulesoft.org/schema/mule/jmx/current/mule-jmx.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="${http.listener.port}"/>
    </http:listener-config>

    <a2a:server-config name="A2A_Server_config">
        <a2a:connection listenerConfig="HTTP_Listener_config" agentPath="${a2a.path}"/>
        <a2a:agent-card>
            <a2a:json><![CDATA[{
  "protocolVersion": "0.3.0",
  "name": "atelier-org-agent",
  "description": "組織/人事担当 AI エージェント (Atelier 用 同期 A2A 版)。バイヤー検索 / 承認依頼送信を LLM tool-use ループで実施し、統合サマリを返す。リスクスコア更新・KG 記録は対象外 (legal-agent 経路)。",
  "url": "${agent.public.url}",
  "version": "1.0.0",
  "preferredTransport": "JSONRPC",
  "capabilities": { "streaming": false, "pushNotifications": false, "stateTransitionHistory": false },
  "defaultInputModes": ["text/plain", "application/json"],
  "defaultOutputModes": ["text/plain", "application/json"],
  "skills": [
    {
      "id": "org_handle_incident",
      "name": "組織/人事インシデント対応 (LLM tool-use)",
      "description": "サプライヤー品質インシデント連絡を自然文で受け取り、調達担当バイヤー検索 / 承認依頼送信 を tool-use ループで実施し、統合サマリを返す。",
      "examples": [
        "INC-2026-0521 関西部品 (G-KANSAI-PARTS-001) の調達担当者を見つけて承認依頼を出してほしい。"
      ],
      "inputModes": ["text/plain", "application/json"],
      "outputModes": ["text/plain", "application/json"],
      "tags": ["org", "hr", "approval"]
    }
  ]
}]]></a2a:json>
        </a2a:agent-card>
    </a2a:server-config>

    <http:request-config name="LLM_Request_config" basePath="/" responseTimeout="${llm.timeout}">
        <http:request-connection host="openai-proxy.demos.mulesoft.com"
                                 port="443"
                                 protocol="HTTPS"/>
        <http:default-headers>
            <http:default-header key="Authorization" value="Basic ${llm.token}"/>
            <http:default-header key="Content-Type" value="application/json; charset=utf-8"/>
        </http:default-headers>
    </http:request-config>

    <http:request-config name="HR_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.hr.host}" port="${mcp.hr.port}" protocol="${mcp.hr.protocol}"/>
    </http:request-config>
    <http:request-config name="MDM_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.mdm.host}" port="${mcp.mdm.port}" protocol="${mcp.mdm.protocol}"/>
    </http:request-config>

    <jmx:config name="JMX_Config" logBufferSize="5000"/>

    <os:object-store name="MEMORY_STORE"
                     entryTtl="1" entryTtlUnit="HOURS"
                     expirationInterval="5" expirationIntervalUnit="MINUTES"
                     maxEntries="500"
                     persistent="false"/>

    <flow name="orgAgentTaskFlow">
        <a2a:task-listener config-ref="A2A_Server_config">
            <a2a:response>
                <a2a:response>#[vars.taskJson]</a2a:response>
            </a2a:response>
        </a2a:task-listener>

        <logger level="INFO"
                message="#['atelier-org-agent A2A task received. method=' ++ (attributes.jsonRpcMethod default '?') ++ ' taskId=' ++ (attributes.taskId default '?')]"/>

        <ee:transform doc:name="extract user text + task ids + contextId">
            <ee:variables>
                <ee:set-variable variableName="taskId"><![CDATA[%dw 2.0
output application/java
---
((attributes.taskId default (now() as String)) as String)]]></ee:set-variable>
                <ee:set-variable variableName="msgObj"><![CDATA[%dw 2.0
output application/java
---
if (payload is String) read(payload, "application/json") else payload]]></ee:set-variable>
                <ee:set-variable variableName="contextId"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var fromAttr = (attributes.contextId default "") as String
var fromMsg  = (p.message.contextId default "") as String
---
if (fromAttr != "") fromAttr else fromMsg]]></ee:set-variable>
                <ee:set-variable variableName="userText"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
---
(((p.message.parts default [])[0].text default "") as String)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <flow-ref name="loadMemoryFlow"/>

        <try>
            <flow-ref name="initAgentStateFlow"/>
            <flow-ref name="agentLoopFlow"/>
            <error-handler>
                <on-error-continue type="ANY">
                    <logger level="WARN"
                            message="#['Agent loop failed: ' ++ (error.description default error.message default 'unknown')]"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"⚠️ atelier-org-agent: Agent ループ中にエラーが発生しました。\n" ++
"  " ++ ((error.description default (error.message default "unknown")) as String)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="replyText"><![CDATA[%dw 2.0
output application/java
var t = ((vars.finalText default "") as String)
var msgs = (vars.messages default [])
var lastAssistant = (msgs filter ((m) -> ((m.role default "") as String) == "assistant" and ((m.content default "") as String) != ""))
var lastAssistantContent = if (sizeOf(lastAssistant) > 0) ((lastAssistant[-1].content default "") as String) else ""
var fallbackByReason =
  if ((vars.finishReason default "") as String == "length")
    "ℹ️ 組織・人事 (atelier-org-agent) です。\n\n回答が文字数上限に達しました。\n部署名・役割・インシデント ID のいずれかを指定して再度お試しください。"
  else
    "ℹ️ 組織・人事 (atelier-org-agent) です。\n\n**実行可能な操作**\n- 取引先のゴールデン ID 解決\n- 過去インシデント・取引先関係の照会\n- 取引先一覧 (region / status / リスクスコア範囲で絞込み)\n- 取引先 region 一覧 (各 region の件数付き)\n- 担当バイヤーの検索 (category / region)\n- 承認依頼の Slack DM 送信\n\n**対象外** (依頼されても実施しません): サプライヤーリスクスコア更新 / KG (オントロジー) 記録 / 法務契約照会 / 在庫照会 / 発注ドラフト / インシデント採番。\n\nお手数ですが部署名・役割・インシデント ID のいずれかを指定してください。"
---
if (t != "") t
else if (lastAssistantContent != "") lastAssistantContent
else fallbackByReason]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <flow-ref name="saveMemoryFlow"/>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="taskJson"><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.taskId,
  contextId: vars.contextId,
  kind: "task",
  status: {
    state: "completed",
    message: {
      role: "agent",
      kind: "message",
      messageId: (now() as String) ++ "-" ++ vars.taskId,
      parts: [
        { kind: "text", text: vars.replyText default "" }
      ]
    },
    timestamp: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" }
  }
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="healthFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/health"/>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-org-agent" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

    <flow name="debugLogsFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/debug/logs"/>
        <jmx:get-recent-logs config-ref="JMX_Config"
                             lines="#[(attributes.queryParams.lines default 200) as Number]"
                             level="#[attributes.queryParams.level default null]"
                             pattern="#[attributes.queryParams.pattern default null]"/>
    </flow>

    <sub-flow name="initAgentStateFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
var sysPrompt =
"あなたは組織/人事担当の AI アドバイザ (atelier-org-agent) です。Atelier から人間が直接相談しに来るチャネルです。\n" ++
"\n" ++
"動作モード: ADVISORY (相談・提案モード)\n" ++
"  - ユーザの発話が「どうすればいい?」「誰に承認依頼すべき?」「担当バイヤーは誰?」のような相談・質問なら ADVISORY モード。\n" ++
"  - ユーザが「実行してください」「承認依頼を送ってください」と明示的に指示したときだけ EXECUTE モードに入る。\n" ++
"  - 迷ったら ADVISORY。勝手に副作用のある書き込み tool を呼ばない。\n" ++
"\n" ++
"最重要原則: ユーザの最後の user メッセージに登場する固有名詞 (会社名・インシデントID) を tool 引数にそのまま使うこと。「unknown」「placeholder」などの仮名は絶対に使わない。 user 発話に「関西部品」とあれば必ず supplierName=\"関西部品\" を渡す。\n" ++
"\n" ++
"利用可能なツール:\n" ++
"\n" ++
"  [READ-ONLY — 相談時に使ってよい]\n" ++
"  1) resolve_supplier (mdm-mcp): サプライヤー名 → ゴールデン ID\n" ++
"  2) get_supplier_relations (mdm-mcp): 過去インシデント・取引先関係\n" ++
"  3) list_suppliers (mdm-mcp): region/status/リスク範囲で取引先一覧 (例: 関西の取引先)\n" ++
"  4) list_regions (mdm-mcp): 取引先マスタの region 一覧と各 region の件数\n" ++
"  5) list_parts (mdm-mcp): supplier/category/location/部品名で部品一覧 (READ-ONLY)\n" ++
"  6) resolve_part (mdm-mcp): 部品番号 → 部品詳細 (主取引先・代替候補つき)\n" ++
"  7) list_part_alternatives (mdm-mcp): ある部品の代替部品候補を取得\n" ++
"  8) find_suppliers_for_part (mdm-mcp): 部品を供給可能な取引先 (主+代替経由) をリスク順で取得\n" ++
"  9) list_incidents (mdm-mcp): supplier/part/status/severity/since 条件でインシデント一覧\n" ++
"  10) find_best_buyer (hr-mcp): category / region で調達担当者を検索\n" ++
"\n" ++
"  [WRITE / 副作用あり — ユーザの明示指示時のみ]\n" ++
"  11) send_approval_request (hr-mcp): 承認依頼を Slack DM で送信\n" ++
"\n" ++
"  [対象外 — 依頼されても実行しない]\n" ++
"  - サプライヤーリスクスコア更新 / KG オントロジー記録 (legal-agent 経路)\n" ++
"  - 法務契約照会 / 返品要求書発行 / ペナルティ通知 (legal-agent)\n" ++
"  - 在庫照会 / 仮確保 / 発注ドラフト / サプライヤー通知 (procurement-agent / logistics-agent)\n" ++
"  - インシデント採番 / ステータス更新 (incident-agent)\n" ++
"\n" ++
"tool 戻り値の構造:\n" ++
"  - resolve_supplier → result.supplier.goldenId / result.supplier.name\n" ++
"  - list_suppliers → result.count / result.items[i].goldenId / .name / .region / .riskScore / .status\n" ++
"  - list_regions → result.count / result.items[i].region / .supplierCount\n" ++
"  - list_parts → result.count / result.total / result.truncated / result.items[i].partNumber / .name / .category / .primarySupplier{goldenId,name}\n" ++
"  - resolve_part → result.part.partNumber / .name / .primarySupplier / .alternatives[]\n" ++
"  - list_part_alternatives → result.count / result.items[i].partNumber / .name / .compatibilityScore / .primarySupplier\n" ++
"  - find_suppliers_for_part → result.count / result.items[i].goldenId / .name / .region / .riskScore / .via (primary|alternative) / .alternativePartNumber\n" ++
"  - list_incidents → result.count / result.total / result.truncated / result.items[i].incidentId / .status / .severity / .createdAt / .supplier{goldenId,name} / .part{partNumber,name}\n" ++
"  - find_best_buyer → result.buyers[i].employeeId / .employeeName / .category / .region\n" ++
"  - send_approval_request → result.approvalRequestId / result.dueAt\n" ++
"\n" ++
"相談 (ADVISORY) の進め方:\n" ++
"  1. サプライヤー名があれば resolve_supplier(supplierName) で goldenId を解決 (READ-ONLY)。\n" ++
"  2. 必要なら get_supplier_relations で過去のインシデントや取引先関係を確認 (READ-ONLY)。\n" ++
"  3. 担当者候補を知りたいなら find_best_buyer(category, region) で検索 (READ-ONLY)。category/region が不明なら無指定で。\n" ++
"  4. ここまでの情報を踏まえて、推奨アクション (誰に承認依頼を出すか) を 箇条書きで提示する。\n" ++
"  5. 最後に「実行してよろしければ『実行してください』とお伝えください」と聞き返す。WRITE tool は呼ばない。\n" ++
"\n" ++
"重要ルール:\n" ++
"  - ユーザの明示指示なしに WRITE tool (send_approval_request) を呼ばない。\n" ++
"  - トリガー語: 「実行してください」「承認依頼を送って」「DM 送って」など、明確な命令形のみ。\n" ++
"  - tool が status=success で返したら result.* の中身を読み、「取得できませんでした」と書かない。\n" ++
"  - 以前のターンで解決済みの supplierGoldenId / employeeId / approvalRequestId は再呼び出しせず流用する。\n" ++
"\n" ++
"対応できない時の応答ルール:\n" ++
"  - 上記 tool で扱えない自由検索 (例: 「全社員リスト」「役職別の人数」など) や、部署 / 役割 / インシデント ID のいずれも不明な場合、以下テンプレートで Markdown 4〜8 行返す:\n" ++
"\n" ++
"    ℹ️ 組織・人事 (atelier-org-agent) です。\n" ++
"\n" ++
"    **実行可能な操作**\n" ++
"    - 取引先のゴールデン ID 解決\n" ++
"    - 過去インシデント・取引先関係の照会\n" ++
"    - 取引先一覧 (region / status / リスクスコア範囲で絞込み)\n" ++
"    - 取引先 region 一覧 (各 region の件数付き)\n" ++
"    - 部品一覧 / 部品詳細 / 代替部品 / 部品の供給可能取引先\n" ++
"    - インシデント一覧 (supplier / part / status / severity / since)\n" ++
"    - 担当バイヤーの検索 (category / region)\n" ++
"    - 承認依頼の Slack DM 送信\n" ++
"\n" ++
"    **対象外** (依頼されても実施しません): サプライヤーリスクスコア更新 / KG (オントロジー) 記録 / 法務契約照会 / 在庫照会 / 発注ドラフト / インシデント採番。\n" ++
"\n" ++
"    お手数ですが部署名・役割・インシデント ID のいずれかを指定してください。\n" ++
"    <次に渡してほしい具体情報を 1 行>。\n" ++
"\n" ++
"出力フォーマット:\n" ++
"\n" ++
"  [ADVISORY 回答] (デフォルト)\n" ++
"    👥 org-agent (相談): <現状の一言サマリ>\n" ++
"    - 取引先: <name> (<goldenId>)\n" ++
"    - 候補担当者: <employeeName> (<employeeId>) - <category>/<region>\n" ++
"    - 推奨アクション:\n" ++
"      • <アクション 1>\n" ++
"      • <アクション 2>\n" ++
"    💬 実行してよろしければ「実行してください」とお知らせください。\n" ++
"\n" ++
"  [EXECUTE 完了] (ユーザが実行指示した場合のみ)\n" ++
"    👥 org-agent (実行完了): <一言サマリ>\n" ++
"    - 取引先: <name> (<goldenId>)\n" ++
"    - 担当者: <employeeName> (<employeeId>)\n" ++
"    - 承認依頼: <approvalRequestId> 期限 <dueAt>"
---
if ((vars.priorMessages default []) != [])
  (vars.priorMessages default []) ++ [{ role: "user", content: (vars.userText default "") as String }]
else
  [
    { role: "system", content: sysPrompt },
    { role: "user",   content: (vars.userText default "") as String }
  ]]]></ee:set-variable>
                <ee:set-variable variableName="tools"><![CDATA[%dw 2.0
output application/java
---
[
  { "type": "function", "function": {
      name: "resolve_supplier",
      description: "サプライヤー名/ヒントから ゴールデン ID を解決する",
      parameters: {
        "type": "object",
        properties: {
          supplierName: { "type": "string" },
          hint:         { "type": "string" }
        },
        required: ["supplierName"]
      }
  }},
  { "type": "function", "function": {
      name: "get_supplier_relations",
      description: "ゴールデン ID から親会社・子会社・過去インシデント・代替部品候補を取得",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          depth:            { "type": "integer" }
        },
        required: ["supplierGoldenId"]
      }
  }},
  { "type": "function", "function": {
      name: "list_suppliers",
      description: "条件指定 (region / status / リスクスコア範囲) で取引先一覧を取得 (READ-ONLY)。region 完全一致。 status 既定 ACTIVE。",
      parameters: {
        "type": "object",
        properties: {
          region:       { "type": "string", description: "Region__c の値 (例: 関西、 中部、 兵庫、 関東、 九州、 東北)" },
          status:       { "type": "string", description: "ACTIVE / INACTIVE / BLOCKED / ALL" },
          riskScoreMin: { "type": "number" },
          riskScoreMax: { "type": "number" },
          limit:        { "type": "integer" }
        },
        required: []
      }
  }},
  { "type": "function", "function": {
      name: "list_regions",
      description: "Supplier__c.Region__c の DISTINCT 値と、 各 region の ACTIVE 件数を一覧で返す (READ-ONLY)。",
      parameters: {
        "type": "object",
        properties: {},
        required: []
      }
  }},
  { "type": "function", "function": {
      name: "list_parts",
      description: "条件指定 (supplierGoldenId / category / location / nameLike) で部品一覧を取得 (READ-ONLY)。 既定 limit=10、 上限 50。",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          category:         { "type": "string", description: "電力設備 / 機械部品 / 電子部品 / 素材" },
          location:         { "type": "string" },
          nameLike:         { "type": "string" },
          limit:            { "type": "integer" }
        },
        required: []
      }
  }},
  { "type": "function", "function": {
      name: "resolve_part",
      description: "部品番号から部品詳細 (主取引先・代替候補つき) を取得 (READ-ONLY)",
      parameters: {
        "type": "object",
        properties: {
          partNumber: { "type": "string" }
        },
        required: ["partNumber"]
      }
  }},
  { "type": "function", "function": {
      name: "list_part_alternatives",
      description: "ある部品の代替部品候補を CompatibilityScore 降順で取得 (READ-ONLY)",
      parameters: {
        "type": "object",
        properties: {
          partNumber: { "type": "string" },
          limit:      { "type": "integer" }
        },
        required: ["partNumber"]
      }
  }},
  { "type": "function", "function": {
      name: "find_suppliers_for_part",
      description: "部品を供給可能な取引先 (主+代替経由) を RiskScore 昇順で取得 (READ-ONLY)",
      parameters: {
        "type": "object",
        properties: {
          partNumber: { "type": "string" },
          limit:      { "type": "integer" }
        },
        required: ["partNumber"]
      }
  }},
  { "type": "function", "function": {
      name: "list_incidents",
      description: "条件指定 (supplierGoldenId / partNumber / status / severity / since) でインシデント一覧を CreatedDate 降順で取得 (READ-ONLY)。 既定 limit=10、 上限 50。",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          partNumber:       { "type": "string" },
          status:           { "type": "string", description: "OPEN / IN_PROGRESS / CLOSED / ALL" },
          severity:         { "type": "string", description: "LOW / MEDIUM / HIGH / CRITICAL" },
          since:            { "type": "string", "format": "date-time" },
          limit:            { "type": "integer" }
        },
        required: []
      }
  }},
  { "type": "function", "function": {
      name: "find_best_buyer",
      description: "Buyer (調達担当者) を category / region で検索する。未指定なら全件",
      parameters: {
        "type": "object",
        properties: {
          category:         { "type": "string" },
          region:           { "type": "string" },
          supplierGoldenId: { "type": "string" }
        },
        required: []
      }
  }},
  { "type": "function", "function": {
      name: "send_approval_request",
      description: "承認依頼を Slack DM で送信する。approverId は Employee.EmployeeId__c (例 E-1287)",
      parameters: {
        "type": "object",
        properties: {
          approverId:  { "type": "string" },
          subject:     { "type": "string" },
          dueAt:       { "type": "string", "format": "date-time" },
          requesterId: { "type": "string" },
          incidentId:  { "type": "string" },
          details:     { "type": "string" }
        },
        required: ["approverId", "subject", "dueAt"]
      }
  }}
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="agentLoopFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="loopRange"><![CDATA[%dw 2.0
output application/java
---
1 to (p('agent.max_loops') as Number)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <foreach collection="#[vars.loopRange]">
            <choice>
                <when expression="#[(vars.finishReason default '') == 'stop' or (vars.finishReason default '') == 'length' or (vars.finishReason default '') == 'content_filter']">
                    <logger level="INFO" message="#['Skipping iter ' ++ (payload as String) ++ ' (finishReason=' ++ (vars.finishReason default '') ++ ')']"/>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
((payload default 0) - 1) as Number]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="agentInferenceFlow"/>
                    <flow-ref name="agentExecuteToolsFlow"/>
                </otherwise>
            </choice>
        </foreach>
        <logger level="INFO" message="#['Agent loop done. iterations=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '')]"/>
    </sub-flow>

    <sub-flow name="agentInferenceFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="llmBody"><![CDATA[%dw 2.0
output application/json
---
{
  model:       (p('llm.model') default "gpt-5-mini") as String,
  max_completion_tokens:  (p('llm.max_tokens') default 2048) as Number,
  messages:    vars.messages default [],
  tools:       vars.tools default [],
  tool_choice: "auto"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config">
            <http:body>#[vars.llmBody]</http:body>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="assistantMsg"><![CDATA[%dw 2.0
output application/java
---
(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
((((payload default {}).choices default [])[0].finish_reason) default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <choice>
            <when expression="#[(vars.finishReason default '') == 'stop']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
((vars.assistantMsg.content default "") as String)]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" message="#['Loop iter=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '') ++ ' tool_calls=' ++ ((sizeOf(vars.assistantMsg.tool_calls default []) as String))]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="agentExecuteToolsFlow">
        <choice>
            <when expression="#[sizeOf((vars.assistantMsg.tool_calls default [])) == 0]">
                <logger level="INFO" message="No tool_calls in assistant message"/>
            </when>
            <otherwise>
                <foreach collection="#[vars.assistantMsg.tool_calls default []]">
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolCallId"><![CDATA[%dw 2.0
output application/java
---
((payload."id" default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((payload.function.name default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolArgsRaw"><![CDATA[%dw 2.0
output application/java
---
((payload.function.arguments default "{}") as String)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
read((vars.toolArgsRaw default "{}") as String, "application/json")]]></ee:set-variable>
                            <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.toolName default "") as String
---
if (n == "resolve_supplier" or n == "get_supplier_relations" or n == "list_suppliers" or n == "list_regions" or n == "list_parts" or n == "resolve_part" or n == "list_part_alternatives" or n == "find_suppliers_for_part" or n == "list_incidents") "mdm"
else if (n == "find_best_buyer" or n == "send_approval_request") "hr"
else "unknown"]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="callMcpExecuteFlow"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [{
  role: "tool",
  tool_call_id: (vars.toolCallId default "") as String,
  content: write((vars.toolResult default {}), "application/json") as String
}]]]></ee:set-variable>
                            <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
(vars.actionsLog default []) ++ [{
  tool: (vars.toolName default "") as String,
  result: (vars.toolResult default {})
}]]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </foreach>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="callMcpExecuteFlow">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  toolName: (vars.toolName default "") as String,
  "input":  (vars.toolArgs default {})
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <try>
            <choice>
                <when expression="#[(vars.mcpKind default '') == 'mdm']">
                    <http:request method="POST" path="/mcp/execute" config-ref="MDM_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <when expression="#[(vars.mcpKind default '') == 'hr']">
                    <http:request method="POST" path="/mcp/execute" config-ref="HR_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "UNKNOWN_TOOL", message: "no MCP for tool: " ++ (vars.toolName default "") } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </otherwise>
            </choice>
            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "MCP_CALL_FAILED", message: (error.description default error.message default "unknown") as String } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <logger level="WARN"
                            message="#['MCP call failed kind=' ++ (vars.mcpKind default '') ++ ' tool=' ++ (vars.toolName default '') ++ ' err=' ++ (error.description default error.message default 'unknown')]"/>
                </on-error-continue>
            </error-handler>
        </try>
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="toolResult"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s: String) =
  if (s == null or trim(s) == "") {}
  else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload as String)
else payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="loadMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <try>
                    <os:retrieve key="#[vars.contextId]" objectStore="MEMORY_STORE" target="priorRaw"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
fun parseList(s) = if (s == null or s == "") [] else read(s, "application/json")
---
if (vars.priorRaw == null) []
else if (vars.priorRaw is String) parseList(vars.priorRaw as String)
else (vars.priorRaw default [])]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <error-handler>
                        <on-error-continue type="OS:KEY_NOT_FOUND, OS:STORE_NOT_AVAILABLE, ANY">
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
        <logger level="INFO"
                message="#['memory load: contextId=' ++ (vars.contextId default '') ++ ' priorMessages=' ++ (sizeOf(vars.priorMessages default []) as String)]"/>
    </sub-flow>

    <sub-flow name="saveMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <logger level="INFO" message="memory save skipped (no contextId)"/>
            </when>
            <otherwise>
                <try>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
write((vars.messages default []), "application/json") as String]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <os:store key="#[vars.contextId]" objectStore="MEMORY_STORE">
                        <os:value>#[payload]</os:value>
                    </os:store>
                    <logger level="INFO"
                            message="#['memory save: contextId=' ++ (vars.contextId default '') ++ ' messages=' ++ (sizeOf(vars.messages default []) as String)]"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN" message="#['memory save failed: ' ++ (error.description default error.message default 'unknown')]"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
    </sub-flow>

</mule>
