atelier-agents/org-agent/src/main/mule/org-agent.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:jmx="http://www.mulesoft.org/schema/mule/jmx"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
          http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
          http://www.mulesoft.org/schema/mule/jmx http://www.mulesoft.org/schema/mule/jmx/current/mule-jmx.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="${http.listener.port}"/>
    </http:listener-config>

    <a2a:server-config name="A2A_Server_config">
        <a2a:connection listenerConfig="HTTP_Listener_config" agentPath="${a2a.path}"/>
        <a2a:agent-card>
            <a2a:json><![CDATA[{
  "protocolVersion": "0.3.0",
  "name": "atelier-org-agent",
  "description": "組織/人事担当 AI エージェント (Atelier 用 同期 A2A 版)。バイヤー検索 / 承認依頼送信を LLM tool-use ループで実施し、統合サマリを返す。リスクスコア更新・KG 記録は対象外 (legal-agent 経路)。",
  "url": "${agent.public.url}",
  "version": "1.0.0",
  "preferredTransport": "JSONRPC",
  "capabilities": { "streaming": false, "pushNotifications": false, "stateTransitionHistory": false },
  "defaultInputModes": ["text/plain", "application/json"],
  "defaultOutputModes": ["text/plain", "application/json"],
  "skills": [
    {
      "id": "org_handle_incident",
      "name": "組織/人事インシデント対応 (LLM tool-use)",
      "description": "サプライヤー品質インシデント連絡を自然文で受け取り、調達担当バイヤー検索 / 承認依頼送信 を tool-use ループで実施し、統合サマリを返す。",
      "examples": [
        "INC-2026-0521 関西部品 (G-KANSAI-PARTS-001) の調達担当者を見つけて承認依頼を出してほしい。"
      ],
      "inputModes": ["text/plain", "application/json"],
      "outputModes": ["text/plain", "application/json"],
      "tags": ["org", "hr", "approval"]
    }
  ]
}]]></a2a:json>
        </a2a:agent-card>
    </a2a:server-config>

    <http:request-config name="LLM_Request_config" basePath="/" responseTimeout="${llm.timeout}">
        <http:request-connection host="openai-proxy.demos.mulesoft.com"
                                 port="443"
                                 protocol="HTTPS"/>
        <http:default-headers>
            <http:default-header key="Authorization" value="Basic ${llm.token}"/>
            <http:default-header key="Content-Type" value="application/json; charset=utf-8"/>
        </http:default-headers>
    </http:request-config>

    <http:request-config name="HR_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.hr.host}" port="${mcp.hr.port}" protocol="${mcp.hr.protocol}"/>
    </http:request-config>
    <http:request-config name="MDM_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.mdm.host}" port="${mcp.mdm.port}" protocol="${mcp.mdm.protocol}"/>
    </http:request-config>

    <jmx:config name="JMX_Config" logBufferSize="5000"/>

    <os:object-store name="MEMORY_STORE"
                     entryTtl="1" entryTtlUnit="HOURS"
                     expirationInterval="5" expirationIntervalUnit="MINUTES"
                     maxEntries="500"
                     persistent="false"/>

    <flow name="orgAgentTaskFlow">
        <a2a:task-listener config-ref="A2A_Server_config">
            <a2a:response>
                <a2a:response>#[vars.taskJson]</a2a:response>
            </a2a:response>
        </a2a:task-listener>

        <logger level="INFO"
                message="#['atelier-org-agent A2A task received. method=' ++ (attributes.jsonRpcMethod default '?') ++ ' taskId=' ++ (attributes.taskId default '?')]"/>

        <ee:transform doc:name="extract user text + task ids + contextId">
            <ee:variables>
                <ee:set-variable variableName="taskId"><![CDATA[%dw 2.0
output application/java
---
((attributes.taskId default (now() as String)) as String)]]></ee:set-variable>
                <ee:set-variable variableName="msgObj"><![CDATA[%dw 2.0
output application/java
---
if (payload is String) read(payload, "application/json") else payload]]></ee:set-variable>
                <ee:set-variable variableName="contextId"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var fromAttr = (attributes.contextId default "") as String
var fromMsg  = (p.message.contextId default "") as String
---
if (fromAttr != "") fromAttr else fromMsg]]></ee:set-variable>
                <ee:set-variable variableName="userText"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var parts = (p.message.parts default [])
var textPart = (parts filter ((x) -> (x.kind default x."type" default "") == "text"))
---
if (sizeOf(textPart) > 0) ((textPart[0].text default "") as String)
else (((parts[0].text default "") as String))]]></ee:set-variable>
                <ee:set-variable variableName="directPart"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var dataParts = ((p.message.parts default []) filter ((x) -> (x.kind default x."type" default "") == "data"))
---
if (sizeOf(dataParts) > 0) (dataParts[0].data default null) else null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO"
                message="#['org-agent: directPart=' ++ (if (vars.directPart != null) 'yes' else 'no') ++ ' userText=' ++ ((vars.userText default '') as String)]"/>

        <choice doc:name="broker direct (data part) か 人間 自然文か">
            <when expression="#[vars.directPart != null]">
                <flow-ref name="directToolFlow"/>
            </when>
            <otherwise>
                <try>
                    <flow-ref name="orgExtractFlow"/>
                    <flow-ref name="orgRouterFlow"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message="#['org intent pipeline failed: ' ++ (error.description default error.message default 'unknown')]"/>
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"⚠️ atelier-org-agent: 処理中にエラーが発生しました。\n" ++
"  " ++ ((error.description default (error.message default "unknown")) as String)]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="replyText"><![CDATA[%dw 2.0
output application/java
var t = ((vars.finalText default "") as String)
var msgs = (vars.messages default [])
var lastAssistant = (msgs filter ((m) -> ((m.role default "") as String) == "assistant" and ((m.content default "") as String) != ""))
var lastAssistantContent = if (sizeOf(lastAssistant) > 0) ((lastAssistant[-1].content default "") as String) else ""
var fallbackByReason =
  if ((vars.finishReason default "") as String == "length")
    "ℹ️ 組織・人事 (atelier-org-agent) です。\n\n回答が文字数上限に達しました。\n部署名・役割・インシデント ID のいずれかを指定して再度お試しください。"
  else
    "ℹ️ 組織・人事 (atelier-org-agent) です。\n\n**実行可能な操作**\n- 取引先のゴールデン ID 解決\n- 過去インシデント・取引先関係の照会\n- 取引先一覧 (region / status / リスクスコア範囲で絞込み)\n- 取引先 region 一覧 (各 region の件数付き)\n- 担当バイヤーの検索 (category / region)\n- 承認依頼の Slack DM 送信\n\n**対象外** (依頼されても実施しません): サプライヤーリスクスコア更新 / KG (オントロジー) 記録 / 法務契約照会 / 在庫照会 / 発注ドラフト / インシデント採番。\n\nお手数ですが部署名・役割・インシデント ID のいずれかを指定してください。"
---
if (t != "") t
else if (lastAssistantContent != "") lastAssistantContent
else fallbackByReason]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <flow-ref name="saveMemoryFlow"/>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="taskJson"><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.taskId,
  contextId: vars.contextId,
  kind: "task",
  status: {
    state: "completed",
    message: {
      role: "agent",
      kind: "message",
      messageId: (now() as String) ++ "-" ++ vars.taskId,
      parts: [
        { kind: "text", text: vars.replyText default "" }
      ]
    },
    timestamp: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" }
  }
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="healthFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/health"/>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-org-agent" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

    <flow name="debugLogsFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/debug/logs"/>
        <jmx:get-recent-logs config-ref="JMX_Config"
                             lines="#[(attributes.queryParams.lines default 200) as Number]"
                             level="#[attributes.queryParams.level default null]"
                             pattern="#[attributes.queryParams.pattern default null]"/>
    </flow>

    <sub-flow name="initAgentStateFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
var sysPrompt =
"あなたは組織/人事担当 AI (atelier-org-agent)。専門領域は HR (担当者検索・承認依頼) のみ。\n" ++
"\n" ++
"=== STEP 0: メタ質問 (scope / capability) は STEP 1 を飛ばして自然文で答える ===\n" ++
"\n" ++
"ユーザが「何ができる?」「インシデント登録もできる?」「君の役割は?」のようなツール実行を伴わない質問をしてきたら、 NEED_INFO ゲートを発動せず、 1〜3 行の自然文で簡潔に答える。\n" ++
"  - できる: 最適バイヤー検索 (category / region 指定) / 承認依頼の送信。\n" ++
"  - できない (担当外): インシデント起票 (incident-agent) / 法務 (legal-agent) / 在庫 (logistics-agent) / 発注 (procurement-agent) / supplier・part の正規化 ID 解決 (broker または MDM)。\n" ++
"  → 担当外の依頼は、 担当する agent に直接話すか broker に投げてもらうよう案内する。\n" ++
"\n" ++
"具体的に人事関連のツール実行を頼まれたときだけ、 STEP 1 のゲートに進む。\n" ++
"\n" ++
"=== STEP 1: 最優先 — NEED_INFO ゲート (ツール実行依頼に対してのみ発動。 違反する出力は重大エラー) ===\n" ++
"\n" ++
"次のいずれかが揃っていなければ、 何があっても tool を呼ばず、 ADVISORY/EXECUTE テンプレも一切書かず、 [NEED_INFO] block だけを返す:\n" ++
"  - find_best_buyer に必要なもの: category (Mechanical/Electronics 等) と region (JP-KANSAI 等) の少なくとも一方。 サプライヤー名や部品名から推測してはいけない。\n" ++
"  - send_approval_request に必要なもの: 承認対象 (approverEmployeeId または resolved buyer) と incidentId (INC-XXXX 形式採番済)。\n" ++
"\n" ++
"  **絶対禁止例 (これらは重大エラー)**:\n" ++
"    - サプライヤー名「関西部品」を見て region=\"JP-KANSAI\" を勝手に決める → ❌\n" ++
"    - 部品名「ハンドル部品」を見て category=\"Mechanical\" を勝手に決める → ❌\n" ++
"    - supplierGoldenId が無いのに G-XXX 形式 ID を作る → ❌\n" ++
"    - 不足を埋めずに ADVISORY テーブルに値を埋めて返す → ❌\n" ++
"\n" ++
"NEED_INFO 出力フォーマット (これだけを返す。 他のテキスト/テーブル/絵文字は書かない):\n" ++
"\n" ++
"    [NEED_INFO]\n" ++
"    - <question 1 — ユーザの最後のメッセージと同じ言語で書く。 日本語で来たら日本語で問い返す。 normalized ID or value を要求すること>\n" ++
"    - <question 2 ...>\n" ++
"    [/NEED_INFO]\n" ++
"\n" ++
"自分のドメイン外 (supplier ID 解決、 region/category 解決、 在庫、 法務、 発注、 インシデント採番) も同じ方式で [NEED_INFO] を返す。\n" ++
"上位 (broker または人間) が解決して回答したら、 その値を使って自分の tool を実行する。\n" ++
"\n" ++
"=== STEP 2: 全項目揃った場合のみ — 通常の処理 ===\n" ++
"\n" ++
"利用可能 tool: find_best_buyer / send_approval_request のみ。\n" ++
"\n" ++
"動作モード: ADVISORY\n" ++
"  - 基本は「候補担当者を提示して、 推奨アクションを箇条書き」。\n" ++
"  - send_approval_request は **ユーザが明示的に「実行して」「承認依頼送って」と指示したときだけ** 実行する。\n" ++
"\n" ++
"tool の引数は user メッセージの固有名詞をそのまま使う。「unknown」「placeholder」は絶対不可。\n" ++
"\n" ++
"tool 戻り値:\n" ++
"  - find_best_buyer → result.buyers[i].employeeId / .employeeName / .category / .region\n" ++
"  - send_approval_request → result.approvalRequestId / result.dueAt\n" ++
"\n" ++
"出力フォーマット:\n" ++
"  [ADVISORY] 👥 org-agent: <一言サマリ> / 候補 <employeeName>(<employeeId>) <category>/<region> / 推奨: <理由>\n" ++
"  [EXECUTE]  👥 org-agent: <実行サマリ> / 担当 <employeeName>(<employeeId>) / 承認依頼 <approvalRequestId> 期限 <dueAt>"
---
if ((vars.priorMessages default []) != [])
  (vars.priorMessages default []) ++ [{ role: "user", content: (vars.userText default "") as String }]
else
  [
    { role: "system", content: sysPrompt },
    { role: "user",   content: (vars.userText default "") as String }
  ]]]></ee:set-variable>
                <ee:set-variable variableName="tools"><![CDATA[%dw 2.0
output application/java
---
[
  { "type": "function", "function": {
      name: "find_best_buyer",
      description: "Buyer (調達担当者) を category / region で検索する。未指定なら全件",
      parameters: {
        "type": "object",
        properties: {
          category:         { "type": "string" },
          region:           { "type": "string" },
          supplierGoldenId: { "type": "string" }
        },
        required: []
      }
  }},
  { "type": "function", "function": {
      name: "send_approval_request",
      description: "承認依頼を Slack DM で送信する。approverId は Employee.EmployeeId__c (例 E-1287)",
      parameters: {
        "type": "object",
        properties: {
          approverId:  { "type": "string" },
          subject:     { "type": "string" },
          dueAt:       { "type": "string", "format": "date-time" },
          requesterId: { "type": "string" },
          incidentId:  { "type": "string" },
          details:     { "type": "string" }
        },
        required: ["approverId", "subject", "dueAt"]
      }
  }}
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="agentLoopFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="loopRange"><![CDATA[%dw 2.0
output application/java
---
1 to (p('agent.max_loops') as Number)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <foreach collection="#[vars.loopRange]">
            <choice>
                <when expression="#[(vars.finishReason default '') == 'stop' or (vars.finishReason default '') == 'length' or (vars.finishReason default '') == 'content_filter']">
                    <logger level="INFO" message="#['Skipping iter ' ++ (payload as String) ++ ' (finishReason=' ++ (vars.finishReason default '') ++ ')']"/>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
((payload default 0) - 1) as Number]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="agentInferenceFlow"/>
                    <flow-ref name="agentExecuteToolsFlow"/>
                </otherwise>
            </choice>
        </foreach>
        <logger level="INFO" message="#['Agent loop done. iterations=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '')]"/>
    </sub-flow>

    <sub-flow name="agentInferenceFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="llmBody"><![CDATA[%dw 2.0
output application/json
---
{
  model:       (p('llm.model') default "gpt-5-mini") as String,
  max_completion_tokens:  (p('llm.max_tokens') default 2048) as Number,
  messages:    vars.messages default [],
  tools:       vars.tools default [],
  tool_choice: "auto"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config">
            <http:body>#[vars.llmBody]</http:body>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="assistantMsg"><![CDATA[%dw 2.0
output application/java
---
(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
((((payload default {}).choices default [])[0].finish_reason) default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <choice>
            <when expression="#[(vars.finishReason default '') == 'stop']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
((vars.assistantMsg.content default "") as String)]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" message="#['Loop iter=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '') ++ ' tool_calls=' ++ ((sizeOf(vars.assistantMsg.tool_calls default []) as String))]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="agentExecuteToolsFlow">
        <choice>
            <when expression="#[sizeOf((vars.assistantMsg.tool_calls default [])) == 0]">
                <logger level="INFO" message="No tool_calls in assistant message"/>
            </when>
            <otherwise>
                <foreach collection="#[vars.assistantMsg.tool_calls default []]">
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolCallId"><![CDATA[%dw 2.0
output application/java
---
((payload."id" default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((payload.function.name default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolArgsRaw"><![CDATA[%dw 2.0
output application/java
---
((payload.function.arguments default "{}") as String)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
read((vars.toolArgsRaw default "{}") as String, "application/json")]]></ee:set-variable>
                            <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.toolName default "") as String
---
if (n == "find_best_buyer" or n == "send_approval_request") "hr"
else "unknown"]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="callMcpExecuteFlow"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [{
  role: "tool",
  tool_call_id: (vars.toolCallId default "") as String,
  content: write((vars.toolResult default {}), "application/json") as String
}]]]></ee:set-variable>
                            <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
(vars.actionsLog default []) ++ [{
  tool: (vars.toolName default "") as String,
  result: (vars.toolResult default {})
}]]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </foreach>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- directToolFlow — broker DataPart { tool, args } を LLM 無しで直接 MCP に流す -->
    <!-- ============================================================
         orgExtractFlow — 自然文 → エンティティ + モード抽出のみ。
         mode advise=担当バイヤーを探すだけ / execute=承認依頼送信まで
         ============================================================ -->
    <sub-flow name="orgExtractFlow">
        <!-- broker は parts[0].text に JSON を埋めて送ることがある。 その場合 LLM 抽出を飛ばし
             JSON を直接 entities に展開 (mode=execute)。 自然文なら通常の LLM 抽出。 -->
        <ee:transform doc:name="detect embedded broker JSON">
            <ee:variables>
                <ee:set-variable variableName="brokerJson"><![CDATA[%dw 2.0
output application/java
fun tryRead(s) = if (s == null or (trim(s as String)) == "") null
  else (dw::Runtime::try(() -> read(s as String, "application/json")).result default null)
var ut = trim((vars.userText default "") as String)
var i = ut indexOf "{"
var j = ut lastIndexOf "}"
var outer = if (i >= 0 and j > i) (tryRead(ut[i to j])) else null
var innerStr = if (outer == null) null else ((outer."input" default outer.text default outer."parts[0].text" default outer.message default null))
var inner =
  if (outer == null) null
  else if (innerStr != null and (innerStr is String)) (tryRead(innerStr as String))
  else outer
---
if (inner != null and ((inner.incidentId default null) != null or (inner.region default null) != null or (inner.partNumber default null) != null or (inner.supplierGoldenId default null) != null)) inner else null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <choice doc:name="埋め込みJSON か 自然文か">
            <when expression="#[vars.brokerJson != null]">
                <ee:transform doc:name="broker JSON → intent">
                    <ee:variables>
                        <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
var b = vars.brokerJson default {}
fun nz(v) = if (v == null or (v as String) == "") null else v
---
{
  scope: "org", mode: "execute",
  entities: {
    region:     nz(b.region default null),
    category:   nz(b.category default null),
    incidentId: nz(b.incidentId default null),
    partNumber: nz(b.partNumber default null)
  },
  rawMessage: (b.reason default (vars.userText default "")) as String
}]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" message="#['org-agent broker-JSON path entities=' ++ write(vars.intent.entities default {}, 'application/json')]"/>
            </when>
            <otherwise>
        <ee:transform doc:name="build extractor messages">
            <ee:variables>
                <ee:set-variable variableName="extractMessages"><![CDATA[%dw 2.0
output application/java
var sys =
"あなたは組織・人事 agent の『意図抽出器』です。 ユーザの 1 メッセージを読み、 下記 JSON だけを出力。 説明やコードフェンスは書かない。\n" ++
"\n" ++
"scope: \"org\" (担当者検索・承認依頼) | \"list_suppliers\" (取引先一覧の照会) | \"capability\" | \"out_of_scope\"\n" ++
"  - \"org\"            : 担当バイヤー/担当者を探す、 承認依頼を出す。\n" ++
"  - \"list_suppliers\" : 取引先(サプライヤー)の一覧を見たい。 「取引先一覧」「サプライヤー一覧」「〇〇地域の取引先」「リスクの高い取引先」等。 region/status/リスクで絞れる。\n" ++
"  - \"out_of_scope\"   : 上記以外は全部これ。 特に → 法務・契約・返品請求・ペナルティ (legal) / 代替部品・発注・発注ドラフト (procurement) / 在庫・仮確保 (logistics) / インシデント起票 (incident)。\n" ++
"    ※ 文中に取引先名・部品番号・インシデントID が出てきても、 依頼の動詞が「担当者を探す/承認依頼を出す/取引先一覧を見る」でなければ out_of_scope。 entities に釣られて org にしない。\n" ++
"mode : \"advise\" (適任の担当バイヤーを探すだけ) | \"execute\" (承認依頼を送信まで明示依頼: 「承認依頼を出して」「依頼して」「送って」)\n" ++
"\n" ++
"entities は読めた値だけ。 null 可。 推測禁止。\n" ++
"  region (例:九州) / category (例:機械部品) / incidentId (INC-...) / partNumber (P-...) / status (ACTIVE/INACTIVE 等)\n" ++
"\n" ++
"出力: {\"scope\":\"...\",\"mode\":\"advise\",\"entities\":{\"region\":null,\"category\":null,\"incidentId\":null,\"partNumber\":null,\"status\":null},\"rawMessage\":\"原文\"}"
---
[
  { role: "system",    content: sys },
  { role: "user",      content: "九州の機械部品の担当バイヤーに承認依頼を出して。INC-2026-0579" },
  { role: "assistant", content: write({ scope: "org", mode: "execute", entities: { region: "九州", category: "機械部品", incidentId: "INC-2026-0579", partNumber: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "機械部品の担当者は誰?" },
  { role: "assistant", content: write({ scope: "org", mode: "advise", entities: { region: null, category: "機械部品", incidentId: null, partNumber: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "九州地域の取引先一覧を見せて" },
  { role: "assistant", content: write({ scope: "list_suppliers", mode: "advise", entities: { region: "九州", category: null, incidentId: null, partNumber: null, status: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "リスクの高いサプライヤーを教えて" },
  { role: "assistant", content: write({ scope: "list_suppliers", mode: "advise", entities: { region: null, category: null, incidentId: null, partNumber: null, status: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "何ができる?" },
  { role: "assistant", content: write({ scope: "capability", mode: "advise", entities: { region: null, category: null, incidentId: null, partNumber: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "在庫を仮確保して" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { region: null, category: null, incidentId: null, partNumber: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "品質保証協定で返品請求できるか法務的に見て" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { region: null, category: null, incidentId: null, partNumber: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "代替部品の発注ドラフトを作って" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { region: null, category: null, incidentId: null, partNumber: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: (vars.userText default "") as String }
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="build extractor body">
            <ee:variables>
                <ee:set-variable variableName="extractBody"><![CDATA[%dw 2.0
output application/json
---
{ model: (p('llm.model') default "gpt-5-mini") as String, max_completion_tokens: (p('llm.max_tokens') default 2048) as Number, messages: (vars.extractMessages default []) }]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config">
            <http:body>#[vars.extractBody]</http:body>
            <http:response-validator><http:success-status-code-validator values="0..599"/></http:response-validator>
        </http:request>
        <ee:transform doc:name="parse intent JSON">
            <ee:variables>
                <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
fun extractJson(s) = do {
  var t = trim(s default "")
  var noFence = (t replace /```(json)?/ with "") replace "```" with ""
  var i = noFence indexOf "{"
  var j = noFence lastIndexOf "}"
  --- if (i >= 0 and j > i) (noFence[i to j]) else "{}"
}
// LLM 出力が不正/途中切れ JSON でも落ちないよう try で包む。 失敗時は {} にフォールバック。
fun safeReadJson(s) =
  if (s == null or (trim(s as String)) == "") {}
  else (dw::Runtime::try(() -> read(extractJson(s as String), "application/json")).result default {})
var resp = if (payload == null) {} else if (payload is Binary) (dw::Runtime::try(() -> read(payload as String {encoding: "UTF-8"}, "application/json")).result default {}) else if (payload is String) (dw::Runtime::try(() -> read(payload as String, "application/json")).result default {}) else payload
var raw = ((resp.choices default [])[0].message.content default "{}") as String
var obj = safeReadJson(raw)
// 決定論バックフィル: userText から正規表現で確実に拾える値を LLM が null にした時だけ補う。
var ut = (vars.userText default "") as String
fun firstMatch(re) = do { var m = (ut scan re) --- if (sizeOf(m) > 0) m[0][0] else null }
var rxPart = firstMatch(/P-\d{4}-[A-Z0-9]+-\d+/)
var rxInc  = firstMatch(/INC-[0-9A-Za-z-]+/)
var le = (obj.entities default {})
var ents = le ++
  (if ((le.partNumber default null) == null and rxPart != null) { partNumber: rxPart } else {}) ++
  (if ((le.incidentId default null) == null and rxInc  != null) { incidentId: rxInc } else {})
---
{ scope: (obj.scope default "org") as String, mode: (obj.mode default "advise") as String, entities: ents, rawMessage: (obj.rawMessage default ((vars.userText default "") as String)) as String }]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="#['org-agent scope=' ++ (vars.intent.scope default '?') ++ ' mode=' ++ (vars.intent.mode default '?') ++ ' entities=' ++ write(vars.intent.entities default {}, 'application/json')]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         orgRouterFlow — find_best_buyer (READ) → mode=execute なら send_approval_request。
         incidentId は execute 時に必須。
         ============================================================ -->
    <sub-flow name="orgRouterFlow">
        <choice doc:name="dispatch by scope">
            <when expression='#[(vars.intent.scope default "") == "capability"]'>
                <ee:transform><ee:variables><ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"👥 組織・人事 (atelier-org-agent) です。\n\n**できること**\n- 適任の担当バイヤー検索 (region / category)\n- 承認依頼の送信 (Slack DM)\n- 取引先(サプライヤー)一覧の照会 (region / status / リスクスコアで絞込み)\n\n**担当外**: インシデント (incident) / 法務 (legal) / 発注 (procurement) / 在庫 (logistics)。"]]></ee:set-variable></ee:variables></ee:transform>
            </when>
            <!-- 取引先一覧の照会 (READ-ONLY): MDM list_suppliers。 region/status で絞り、 リスクスコア順に表示 -->
            <when expression='#[(vars.intent.scope default "") == "list_suppliers"]'>
                <ee:transform doc:name="build list_suppliers args">
                    <ee:variables>
                        <ee:set-variable variableName="toolName">#['list_suppliers']</ee:set-variable>
                        <ee:set-variable variableName="mcpKind">#['mdm']</ee:set-variable>
                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
{ limit: 20 } ++
  (if (e.region != null) { region: e.region } else {}) ++
  (if (e.status != null) { status: e.status } else {})]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="format supplier list">
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var r = (vars.toolResult.result default vars.toolResult default {})
var items = (r.suppliers default r.items default [])
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
---
if (sizeOf(items) == 0)
  "👥 組織・人事: 条件に合う取引先は見つかりませんでした。"
else
  ("👥 組織・人事 (取引先一覧 " ++ (sizeOf(items) as String) ++ "件)\n\n" ++
   "| GoldenId | 取引先 | region | status | リスク |\n|---|---|---|---|---|\n" ++
   (items map ((s) ->
     "| **" ++ cell(s.goldenId default s.supplierGoldenId) ++ "** | " ++ cell(s.name default s.supplierName) ++
     " | " ++ cell(s.region) ++ " | " ++ cell(s.status) ++ " | " ++ cell(s.riskScore) ++ " |"
   ) joinBy "\n"))]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <when expression='#[(vars.intent.scope default "") == "out_of_scope"]'>
                <ee:transform><ee:variables><ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"その依頼は組織・人事 agent の担当外です。\nインシデントは incident、 法務は legal、 発注は procurement、 在庫は logistics、 もしくは broker へ。"]]></ee:set-variable></ee:variables></ee:transform>
            </when>
            <otherwise>
                <!-- STEP 1: 担当バイヤー検索 -->
                <ee:transform doc:name="build find_best_buyer args">
                    <ee:variables>
                        <ee:set-variable variableName="toolName">#['find_best_buyer']</ee:set-variable>
                        <ee:set-variable variableName="mcpKind">#['hr']</ee:set-variable>
                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
{} ++ (if (e.region != null) { region: e.region } else {}) ++ (if (e.category != null) { category: e.category } else {})]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="pick buyer (1st pass)">
                    <ee:variables>
                        <ee:set-variable variableName="buyer"><![CDATA[%dw 2.0
output application/java
var b = ((vars.toolResult.result default {}).buyers default [])
---
if (sizeOf(b) > 0) b[0] else null]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <!-- 絞り込みで 0 件なら filter を外して全社から再検索 (専任不在→全社で探す自然な挙動) -->
                <choice>
                    <when expression='#[(vars.buyer default null) == null and ((vars.intent.entities.region default null) != null or (vars.intent.entities.category default null) != null)]'>
                        <ee:transform doc:name="retry find_best_buyer no filter">
                            <ee:variables>
                                <ee:set-variable variableName="toolName">#['find_best_buyer']</ee:set-variable>
                                <ee:set-variable variableName="mcpKind">#['hr']</ee:set-variable>
                                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
{}]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                        <flow-ref name="callMcpExecuteFlow"/>
                        <ee:transform doc:name="pick buyer (fallback)">
                            <ee:variables>
                                <ee:set-variable variableName="buyer"><![CDATA[%dw 2.0
output application/java
var b = ((vars.toolResult.result default {}).buyers default [])
---
if (sizeOf(b) > 0) b[0] else null]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </when>
                    <otherwise>
                        <logger level="INFO" message="org buyer 1st pass OK or no filter"/>
                    </otherwise>
                </choice>
                <choice doc:name="mode=execute なら承認依頼">
                    <when expression='#[(vars.intent.mode default "advise") == "execute" and (vars.buyer default null) != null and (vars.intent.entities.incidentId default null) != null]'>
                        <ee:transform doc:name="build send_approval_request args">
                            <ee:variables>
                                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
var due = (now() + |P3D|) as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" }
---
{
  approverId: (vars.buyer.employeeId default "") as String,
  subject:    ("インシデント " ++ (e.incidentId default "") as String ++ " の対応承認依頼"),
  dueAt:      due
} ++ (if (e.incidentId != null) { incidentId: e.incidentId } else {})]]></ee:set-variable>
                                <ee:set-variable variableName="toolName">#['send_approval_request']</ee:set-variable>
                                <ee:set-variable variableName="mcpKind">#['hr']</ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                        <flow-ref name="callMcpExecuteFlow"/>
                        <ee:transform doc:name="format execute result">
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var r = (vars.toolResult.result default vars.toolResult default {})
var b = vars.buyer default {}
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
---
"👥 組織エージェント (実行完了)\n\n" ++
"| 項目 | 値 |\n|---|---|\n" ++
"| 担当バイヤー | **" ++ cell(b.name default b.employeeName) ++ "** (" ++ cell(b.employeeId) ++ ") |\n" ++
"| 承認依頼 | **" ++ cell(r.approvalRequestId default r.approvalId) ++ "** |\n" ++
"| 期限 | " ++ cell(r.dueAt) ++ " |"]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </when>
                    <otherwise>
                        <ee:transform doc:name="format advise result">
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var b = vars.buyer default null
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
---
if (b == null)
  "👥 組織エージェント: 条件に合う担当バイヤーが見つかりませんでした。 region / category を指定してください。"
else
  ("👥 組織エージェント (担当者検索)\n\n" ++
   "| 項目 | 値 |\n|---|---|\n" ++
   "| 担当バイヤー | **" ++ cell(b.name default b.employeeName) ++ "** (" ++ cell(b.employeeId) ++ ") |\n" ++
   "| 役割 | " ++ cell(b.role) ++ " |\n" ++
   "| 地域 / カテゴリ | " ++ cell(b.region) ++ " / " ++ cell(b.category) ++ " |\n\n" ++
   "incidentId を添えて「承認依頼を出して」で送信します。")]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </otherwise>
                </choice>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="directToolFlow">
        <ee:transform doc:name="map directPart → toolName/toolArgs/mcpKind">
            <ee:variables>
                <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((vars.directPart.tool default vars.directPart.toolName default "") as String)]]></ee:set-variable>
                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
(vars.directPart.args default vars.directPart."input" default {})]]></ee:set-variable>
                <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.directPart.tool default vars.directPart.toolName default "") as String
---
if (n == "find_best_buyer" or n == "send_approval_request") "hr"
else "unknown"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO"
                message="#['org-agent direct fast-path: tool=' ++ (vars.toolName default '') ++ ' args=' ++ write(vars.toolArgs default {}, 'application/json')]"/>
        <choice>
            <when expression="#[(vars.mcpKind default '') == 'unknown' or (vars.toolName default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
write({ status: "error", agent: "atelier-org-agent", mode: "direct", result: { code: "UNKNOWN_TOOL", message: "unsupported tool for direct mode: " ++ (vars.toolName default ""), supported: ["find_best_buyer","send_approval_request"] } }, "application/json") as String]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="wrap direct result as JSON reply">
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
write({ status: "ok", agent: "atelier-org-agent", mode: "direct", tool: (vars.toolName default "") as String, result: (vars.toolResult default {}) }, "application/json") as String]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="callMcpExecuteFlow">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  toolName: (vars.toolName default "") as String,
  "input":  (vars.toolArgs default {})
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <try>
            <choice>
                <when expression="#[(vars.mcpKind default '') == 'mdm']">
                    <http:request method="POST" path="/mcp/execute" config-ref="MDM_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <when expression="#[(vars.mcpKind default '') == 'hr']">
                    <http:request method="POST" path="/mcp/execute" config-ref="HR_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "UNKNOWN_TOOL", message: "no MCP for tool: " ++ (vars.toolName default "") } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </otherwise>
            </choice>
            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "MCP_CALL_FAILED", message: (error.description default error.message default "unknown") as String } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <logger level="WARN"
                            message="#['MCP call failed kind=' ++ (vars.mcpKind default '') ++ ' tool=' ++ (vars.toolName default '') ++ ' err=' ++ (error.description default error.message default 'unknown')]"/>
                </on-error-continue>
            </error-handler>
        </try>
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="toolResult"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s: String) =
  if (s == null or trim(s) == "") {}
  else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload as String)
else payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="loadMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <try>
                    <os:retrieve key="#[vars.contextId]" objectStore="MEMORY_STORE" target="priorRaw"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
fun parseList(s) = if (s == null or s == "") [] else read(s, "application/json")
---
if (vars.priorRaw == null) []
else if (vars.priorRaw is String) parseList(vars.priorRaw as String)
else (vars.priorRaw default [])]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <error-handler>
                        <on-error-continue type="OS:KEY_NOT_FOUND, OS:STORE_NOT_AVAILABLE, ANY">
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
        <logger level="INFO"
                message="#['memory load: contextId=' ++ (vars.contextId default '') ++ ' priorMessages=' ++ (sizeOf(vars.priorMessages default []) as String)]"/>
    </sub-flow>

    <sub-flow name="saveMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <logger level="INFO" message="memory save skipped (no contextId)"/>
            </when>
            <otherwise>
                <try>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
write((vars.messages default []), "application/json") as String]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <os:store key="#[vars.contextId]" objectStore="MEMORY_STORE">
                        <os:value>#[payload]</os:value>
                    </os:store>
                    <logger level="INFO"
                            message="#['memory save: contextId=' ++ (vars.contextId default '') ++ ' messages=' ++ (sizeOf(vars.messages default []) as String)]"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN" message="#['memory save failed: ' ++ (error.description default error.message default 'unknown')]"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
    </sub-flow>

</mule>
