atelier-agents/mcp-procurement/src/main/mule/atelier-mcp-procurement.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <http:request-config name="Procurement_System_Request_config" basePath="/">
        <http:request-connection host="${backend.procurement.host}"
                                 port="${backend.procurement.port}"
                                 protocol="${backend.procurement.protocol}"/>
    </http:request-config>

    <apikit:config name="atelier-mcp-procurement-config"
                   api="api/atelier-mcp-procurement.yaml"
                   outboundHeadersMapName="outboundHeaders"
                   httpStatusVarName="httpStatus"/>

    <flow name="atelier-mcp-procurement-main">
        <http:listener config-ref="HTTP_Listener_config" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="atelier-mcp-procurement-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ code: "BAD_REQUEST", message: error.description default (error.message default "bad request") }]]></ee:set-payload></ee:message>
                    <ee:variables><ee:set-variable variableName="httpStatus">400</ee:set-variable></ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ code: "NOT_FOUND", message: error.description default "resource not found" }]]></ee:set-payload></ee:message>
                    <ee:variables><ee:set-variable variableName="httpStatus">404</ee:set-variable></ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ code: "METHOD_NOT_ALLOWED", message: error.description default "method not allowed" }]]></ee:set-payload></ee:message>
                    <ee:variables><ee:set-variable variableName="httpStatus">405</ee:set-variable></ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="post:\mcp:application\json:atelier-mcp-procurement-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="rpcId"><![CDATA[%dw 2.0
output application/java
---
payload.id default null]]></ee:set-variable>
                <ee:set-variable variableName="rpcMethod"><![CDATA[%dw 2.0
output application/java
---
(payload.method default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="rpcParams"><![CDATA[%dw 2.0
output application/java
---
payload.params default {}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <choice>
            <when expression='#[vars.rpcMethod == "initialize"]'>
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ jsonrpc: "2.0", id: vars.rpcId, result: { protocolVersion: "2025-03-26", serverInfo: { name: "atelier-mcp-procurement", version: "1.0.0" }, capabilities: { tools: { listChanged: false } } } }]]></ee:set-payload></ee:message></ee:transform>
            </when>
            <when expression='#[vars.rpcMethod == "notifications/initialized"]'>
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{}]]></ee:set-payload></ee:message></ee:transform>
            </when>
            <when expression='#[vars.rpcMethod == "tools/list"]'>
                <flow-ref name="build-tools-list-mcp"/>
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ jsonrpc: "2.0", id: vars.rpcId, result: payload }]]></ee:set-payload></ee:message></ee:transform>
            </when>
            <when expression='#[vars.rpcMethod == "tools/call"]'>
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
(vars.rpcParams.name default "") as String]]></ee:set-variable>
                        <ee:set-variable variableName="toolInput"><![CDATA[%dw 2.0
output application/java
---
vars.rpcParams.arguments default {}]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref name="dispatch-tool"/>
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
var resultBody = payload.result default {}
var isError = (payload.status default "") == "error"
---
{ jsonrpc: "2.0", id: vars.rpcId, result: { content: [{ "type": "text", text: write(resultBody, "application/json") }], isError: isError } }]]></ee:set-payload></ee:message></ee:transform>
            </when>
            <otherwise>
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ jsonrpc: "2.0", id: vars.rpcId, error: { code: -32601, message: "Method not found: " ++ (vars.rpcMethod default "") } }]]></ee:set-payload></ee:message></ee:transform>
            </otherwise>
        </choice>
    </flow>

    <flow name="get:\mcp:atelier-mcp-procurement-config">
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ code: "METHOD_NOT_ALLOWED", message: "server-initiated stream not supported" }]]></ee:set-payload></ee:message>
            <ee:variables><ee:set-variable variableName="httpStatus">405</ee:set-variable></ee:variables>
        </ee:transform>
    </flow>

    <flow name="get:\mcp\tools:atelier-mcp-procurement-config">
        <flow-ref name="build-tools-list-legacy"/>
    </flow>

    <flow name="post:\mcp\execute:application\json:atelier-mcp-procurement-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
(payload.toolName default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="toolInput"><![CDATA[%dw 2.0
output application/java
---
payload."input" default {}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref name="dispatch-tool"/>
    </flow>

    <flow name="build-tools-list-mcp">
        <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  tools: [
    {
      name: "get_alternative_parts",
      description: "代替部品候補を IDMC KG から取得する。互換スコア降順で返す。",
      inputSchema: {
        "type": "object",
        properties: { partNumber: { "type": "string" } },
        required: ["partNumber"]
      }
    },
    {
      name: "create_purchase_order_draft",
      description: "代替発注書ドラフトを生成する。Status=DRAFT で挿入し autonumber を draftId として返す。",
      inputSchema: {
        "type": "object",
        properties: {
          partNumber:       { "type": "string" },
          quantity:         { "type": "integer" },
          supplierGoldenId: { "type": "string" },
          incidentId:       { "type": "string" },
          unitPrice:        { "type": "number" },
          notes:            { "type": "string" }
        },
        required: ["partNumber", "quantity", "supplierGoldenId"]
      }
    },
    {
      name: "notify_supplier",
      description: "サプライヤーへの連絡をキューする。発注・キャンセル・情報の 3 種別。",
      inputSchema: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          "type":           { "type": "string", "enum": ["ORDER", "CANCEL", "INFO"] },
          message:          { "type": "string" },
          incidentId:       { "type": "string" }
        },
        required: ["supplierGoldenId", "type", "message"]
      }
    }
  ]
}]]></ee:set-payload></ee:message></ee:transform>
    </flow>

    <flow name="build-tools-list-legacy">
        <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  tools: [
    {
      name: "get_alternative_parts",
      description: "代替部品候補を IDMC KG から取得する。互換スコア降順で返す。",
      input_schema: {
        "type": "object",
        properties: { partNumber: { "type": "string" } },
        required: ["partNumber"]
      }
    },
    {
      name: "create_purchase_order_draft",
      description: "代替発注書ドラフトを生成する。Status=DRAFT で挿入し autonumber を draftId として返す。",
      input_schema: {
        "type": "object",
        properties: {
          partNumber:       { "type": "string" },
          quantity:         { "type": "integer" },
          supplierGoldenId: { "type": "string" },
          incidentId:       { "type": "string" },
          unitPrice:        { "type": "number" },
          notes:            { "type": "string" }
        },
        required: ["partNumber", "quantity", "supplierGoldenId"]
      }
    },
    {
      name: "notify_supplier",
      description: "サプライヤーへの連絡をキューする。発注・キャンセル・情報の 3 種別。",
      input_schema: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          "type":           { "type": "string", "enum": ["ORDER", "CANCEL", "INFO"] },
          message:          { "type": "string" },
          incidentId:       { "type": "string" }
        },
        required: ["supplierGoldenId", "type", "message"]
      }
    }
  ]
}]]></ee:set-payload></ee:message></ee:transform>
    </flow>

    <flow name="dispatch-tool">
        <choice>
            <when expression='#[vars.toolName == "get_alternative_parts"]'>
                <flow-ref name="tool-get-alternative-parts"/>
            </when>
            <when expression='#[vars.toolName == "create_purchase_order_draft"]'>
                <flow-ref name="tool-create-purchase-order-draft"/>
            </when>
            <when expression='#[vars.toolName == "notify_supplier"]'>
                <flow-ref name="tool-notify-supplier"/>
            </when>
            <otherwise>
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: vars.toolName, result: { code: "UNKNOWN_TOOL", message: "tool not supported: " ++ (vars.toolName default "") } }]]></ee:set-payload></ee:message></ee:transform>
            </otherwise>
        </choice>
    </flow>

    <flow name="tool-get-alternative-parts">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="qp"><![CDATA[%dw 2.0
output application/java
---
{ "partNumber": (vars.toolInput.partNumber default "") as String }]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" path="/procurement/alternatives" config-ref="Procurement_System_Request_config">
            <http:query-params>#[vars.qp]</http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
        <flow-ref name="wrap-system-response"/>
    </flow>

    <flow name="tool-create-purchase-order-draft">
        <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.toolInput]]></ee:set-payload></ee:message></ee:transform>
        <http:request method="POST" path="/procurement/purchase-orders/draft" config-ref="Procurement_System_Request_config">
            <http:headers><![CDATA[#[{ "Content-Type": "application/json" }]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
        <flow-ref name="wrap-system-response"/>
    </flow>

    <flow name="tool-notify-supplier">
        <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.toolInput]]></ee:set-payload></ee:message></ee:transform>
        <http:request method="POST" path="/procurement/notifications" config-ref="Procurement_System_Request_config">
            <http:headers><![CDATA[#[{ "Content-Type": "application/json" }]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
        <flow-ref name="wrap-system-response"/>
    </flow>

    <flow name="wrap-system-response">
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
var status = attributes.statusCode default 0
---
{ status: (if (status >= 200 and status < 300) "success" else "error"), tool: vars.toolName, result: (payload default {}) }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

    <flow name="get:\health:atelier-mcp-procurement-config">
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-mcp-procurement" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

</mule>
