atelier-agents/mcp-procurement/src/main/mule/atelier-mcp-procurement.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <http:request-config name="Procurement_System_Request_config" basePath="/">
        <http:request-connection host="${backend.procurement.host}"
                                 port="${backend.procurement.port}"
                                 protocol="${backend.procurement.protocol}"/>
    </http:request-config>

    <!-- ============================================================
         MCP Server (Streamable HTTP transport)。 mule-mcp-connector が
         /mcp で initialize / tools/list / tools/call / SSE / session 管理 /
         notifications/initialized の 202 応答 を全部処理する。
         ツールは <mcp:tool-listener> で宣言。 ビジネスロジック (backend 呼出) は
         既存 sub-flow を流用する。
         ============================================================ -->
    <mcp:server-config name="MCP_Server_config"
                       serverName="atelier-mcp-procurement"
                       serverVersion="1.1.0">
        <mcp:streamable-http-server-connection listenerConfig="HTTP_Listener_config"
                                               mcpEndpointPath="/mcp"/>
    </mcp:server-config>

    <!-- ============================================================
         MCP tool: get_alternative_parts
         ============================================================ -->
    <flow name="tool-get-alternative-parts-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="get_alternative_parts">
            <mcp:description>代替部品候補を IDMC KG から取得する。互換スコア降順で返す。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": { "partNumber": { "type": "string" } },
  "required": ["partNumber"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['get_alternative_parts']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="tool-get-alternative-parts"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         MCP tool: create_purchase_order_draft
         ============================================================ -->
    <flow name="tool-create-purchase-order-draft-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="create_purchase_order_draft">
            <mcp:description>代替発注書ドラフトを生成する。Status=DRAFT で挿入し autonumber を draftId として返す。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {
    "partNumber":       { "type": "string" },
    "quantity":         { "type": "integer" },
    "supplierGoldenId": { "type": "string" },
    "incidentId":       { "type": "string" },
    "unitPrice":        { "type": "number" },
    "notes":            { "type": "string" }
  },
  "required": ["partNumber", "quantity", "supplierGoldenId"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['create_purchase_order_draft']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="tool-create-purchase-order-draft"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         MCP tool: notify_supplier
         ============================================================ -->
    <flow name="tool-notify-supplier-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="notify_supplier">
            <mcp:description>サプライヤーへの連絡をキューする。発注・キャンセル・情報の 3 種別。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {
    "supplierGoldenId": { "type": "string" },
    "type":             { "type": "string", "enum": ["ORDER", "CANCEL", "INFO"] },
    "message":          { "type": "string" },
    "incidentId":       { "type": "string" }
  },
  "required": ["supplierGoldenId", "type", "message"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['notify_supplier']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="tool-notify-supplier"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         normalize-tool-input — MCP tool 引数 payload は特殊型なので、
         write→read で純粋な JSON Map に正規化して vars.toolInput に入れる。
         (output application/java で payload を直接書くと "No read/write handler"
          の writer 罠を踏むため。 値は reader で読む。)
         ============================================================ -->
    <sub-flow name="normalize-tool-input">
        <ee:transform doc:name="payload(MCP args) → vars.toolInput (clean Map)">
            <ee:variables>
                <ee:set-variable variableName="toolInput"><![CDATA[%dw 2.0
output application/java
---
read(write(payload default {}, "application/json"), "application/json")]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <!-- ============================================================
         互換経路: agent が叩く簡易 REST。
         POST /mcp/execute { toolName, input } → { status, tool, result }
         MCP Connector 化後も agent は無改修でこの経路を使える。
         ============================================================ -->
    <flow name="mcp-execute-compat">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/execute">
            <http:response statusCode="200"/>
        </http:listener>
        <ee:transform doc:name="extract toolName / input">
            <ee:variables>
                <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
(payload.toolName default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="toolInput"><![CDATA[%dw 2.0
output application/java
---
payload."input" default {}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref name="dispatch-tool"/>
    </flow>

    <!-- dispatch-tool — toolName で各ツール sub-flow へ。 /mcp/execute から使う。 -->
    <flow name="dispatch-tool">
        <choice>
            <when expression='#[vars.toolName == "get_alternative_parts"]'>
                <flow-ref name="tool-get-alternative-parts"/>
            </when>
            <when expression='#[vars.toolName == "create_purchase_order_draft"]'>
                <flow-ref name="tool-create-purchase-order-draft"/>
            </when>
            <when expression='#[vars.toolName == "notify_supplier"]'>
                <flow-ref name="tool-notify-supplier"/>
            </when>
            <otherwise>
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: vars.toolName, result: { code: "UNKNOWN_TOOL", message: "tool not supported: " ++ (vars.toolName default "") } }]]></ee:set-payload></ee:message></ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- ============================================================
         ツールのビジネスロジック (procurement-system backend 呼出 + 整形)。
         APIKit 版からそのまま流用。 vars.toolName / vars.toolInput を読む。
         結果は payload = { status, tool, result }。
         ============================================================ -->
    <sub-flow name="tool-get-alternative-parts">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="qp"><![CDATA[%dw 2.0
output application/java
---
{ "partNumber": (vars.toolInput.partNumber default "") as String }]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" path="/procurement/alternatives" config-ref="Procurement_System_Request_config">
            <http:query-params>#[vars.qp]</http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
        <flow-ref name="wrap-system-response"/>
    </sub-flow>

    <sub-flow name="tool-create-purchase-order-draft">
        <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.toolInput]]></ee:set-payload></ee:message></ee:transform>
        <http:request method="POST" path="/procurement/purchase-orders/draft" config-ref="Procurement_System_Request_config">
            <http:headers><![CDATA[#[{ "Content-Type": "application/json" }]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
        <flow-ref name="wrap-system-response"/>
    </sub-flow>

    <sub-flow name="tool-notify-supplier">
        <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.toolInput]]></ee:set-payload></ee:message></ee:transform>
        <http:request method="POST" path="/procurement/notifications" config-ref="Procurement_System_Request_config">
            <http:headers><![CDATA[#[{ "Content-Type": "application/json" }]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
        <flow-ref name="wrap-system-response"/>
    </sub-flow>

    <sub-flow name="wrap-system-response">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="status"><![CDATA[%dw 2.0
output application/java
---
(attributes.statusCode default 0) as Number]]></ee:set-variable>
                <ee:set-variable variableName="bodyObj"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s) = if (s == null or trim(s) == "") {} else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload)
else payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: (if ((vars.status default 0) >= 200 and (vars.status default 0) < 300) "success" else "error"), tool: vars.toolName, result: vars.bodyObj default {} }]]></ee:set-payload></ee:message>
        </ee:transform>
    </sub-flow>

    <!-- GET /health -->
    <flow name="health">
        <http:listener config-ref="HTTP_Listener_config" path="/health">
            <http:response statusCode="200"/>
        </http:listener>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-mcp-procurement", transport: "streamable-http", mcpPath: "/mcp" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

</mule>
