atelier-agents/procurement-agent/src/main/mule/procurement-agent.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:jmx="http://www.mulesoft.org/schema/mule/jmx"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
          http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
          http://www.mulesoft.org/schema/mule/jmx http://www.mulesoft.org/schema/mule/jmx/current/mule-jmx.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="${http.listener.port}"/>
    </http:listener-config>

    <a2a:server-config name="A2A_Server_config">
        <a2a:connection listenerConfig="HTTP_Listener_config" agentPath="${a2a.path}"/>
        <a2a:agent-card>
            <a2a:json><![CDATA[{
  "protocolVersion": "0.3.0",
  "name": "atelier-procurement-agent",
  "description": "調達担当 AI エージェント (Atelier 用 同期 A2A 版)。代替部品検索 / 発注ドラフト / サプライヤー通知を LLM tool-use ループで実施し、統合サマリを返す。在庫照会・仮確保は logistics-agent、 サプライヤーリスクスコア更新・KG 記録は legal-agent 経路 (いずれも対象外)。",
  "url": "${agent.public.url}",
  "version": "1.0.0",
  "preferredTransport": "JSONRPC",
  "capabilities": { "streaming": false, "pushNotifications": false, "stateTransitionHistory": false },
  "defaultInputModes": ["text/plain", "application/json"],
  "defaultOutputModes": ["text/plain", "application/json"],
  "skills": [
    {
      "id": "procurement_handle_incident",
      "name": "調達インシデント対応 (LLM tool-use)",
      "description": "サプライヤー品質インシデント連絡を自然文で受け取り、代替部品検索 / 発注ドラフト / 通知 を tool-use ループで実施し、Slack 投稿フォーマットの統合サマリを返す。在庫照会・仮確保は logistics-agent の担当 (対象外)。",
      "examples": [
        "関西部品 G-KANSAI-PARTS-001 の P-2024-KAN-001 で不良率15% (500個 HIGH)。INC-2026-0521。代替部品で調達対応してほしい。"
      ],
      "inputModes": ["text/plain", "application/json"],
      "outputModes": ["text/plain", "application/json"],
      "tags": ["procurement", "inventory", "purchase-order"]
    }
  ]
}]]></a2a:json>
        </a2a:agent-card>
    </a2a:server-config>

    <http:request-config name="LLM_Request_config" basePath="/" responseTimeout="${llm.timeout}">
        <http:request-connection host="openai-proxy.demos.mulesoft.com"
                                 port="443"
                                 protocol="HTTPS"/>
        <http:default-headers>
            <http:default-header key="Authorization" value="Basic ${llm.token}"/>
            <http:default-header key="Content-Type" value="application/json; charset=utf-8"/>
        </http:default-headers>
    </http:request-config>

    <http:request-config name="Procurement_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.procurement.host}" port="${mcp.procurement.port}" protocol="${mcp.procurement.protocol}"/>
    </http:request-config>
    <http:request-config name="Inventory_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.inventory.host}" port="${mcp.inventory.port}" protocol="${mcp.inventory.protocol}"/>
    </http:request-config>
    <http:request-config name="MDM_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.mdm.host}" port="${mcp.mdm.port}" protocol="${mcp.mdm.protocol}"/>
    </http:request-config>

    <jmx:config name="JMX_Config" logBufferSize="5000"/>

    <os:object-store name="MEMORY_STORE"
                     entryTtl="1" entryTtlUnit="HOURS"
                     expirationInterval="5" expirationIntervalUnit="MINUTES"
                     maxEntries="500"
                     persistent="false"/>

    <flow name="procurementAgentTaskFlow">
        <a2a:task-listener config-ref="A2A_Server_config">
            <a2a:response>
                <a2a:response>#[vars.taskJson]</a2a:response>
            </a2a:response>
        </a2a:task-listener>

        <logger level="INFO"
                message="#['atelier-procurement-agent A2A task received. method=' ++ (attributes.jsonRpcMethod default '?') ++ ' taskId=' ++ (attributes.taskId default '?')]"/>

        <ee:transform doc:name="extract user text + task ids + contextId">
            <ee:variables>
                <ee:set-variable variableName="taskId"><![CDATA[%dw 2.0
output application/java
---
((attributes.taskId default (now() as String)) as String)]]></ee:set-variable>
                <ee:set-variable variableName="msgObj"><![CDATA[%dw 2.0
output application/java
---
if (payload is String) read(payload, "application/json") else payload]]></ee:set-variable>
                <ee:set-variable variableName="contextId"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var fromAttr = (attributes.contextId default "") as String
var fromMsg  = (p.message.contextId default "") as String
---
if (fromAttr != "") fromAttr else fromMsg]]></ee:set-variable>
                <ee:set-variable variableName="userText"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var parts = (p.message.parts default [])
var textPart = (parts filter ((x) -> (x.kind default x."type" default "") == "text"))
---
if (sizeOf(textPart) > 0) ((textPart[0].text default "") as String)
else (((parts[0].text default "") as String))]]></ee:set-variable>
                <ee:set-variable variableName="directPart"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var dataParts = ((p.message.parts default []) filter ((x) -> (x.kind default x."type" default "") == "data"))
---
if (sizeOf(dataParts) > 0) (dataParts[0].data default null) else null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO"
                message="#['procurement-agent: directPart=' ++ (if (vars.directPart != null) 'yes' else 'no') ++ ' userText=' ++ ((vars.userText default '') as String)]"/>

        <choice doc:name="broker direct (data part) か 人間 自然文か">
            <when expression="#[vars.directPart != null]">
                <flow-ref name="directToolFlow"/>
            </when>
            <otherwise>
                <try>
                    <flow-ref name="procExtractFlow"/>
                    <flow-ref name="procRouterFlow"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message="#['proc intent pipeline failed: ' ++ (error.description default error.message default 'unknown')]"/>
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"⚠️ atelier-procurement-agent: 処理中にエラーが発生しました。\n" ++
"  " ++ ((error.description default (error.message default "unknown")) as String)]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>

        <ee:transform doc:name="prepare reply text">
            <ee:variables>
                <ee:set-variable variableName="replyText"><![CDATA[%dw 2.0
output application/java
var t = ((vars.finalText default "") as String)
// 最後の assistant メッセージの content (途中まで考えた内容) を拾う。
// vars.messages の末尾を辿り、 role=="assistant" で content が空でないものを採用。
var msgs = (vars.messages default [])
var lastAssistant = (msgs filter ((m) -> ((m.role default "") as String) == "assistant" and ((m.content default "") as String) != ""))
var lastAssistantContent = if (sizeOf(lastAssistant) > 0) ((lastAssistant[-1].content default "") as String) else ""
var fallbackByReason =
  if ((vars.finishReason default "") as String == "length")
    "ℹ️ 調達 (atelier-procurement-agent) です。\n\n回答が文字数上限に達しました。\nサプライヤー名・部品番号・必要数のいずれかを指定して再度お試しください。"
  else
    "ℹ️ 調達 (atelier-procurement-agent) です。\n\n**実行可能な操作**\n- 取引先のゴールデン ID 解決\n- 過去インシデント・取引先関係の照会\n- 取引先一覧 (region / status / リスクスコア範囲で絞込み)\n- 取引先 region 一覧 (各 region の件数付き)\n- 代替部品候補の取得\n- 発注ドラフトの作成\n- 取引先への通知メッセージ送付\n\n**対象外** (依頼されても実施しません): 在庫照会・在庫の仮確保 (logistics) / サプライヤーリスクスコア更新 / KG (オントロジー) 記録 / 法務契約照会 / 承認依頼送信 / インシデント採番。\n\nお手数ですがサプライヤー名・部品番号・必要数のいずれかを指定してください。"
---
if (t != "") t
else if (lastAssistantContent != "") lastAssistantContent
else fallbackByReason]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <flow-ref name="saveMemoryFlow"/>

        <ee:transform doc:name="build A2A Task response">
            <ee:variables>
                <ee:set-variable variableName="taskJson"><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.taskId,
  contextId: vars.contextId,
  kind: "task",
  status: {
    state: "completed",
    message: {
      role: "agent",
      kind: "message",
      messageId: (now() as String) ++ "-" ++ vars.taskId,
      parts: [
        { kind: "text", text: vars.replyText default "" }
      ]
    },
    timestamp: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" }
  }
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="healthFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/health"/>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-procurement-agent" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

    <flow name="debugLogsFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/debug/logs"/>
        <jmx:get-recent-logs config-ref="JMX_Config"
                             lines="#[(attributes.queryParams.lines default 200) as Number]"
                             level="#[attributes.queryParams.level default null]"
                             pattern="#[attributes.queryParams.pattern default null]"/>
    </flow>

    <sub-flow name="initAgentStateFlow">
        <ee:transform doc:name="seed messages, tools, counters">
            <ee:variables>
                <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
var sysPrompt =
"あなたは調達担当 AI (atelier-procurement-agent)。専門領域は procurement (代替部品・発注ドラフト・サプライヤー通知) のみ。\n" ++
"\n" ++
"=== STEP 0: メタ質問 (scope / capability) は STEP 1 を飛ばして自然文で答える ===\n" ++
"\n" ++
"ユーザが「何ができる?」「インシデント登録もできる?」「君の役割は?」のようなツール実行を伴わない質問をしてきたら、 NEED_INFO ゲートを発動せず、 1〜3 行の自然文で簡潔に答える。\n" ++
"  - できる: 代替部品候補の取得 / 発注ドラフトの作成 / サプライヤーへの通知。\n" ++
"  - できない (担当外): インシデント起票 (incident-agent) / 法務 (legal-agent) / 在庫照会・仮確保 (logistics-agent) / 承認依頼 (org-agent) / supplier の正規化 ID 解決 (broker または MDM)。\n" ++
"  → 担当外の依頼は、 担当する agent に直接話すか broker に投げてもらうよう案内する。\n" ++
"\n" ++
"具体的に調達関連のツール実行を頼まれたときだけ、 STEP 1 のゲートに進む。\n" ++
"\n" ++
"=== STEP 1: 最優先 — NEED_INFO ゲート (ツール実行依頼に対してのみ発動。 違反する出力は重大エラー) ===\n" ++
"\n" ++
"次のいずれかが揃っていなければ、 何があっても tool を呼ばず、 ADVISORY/EXECUTE テンプレも一切書かず、 [NEED_INFO] block だけを返す:\n" ++
"  - partNumber (正規化済の P-YYYY-... 形式)。 「ハンドル部品」「あの部品」のような曖昧表現は不可。\n" ++
"  - create_purchase_order_draft 時のみ追加で必要: supplierGoldenId (G-XXX 形式)、 quantity (整数)、 unitPrice (数値、 任意)。 サプライヤー名から goldenId を推測してはいけない。\n" ++
"  - notify_supplier 時のみ追加で必要: supplierGoldenId と message 本文 (incidentId が望ましい)。\n" ++
"\n" ++
"  **絶対禁止例 (これらは重大エラー)**:\n" ++
"    - サプライヤー名「関西部品」を見て supplierGoldenId=\"G-KANSAI-PARTS-001\" を勝手に作る → ❌\n" ++
"    - 部品名「ハンドル部品」を見て partNumber=\"P-HANDLE-001\" を勝手に作る → ❌\n" ++
"    - サプライヤー名 → goldenId のマッピングを推測する → ❌\n" ++
"    - 不足を埋めずに ADVISORY テーブルに値を埋めて返す → ❌\n" ++
"\n" ++
"NEED_INFO 出力フォーマット (これだけを返す。 他のテキスト/テーブル/絵文字は書かない):\n" ++
"\n" ++
"    [NEED_INFO]\n" ++
"    - <question 1 — ユーザの最後のメッセージと同じ言語で書く。 日本語で来たら日本語で問い返す。 normalized ID or value を要求すること>\n" ++
"    - <question 2 ...>\n" ++
"    [/NEED_INFO]\n" ++
"\n" ++
"自分のドメイン外 (supplier ID 解決、 在庫数量、 仮確保、 法務契約、 承認、 インシデント採番) も同じ方式で [NEED_INFO] を返す。 在庫関連は logistics-agent が hub。\n" ++
"上位 (broker または人間) が解決して回答したら、 その値を使って自分の tool を実行する。\n" ++
"\n" ++
"=== STEP 2: 全項目揃った場合のみ — 通常の処理 ===\n" ++
"\n" ++
"利用可能 tool: get_alternative_parts / create_purchase_order_draft / notify_supplier のみ。\n" ++
"\n" ++
"動作モード: ADVISORY\n" ++
"  - 基本は「代替候補や状況を提示し、 推奨アクションを箇条書き」。\n" ++
"  - 副作用 tool (create_purchase_order_draft / notify_supplier) は **ユーザが明示的に指示したときだけ** 実行。\n" ++
"\n" ++
"tool の引数は user メッセージの固有名詞をそのまま使う。「unknown supplier」「GENERIC-001」「placeholder」は絶対不可。\n" ++
"\n" ++
"tool 戻り値:\n" ++
"  - get_alternative_parts → result.alternatives[i].partNumber / .compatibility / .supplierGoldenId / .supplierName\n" ++
"  - create_purchase_order_draft → result.draftId / result.totalAmount\n" ++
"  - notify_supplier → result.notificationId\n" ++
"\n" ++
"出力フォーマット:\n" ++
"  [ADVISORY] ✅ procurement-agent: <一言サマリ> / 代替候補 <partNumber> 互換<%> 供給元 <supplierName> / 推奨: <理由>\n" ++
"  [EXECUTE]  ✅ procurement-agent: <実行サマリ> / 代替部品 <partNumber> / PO ドラフト <draftId> ¥<totalAmount> / 通知 <notificationId>"
---
if ((vars.priorMessages default []) != [])
  (vars.priorMessages default []) ++ [{ role: "user", content: (vars.userText default "") as String }]
else
  [
    { role: "system", content: sysPrompt },
    { role: "user",   content: (vars.userText default "") as String }
  ]]]></ee:set-variable>
                <ee:set-variable variableName="tools"><![CDATA[%dw 2.0
output application/java
---
[
  { "type": "function", "function": {
      name: "get_alternative_parts",
      description: "代替部品候補を IDMC KG から互換スコア降順で取得",
      parameters: {
        "type": "object",
        properties: { partNumber: { "type": "string" } },
        required: ["partNumber"]
      }
  }},
  { "type": "function", "function": {
      name: "create_purchase_order_draft",
      description: "代替発注書ドラフトを生成する",
      parameters: {
        "type": "object",
        properties: {
          partNumber:       { "type": "string" },
          quantity:         { "type": "integer" },
          supplierGoldenId: { "type": "string" },
          incidentId:       { "type": "string" },
          unitPrice:        { "type": "number" }
        },
        required: ["partNumber", "quantity", "supplierGoldenId"]
      }
  }},
  { "type": "function", "function": {
      name: "notify_supplier",
      description: "サプライヤーへ通知を送る (ORDER / CANCEL / INFO)",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          "type":           { "type": "string", "enum": ["ORDER", "CANCEL", "INFO"] },
          message:          { "type": "string" },
          incidentId:       { "type": "string" }
        },
        required: ["supplierGoldenId", "type", "message"]
      }
  }}
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="agentLoopFlow">
        <ee:transform doc:name="seed loop range">
            <ee:variables>
                <ee:set-variable variableName="loopRange"><![CDATA[%dw 2.0
output application/java
---
1 to (p('agent.max_loops') as Number)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <foreach collection="#[vars.loopRange]" doc:name="bounded loop">
            <choice>
                <when expression="#[(vars.finishReason default '') == 'stop' or (vars.finishReason default '') == 'length' or (vars.finishReason default '') == 'content_filter']">
                    <logger level="INFO" message="#['Skipping iter ' ++ (payload as String) ++ ' (finishReason=' ++ (vars.finishReason default '') ++ ')']"/>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
((payload default 0) - 1) as Number]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="agentInferenceFlow"/>
                    <flow-ref name="agentExecuteToolsFlow"/>
                </otherwise>
            </choice>
        </foreach>
        <logger level="INFO" message="#['Agent loop done. iterations=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '')]"/>
    </sub-flow>

    <sub-flow name="agentInferenceFlow">
        <ee:transform doc:name="build chat/completions body">
            <ee:variables>
                <ee:set-variable variableName="llmBody"><![CDATA[%dw 2.0
output application/json
---
{
  model:       (p('llm.model') default "gpt-5-mini") as String,
  max_completion_tokens:  (p('llm.max_tokens') default 2048) as Number,
  messages:    vars.messages default [],
  tools:       vars.tools default [],
  tool_choice: "auto"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config" doc:name="POST LLM /chat/completions">
            <http:body>#[vars.llmBody]</http:body>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>

        <ee:transform doc:name="capture assistant + finishReason">
            <ee:variables>
                <ee:set-variable variableName="assistantMsg"><![CDATA[%dw 2.0
output application/java
---
(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
((((payload default {}).choices default [])[0].finish_reason) default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <choice>
            <when expression="#[(vars.finishReason default '') == 'stop']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
((vars.assistantMsg.content default "") as String)]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" message="#['Loop iter=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '') ++ ' tool_calls=' ++ ((sizeOf(vars.assistantMsg.tool_calls default []) as String))]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="agentExecuteToolsFlow">
        <choice>
            <when expression="#[sizeOf((vars.assistantMsg.tool_calls default [])) == 0]">
                <logger level="INFO" message="No tool_calls in assistant message"/>
            </when>
            <otherwise>
                <foreach collection="#[vars.assistantMsg.tool_calls default []]">
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolCallId"><![CDATA[%dw 2.0
output application/java
---
((payload."id" default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((payload.function.name default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolArgsRaw"><![CDATA[%dw 2.0
output application/java
---
((payload.function.arguments default "{}") as String)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
read((vars.toolArgsRaw default "{}") as String, "application/json")]]></ee:set-variable>
                            <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.toolName default "") as String
---
if (n == "get_alternative_parts" or n == "create_purchase_order_draft" or n == "notify_supplier") "procurement"
else "unknown"]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="callMcpExecuteFlow"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [{
  role: "tool",
  tool_call_id: (vars.toolCallId default "") as String,
  content: write((vars.toolResult default {}), "application/json") as String
}]]]></ee:set-variable>
                            <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
(vars.actionsLog default []) ++ [{
  tool: (vars.toolName default "") as String,
  result: (vars.toolResult default {})
}]]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </foreach>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         procExtractFlow — LLM は「自然文 → エンティティ + モード」抽出だけ。
         vars.intent = { scope, mode, entities{...}, rawMessage }
         mode advise=代替部品を見せるだけ / execute=発注ドラフト作成まで
         ============================================================ -->
    <sub-flow name="procExtractFlow">
        <!-- broker は parts[0].text に JSON を埋めて送ることがある。 その場合 LLM 抽出を飛ばし
             JSON を直接 entities に展開 (mode=execute)。 自然文なら通常の LLM 抽出。 -->
        <ee:transform doc:name="detect embedded broker JSON">
            <ee:variables>
                <ee:set-variable variableName="brokerJson"><![CDATA[%dw 2.0
output application/java
fun tryRead(s) = if (s == null or (trim(s as String)) == "") null
  else (dw::Runtime::try(() -> read(s as String, "application/json")).result default null)
var ut = trim((vars.userText default "") as String)
var i = ut indexOf "{"
var j = ut lastIndexOf "}"
var outer = if (i >= 0 and j > i) (tryRead(ut[i to j])) else null
var innerStr = if (outer == null) null else ((outer."input" default outer.text default outer."parts[0].text" default outer.message default null))
var inner =
  if (outer == null) null
  else if (innerStr != null and (innerStr is String)) (tryRead(innerStr as String))
  else outer
---
if (inner != null and ((inner.partNumber default null) != null or (inner.incidentId default null) != null or (inner.supplierGoldenId default null) != null)) inner else null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <choice doc:name="埋め込みJSON か 自然文か">
            <when expression="#[vars.brokerJson != null]">
                <ee:transform doc:name="broker JSON → intent">
                    <ee:variables>
                        <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
var b = vars.brokerJson default {}
---
{
  scope: "procurement", mode: "execute",
  entities: {
    supplierName:     (b.supplierName default null),
    supplierGoldenId: (b.supplierGoldenId default null),
    partNumber:       (b.partNumber default null),
    incidentId:       (b.incidentId default null),
    quantity:         (b.quantity default null)
  },
  rawMessage: (b.reason default (vars.userText default "")) as String
}]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" message="#['proc-agent broker-JSON path entities=' ++ write(vars.intent.entities default {}, 'application/json')]"/>
            </when>
            <otherwise>
        <ee:transform doc:name="build extractor messages">
            <ee:variables>
                <ee:set-variable variableName="extractMessages"><![CDATA[%dw 2.0
output application/java
var sys =
"あなたは調達・在庫 agent の『意図抽出器』です。 ユーザの 1 メッセージを読み、 下記 JSON だけを出力。 説明やコードフェンスは書かない。\n" ++
"\n" ++
"scope: \"procurement\" (代替部品検索・発注ドラフト・仕入先通知 のみ) | \"capability\" (メタ質問) | \"out_of_scope\" (調達以外)\n" ++
"【重要】在庫照会・在庫の仮確保・予約は調達ではなく logistics の担当なので、 必ず out_of_scope。\n" ++
"  「仮確保」「在庫はある?」「在庫を押さえて」「ついでに〜在庫を確保」等は、 代替部品の話が前に出ていても out_of_scope。\n" ++
"mode : \"advise\" (代替部品を調べて提案するだけ) | \"execute\" (発注ドラフト作成まで明示依頼: 「ドラフト作って」「発注して」「PO作成」)\n" ++
"\n" ++
"entities は読めた値だけ。 読めないものは null。 推測・捏造禁止。 社名は GoldenId に変換せず supplierName にそのまま。\n" ++
"  supplierName / supplierGoldenId (G-XXX) / partNumber (P-...) / incidentId (INC-...) / quantity (整数)\n" ++
"\n" ++
"出力: {\"scope\":\"...\",\"mode\":\"advise\",\"entities\":{\"supplierName\":null,\"supplierGoldenId\":null,\"partNumber\":null,\"incidentId\":null,\"quantity\":null},\"rawMessage\":\"原文\"}"
---
[
  { role: "system",    content: sys },
  { role: "user",      content: "九州製作所 P-2024-KYU-001 の代替部品で 120 台分の発注ドラフトを作って" },
  { role: "assistant", content: write({ scope: "procurement", mode: "execute", entities: { supplierName: "九州製作所", supplierGoldenId: null, partNumber: "P-2024-KYU-001", incidentId: null, quantity: 120 }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "P-2024-KYU-001 の代替部品ある?" },
  { role: "assistant", content: write({ scope: "procurement", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: "P-2024-KYU-001", incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "君は何ができる?" },
  { role: "assistant", content: write({ scope: "capability", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: null, incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "返品要求書を発行して" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: null, incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "P-2024-KYU-001 の在庫はある? 120台必要" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: null, incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "代替部品を120台仮確保して" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: null, incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "ついでにその代替部品の在庫を 120 台ぶん仮確保しておいて。" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: null, incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "担当バイヤーに承認依頼を出して" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: null, incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: (vars.userText default "") as String }
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="build extractor body">
            <ee:variables>
                <ee:set-variable variableName="extractBody"><![CDATA[%dw 2.0
output application/json
---
{ model: (p('llm.model') default "gpt-5-mini") as String, max_completion_tokens: (p('llm.max_tokens') default 2048) as Number, messages: (vars.extractMessages default []) }]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config">
            <http:body>#[vars.extractBody]</http:body>
            <http:response-validator><http:success-status-code-validator values="0..599"/></http:response-validator>
        </http:request>
        <ee:transform doc:name="parse intent JSON">
            <ee:variables>
                <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
fun extractJson(s) = do {
  var t = trim(s default "")
  var noFence = (t replace /```(json)?/ with "") replace "```" with ""
  var i = noFence indexOf "{"
  var j = noFence lastIndexOf "}"
  --- if (i >= 0 and j > i) (noFence[i to j]) else "{}"
}
// LLM 出力が不正/途中切れ JSON でも落ちないよう try で包む。 失敗時は {} にフォールバック。
fun safeReadJson(s) =
  if (s == null or (trim(s as String)) == "") {}
  else (dw::Runtime::try(() -> read(extractJson(s as String), "application/json")).result default {})
var resp = if (payload == null) {} else if (payload is Binary) (dw::Runtime::try(() -> read(payload as String {encoding: "UTF-8"}, "application/json")).result default {}) else if (payload is String) (dw::Runtime::try(() -> read(payload as String, "application/json")).result default {}) else payload
var raw = ((resp.choices default [])[0].message.content default "{}") as String
var obj = safeReadJson(raw)
// 決定論バックフィル: userText から正規表現で確実に拾える値を LLM が null にした時だけ補う。
var ut = (vars.userText default "") as String
fun firstMatch(re) = do { var m = (ut scan re) --- if (sizeOf(m) > 0) m[0][0] else null }
var rxPart = firstMatch(/P-\d{4}-[A-Z0-9]+-\d+/)
var rxInc  = firstMatch(/INC-[0-9A-Za-z-]+/)
var rxGid  = firstMatch(/G-[A-Z0-9-]+/)
var rxQty  = do { var m = (ut scan /(\d+)\s*(台|個|pcs|units?)/) --- if (sizeOf(m) > 0) (m[0][1]) else null }
var le = (obj.entities default {})
var ents = le ++
  (if ((le.partNumber       default null) == null and rxPart != null) { partNumber: rxPart } else {}) ++
  (if ((le.incidentId       default null) == null and rxInc  != null) { incidentId: rxInc } else {}) ++
  (if ((le.supplierGoldenId default null) == null and rxGid  != null) { supplierGoldenId: rxGid } else {}) ++
  (if ((le.quantity         default null) == null and rxQty  != null) { quantity: (rxQty as Number) } else {})
---
{ scope: (obj.scope default "procurement") as String, mode: (obj.mode default "advise") as String, entities: ents, rawMessage: (obj.rawMessage default ((vars.userText default "") as String)) as String }]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="#['proc-agent scope=' ++ (vars.intent.scope default '?') ++ ' mode=' ++ (vars.intent.mode default '?') ++ ' entities=' ++ write(vars.intent.entities default {}, 'application/json')]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         procRouterFlow — get_alternative_parts (READ) → 最良代替を選び、
         mode=execute なら create_purchase_order_draft (代替の supplier 宛)。 partNumber 必須。
         ============================================================ -->
    <sub-flow name="procRouterFlow">
        <choice doc:name="dispatch by scope">
            <when expression='#[(vars.intent.scope default "") == "capability"]'>
                <ee:transform><ee:variables><ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"📦 調達・在庫 (atelier-procurement-agent) です。\n\n**できること**\n- 代替部品の検索 (互換率つき)\n- 発注ドラフトの作成\n- 仕入先への通知\n\n**担当外**: インシデント (incident) / 法務 (legal) / 在庫仮確保 (logistics) / 承認 (org)。"]]></ee:set-variable></ee:variables></ee:transform>
            </when>
            <when expression='#[(vars.intent.scope default "") == "out_of_scope"]'>
                <ee:transform><ee:variables><ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"その依頼は調達 agent の担当外です。\nインシデントは incident、 法務は legal、 在庫仮確保は logistics、 承認は org、 もしくは broker へ。"]]></ee:set-variable></ee:variables></ee:transform>
            </when>
            <when expression='#[(vars.intent.entities.partNumber default null) == null]'>
                <ee:transform><ee:variables><ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"[NEED_INFO]\n- 対象の部品番号 (P-YYYY-... 形式) を教えてください。\n[/NEED_INFO]"]]></ee:set-variable></ee:variables></ee:transform>
            </when>
            <otherwise>
                <!-- STEP 1: 代替部品を引く -->
                <ee:transform doc:name="build get_alternative_parts args">
                    <ee:variables>
                        <ee:set-variable variableName="toolName">#['get_alternative_parts']</ee:set-variable>
                        <ee:set-variable variableName="mcpKind">#['procurement']</ee:set-variable>
                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
{ partNumber: (vars.intent.entities.partNumber default "") as String }]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="pick best alternative">
                    <ee:variables>
                        <ee:set-variable variableName="alts"><![CDATA[%dw 2.0
output application/java
---
((vars.toolResult.result default {}).alternatives default [])]]></ee:set-variable>
                        <ee:set-variable variableName="bestAlt"><![CDATA[%dw 2.0
output application/java
var a = ((vars.toolResult.result default {}).alternatives default [])
---
if (sizeOf(a) > 0) a[0] else null]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <choice doc:name="mode=execute なら 発注ドラフト">
                    <when expression='#[(vars.intent.mode default "advise") == "execute" and (vars.bestAlt default null) != null and (vars.intent.entities.quantity default null) != null]'>
                        <ee:transform doc:name="build create_purchase_order_draft args">
                            <ee:variables>
                                <ee:set-variable variableName="toolName">#['create_purchase_order_draft']</ee:set-variable>
                                <ee:set-variable variableName="mcpKind">#['procurement']</ee:set-variable>
                                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var alt = vars.bestAlt
---
{
  partNumber:       (alt.partNumber default "") as String,
  quantity:         vars.intent.entities.quantity,
  supplierGoldenId: (alt.supplierGoldenId default "") as String
} ++ (if ((vars.intent.entities.incidentId default null) != null) { incidentId: vars.intent.entities.incidentId } else {})]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                        <flow-ref name="callMcpExecuteFlow"/>
                        <!-- PO ドラフトの結果を退避 (このあと notify_supplier で vars.toolResult が上書きされるため) -->
                        <ee:transform doc:name="stash PO draft result">
                            <ee:variables>
                                <ee:set-variable variableName="poDraft"><![CDATA[%dw 2.0
output application/java
---
(vars.toolResult.result default vars.toolResult default {})]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                        <!-- 発注ドラフト作成に成功し、 供給元が分かるならサプライヤーへ ORDER 通知を送る。
                             (実務では「発注したら仕入先に連絡」は自然な後続。 既存 notify_supplier tool を配線) -->
                        <choice doc:name="notify supplier if draft ok">
                            <when expression="#[(vars.poDraft.draftId default null) != null and (vars.bestAlt.supplierGoldenId default null) != null]">
                                <ee:transform doc:name="build notify_supplier args">
                                    <ee:variables>
                                        <ee:set-variable variableName="toolName">#['notify_supplier']</ee:set-variable>
                                        <ee:set-variable variableName="mcpKind">#['procurement']</ee:set-variable>
                                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var alt = vars.bestAlt default {}
var d = vars.poDraft default {}
---
{
  supplierGoldenId: (alt.supplierGoldenId default "") as String,
  "type": "ORDER",
  message: ("発注ドラフト " ++ (d.draftId default "") as String ++ " を作成しました。部品 " ++ (alt.partNumber default "") as String ++ " ×" ++ (vars.intent.entities.quantity default 0) as String ++ "。ご確認ください。")
} ++ (if ((vars.intent.entities.incidentId default null) != null) { incidentId: vars.intent.entities.incidentId } else {})]]></ee:set-variable>
                                    </ee:variables>
                                </ee:transform>
                                <flow-ref name="callMcpExecuteFlow"/>
                                <ee:transform doc:name="stash notify result">
                                    <ee:variables>
                                        <ee:set-variable variableName="notifyResult"><![CDATA[%dw 2.0
output application/java
---
{ ok: ((vars.toolResult.status default "ok") as String) != "error", result: (vars.toolResult.result default {}) }]]></ee:set-variable>
                                    </ee:variables>
                                </ee:transform>
                            </when>
                            <otherwise>
                                <ee:transform>
                                    <ee:variables>
                                        <ee:set-variable variableName="notifyResult"><![CDATA[%dw 2.0
output application/java
---
null]]></ee:set-variable>
                                    </ee:variables>
                                </ee:transform>
                            </otherwise>
                        </choice>
                        <ee:transform doc:name="format execute result">
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var d = (vars.poDraft default {})
var alt = vars.bestAlt default {}
var nt = vars.notifyResult default null
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
---
"📦 調達エージェント (実行完了)\n\n" ++
"| 項目 | 値 |\n|---|---|\n" ++
"| 代替部品 | **" ++ cell(alt.partNumber) ++ "** (互換 " ++ cell((alt.compatibility default 0) * 100) ++ "%) |\n" ++
"| 供給元 | " ++ cell(alt.supplierName default alt.supplierGoldenId) ++ " |\n" ++
"| 数量 | " ++ cell(vars.intent.entities.quantity) ++ " |\n" ++
"| 発注ドラフト | **" ++ cell(d.draftId) ++ "** |\n" ++
"| 概算額 | ¥" ++ cell(d.totalAmount) ++ " |" ++
(if (nt != null and nt.ok == true) ("\n| 仕入先通知 | **送信済** (ORDER) |") else "")]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </when>
                    <otherwise>
                        <ee:transform doc:name="format advise result">
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var a = vars.alts default []
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
---
if (sizeOf(a) == 0)
  ("📦 調達エージェント: " ++ (vars.intent.entities.partNumber default "") ++ " の代替部品は見つかりませんでした。")
else
  ("📦 調達エージェント (相談)\n\n代替部品候補:\n\n" ++
   "| 部品 | 互換 | 供給元 | リードタイム |\n|---|---|---|---|\n" ++
   (a map ((x) -> "| **" ++ cell(x.partNumber) ++ "** | " ++ cell((x.compatibility default 0) * 100) ++ "% | " ++ cell(x.supplierName default x.supplierGoldenId) ++ " | " ++ cell(x.leadTimeHours) ++ "h |") joinBy "\n") ++
   "\n\n数量を添えて「発注ドラフト作って」で PO を作成します。")]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </otherwise>
                </choice>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- directToolFlow — broker DataPart { tool, args } を LLM 無しで直接 MCP に流す -->
    <sub-flow name="directToolFlow">
        <ee:transform doc:name="map directPart → toolName/toolArgs/mcpKind">
            <ee:variables>
                <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((vars.directPart.tool default vars.directPart.toolName default "") as String)]]></ee:set-variable>
                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
(vars.directPart.args default vars.directPart."input" default {})]]></ee:set-variable>
                <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.directPart.tool default vars.directPart.toolName default "") as String
---
if (n == "get_alternative_parts" or n == "create_purchase_order_draft" or n == "notify_supplier") "procurement"
else "unknown"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO"
                message="#['procurement-agent direct fast-path: tool=' ++ (vars.toolName default '') ++ ' args=' ++ write(vars.toolArgs default {}, 'application/json')]"/>
        <choice>
            <when expression="#[(vars.mcpKind default '') == 'unknown' or (vars.toolName default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
write({ status: "error", agent: "atelier-procurement-agent", mode: "direct", result: { code: "UNKNOWN_TOOL", message: "unsupported tool for direct mode: " ++ (vars.toolName default ""), supported: ["get_alternative_parts","create_purchase_order_draft","notify_supplier"] } }, "application/json") as String]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="wrap direct result as JSON reply">
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
write({ status: "ok", agent: "atelier-procurement-agent", mode: "direct", tool: (vars.toolName default "") as String, result: (vars.toolResult default {}) }, "application/json") as String]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="callMcpExecuteFlow">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  toolName: (vars.toolName default "") as String,
  "input":  (vars.toolArgs default {})
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <try>
            <choice>
                <when expression="#[(vars.mcpKind default '') == 'mdm']">
                    <http:request method="POST" path="/mcp/execute" config-ref="MDM_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <when expression="#[(vars.mcpKind default '') == 'inventory']">
                    <http:request method="POST" path="/mcp/execute" config-ref="Inventory_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <when expression="#[(vars.mcpKind default '') == 'procurement']">
                    <http:request method="POST" path="/mcp/execute" config-ref="Procurement_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "UNKNOWN_TOOL", message: "no MCP for tool: " ++ (vars.toolName default "") } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </otherwise>
            </choice>
            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "MCP_CALL_FAILED", message: (error.description default error.message default "unknown") as String } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <logger level="WARN"
                            message="#['MCP call failed kind=' ++ (vars.mcpKind default '') ++ ' tool=' ++ (vars.toolName default '') ++ ' err=' ++ (error.description default error.message default 'unknown')]"/>
                </on-error-continue>
            </error-handler>
        </try>
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="toolResult"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s: String) =
  if (s == null or trim(s) == "") {}
  else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload as String)
else payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="loadMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <try>
                    <os:retrieve key="#[vars.contextId]" objectStore="MEMORY_STORE" target="priorRaw"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
fun parseList(s) = if (s == null or s == "") [] else read(s, "application/json")
---
if (vars.priorRaw == null) []
else if (vars.priorRaw is String) parseList(vars.priorRaw as String)
else (vars.priorRaw default [])]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <error-handler>
                        <on-error-continue type="OS:KEY_NOT_FOUND, OS:STORE_NOT_AVAILABLE, ANY">
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
        <logger level="INFO"
                message="#['memory load: contextId=' ++ (vars.contextId default '') ++ ' priorMessages=' ++ (sizeOf(vars.priorMessages default []) as String)]"/>
    </sub-flow>

    <sub-flow name="saveMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <logger level="INFO" message="memory save skipped (no contextId)"/>
            </when>
            <otherwise>
                <try>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
write((vars.messages default []), "application/json") as String]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <os:store key="#[vars.contextId]" objectStore="MEMORY_STORE">
                        <os:value>#[payload]</os:value>
                    </os:store>
                    <logger level="INFO"
                            message="#['memory save: contextId=' ++ (vars.contextId default '') ++ ' messages=' ++ (sizeOf(vars.messages default []) as String)]"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN" message="#['memory save failed: ' ++ (error.description default error.message default 'unknown')]"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
    </sub-flow>

</mule>
