atelier-agents/incident-agent/src/main/mule/incident-agent.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:jmx="http://www.mulesoft.org/schema/mule/jmx"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
          http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
          http://www.mulesoft.org/schema/mule/jmx http://www.mulesoft.org/schema/mule/jmx/current/mule-jmx.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="${http.listener.port}"/>
    </http:listener-config>

    <a2a:server-config name="A2A_Server_config">
        <a2a:connection listenerConfig="HTTP_Listener_config" agentPath="${a2a.path}"/>
        <a2a:agent-card>
            <a2a:json><![CDATA[{
  "protocolVersion": "0.3.0",
  "name": "atelier-incident-agent",
  "description": "インシデント管理 AI アドバイザ (Atelier 用 同期 A2A 版)。Atelier の chat 入力をそのまま受け、LLM tool-use ループ (incident-mcp / mdm-mcp) で既存インシデント参照・新規採番・ステータス更新の相談に応じる。副作用 tool (register / update_status) はユーザの明示指示時のみ実行。",
  "url": "${agent.public.url}",
  "version": "1.0.0",
  "preferredTransport": "JSONRPC",
  "capabilities": { "streaming": false, "pushNotifications": false, "stateTransitionHistory": false },
  "defaultInputModes": ["text/plain", "application/json"],
  "defaultOutputModes": ["text/plain", "application/json"],
  "skills": [
    {
      "id": "incident_advise_or_register",
      "name": "インシデント相談 / 登録 (LLM tool-use, ADVISORY デフォルト)",
      "description": "サプライヤー品質インシデントの相談を自然文で受け取り、既存 incidentId の照会、必須情報の確認、新規採番方針の提案を行う。ユーザが「登録してください」「クローズしてください」と明示指示したときだけ register / update_status を実行する。",
      "examples": [
        "関西部品の P-2024-KAN-001 で不良率15% 出てます。インシデント登録すべきですか?",
        "INC-2026-0521 はどんな状態ですか? 解決済みにしてください。"
      ],
      "inputModes": ["text/plain", "application/json"],
      "outputModes": ["text/plain", "application/json"],
      "tags": ["incident", "advisory", "salesforce", "intake"]
    }
  ]
}]]></a2a:json>
        </a2a:agent-card>
    </a2a:server-config>

    <http:request-config name="LLM_Request_config" basePath="/" responseTimeout="${llm.timeout}">
        <http:request-connection host="openai-proxy.demos.mulesoft.com"
                                 port="443"
                                 protocol="HTTPS"/>
        <http:default-headers>
            <http:default-header key="Authorization" value="Basic ${llm.token}"/>
            <http:default-header key="Content-Type" value="application/json; charset=utf-8"/>
        </http:default-headers>
    </http:request-config>

    <http:request-config name="Incident_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.incident.host}"
                                 port="${mcp.incident.port}"
                                 protocol="${mcp.incident.protocol}"/>
    </http:request-config>

    <http:request-config name="MDM_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.mdm.host}"
                                 port="${mcp.mdm.port}"
                                 protocol="${mcp.mdm.protocol}"/>
    </http:request-config>

    <jmx:config name="JMX_Config" logBufferSize="5000"/>

    <os:object-store name="MEMORY_STORE"
                     entryTtl="1" entryTtlUnit="HOURS"
                     expirationInterval="5" expirationIntervalUnit="MINUTES"
                     maxEntries="500"
                     persistent="false"/>

    <flow name="incidentAgentTaskFlow">
        <a2a:task-listener config-ref="A2A_Server_config">
            <a2a:response>
                <a2a:response>#[vars.taskJson]</a2a:response>
            </a2a:response>
        </a2a:task-listener>

        <logger level="INFO"
                message="#['atelier-incident-agent A2A task received. method=' ++ (attributes.jsonRpcMethod default '?') ++ ' taskId=' ++ (attributes.taskId default '?')]"/>

        <ee:transform doc:name="extract user text + task ids + contextId + dataPart">
            <ee:variables>
                <ee:set-variable variableName="taskId"><![CDATA[%dw 2.0
output application/java
---
((attributes.taskId default (now() as String)) as String)]]></ee:set-variable>
                <ee:set-variable variableName="contextId"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var fromAttr = (attributes.contextId default "") as String
var fromMsg  = (p.message.contextId default "") as String
---
// クライアントが contextId を送ってきたらそれを使う。 無ければ taskId をベースに採番して
// 応答 (taskJson) で返す。 クライアント (a2a.js) は応答の contextId を保持し次ターンから送るので、
// 同一 window 内では会話が継続する (「さっきのインシデントをクローズ」が効く)。
if (fromAttr != "") fromAttr
else if (fromMsg != "") fromMsg
else ("ctx-" ++ ((attributes.taskId default (now() as String)) as String))]]></ee:set-variable>
                <ee:set-variable variableName="userText"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var parts = (p.message.parts default [])
var textPart = (parts filter ((x) -> (x.kind default x."type" default "") == "text"))
---
if (sizeOf(textPart) > 0) ((textPart[0].text default "") as String)
else (((parts[0].text default "") as String))]]></ee:set-variable>
                <!-- broker からの構造化指示: parts[] の data part (kind="data") を拾う。
                     形 { tool, args } を期待。 あれば LLM を介さず直接 MCP を叩く fast-path。 -->
                <ee:set-variable variableName="directPart"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var parts = (p.message.parts default [])
var dataParts = (parts filter ((x) -> (x.kind default x."type" default "") == "data"))
---
if (sizeOf(dataParts) > 0) (dataParts[0].data default null) else null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO"
                message="#['incident-agent: directPart=' ++ (if (vars.directPart != null) 'yes' else 'no') ++ ' userText=' ++ ((vars.userText default '') as String)]"/>

        <choice doc:name="broker direct (data part) か 人間 自然文か">
            <!-- ============ fast-path: broker からの { tool, args } を LLM 無しで実行 ============ -->
            <when expression="#[vars.directPart != null]">
                <flow-ref name="directToolFlow"/>
            </when>
            <!-- ============ 通常: 人間の自然文 → intent 抽出 (LLM) → 決定論ルータ ============
                 旧 tool-use ループ (initAgentStateFlow / agentLoopFlow …) は廃止し、
                 「LLM は NL→構造化 JSON 変換のみ、 分岐/検証/整形は Mule で決定論的に」 の
                 二段構成に置換。 弱い LLM に条件分岐を語らせない。 -->
            <otherwise>
                <try>
                    <flow-ref name="loadMemoryFlow"/>
                    <flow-ref name="intentExtractFlow"/>
                    <flow-ref name="intentRouterFlow"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message="#['intent pipeline failed: ' ++ (error.description default error.message default 'unknown')]"/>
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"⚠️ atelier-incident-agent: 処理中にエラーが発生しました。\n" ++
"  " ++ ((error.description default (error.message default "unknown")) as String)]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="replyText"><![CDATA[%dw 2.0
output application/java
var t = ((vars.finalText default "") as String)
var msgs = (vars.messages default [])
var lastAssistant = (msgs filter ((m) -> ((m.role default "") as String) == "assistant" and ((m.content default "") as String) != ""))
var lastAssistantContent = if (sizeOf(lastAssistant) > 0) ((lastAssistant[-1].content default "") as String) else ""
var fallbackByReason =
  if ((vars.finishReason default "") as String == "length")
    "ℹ️ インシデント管理 (atelier-incident-agent) です。\n\n回答が文字数上限に達しました。\nincidentId か (サプライヤー名 + 部品番号 + 不具合内容) を指定して再度お試しください。"
  else
    "ℹ️ インシデント管理 (atelier-incident-agent) です。\n\n**実行可能な操作**\n- 取引先のゴールデン ID 解決\n- 過去インシデント・取引先関係の照会\n- 取引先一覧 (region / status / リスクスコア範囲で絞込み)\n- 取引先 region 一覧 (各 region の件数付き)\n- 既存 incidentId の状態照会\n- インシデントの新規採番 (Incident__c 作成)\n- インシデントステータスの更新 (OPEN / IN_PROGRESS / RESOLVED)\n\nincidentId か (サプライヤー名 + 部品番号 + 不具合内容) を教えてください。"
---
if (t != "") t
else if (lastAssistantContent != "") lastAssistantContent
else fallbackByReason]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <flow-ref name="saveMemoryFlow"/>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="taskJson"><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.taskId,
  contextId: vars.contextId,
  kind: "task",
  status: {
    state: "completed",
    message: {
      role: "agent",
      kind: "message",
      messageId: (now() as String) ++ "-" ++ vars.taskId,
      parts: [
        { kind: "text", text: vars.replyText default "" }
      ]
    },
    timestamp: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" }
  }
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="healthFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/health"/>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-incident-agent" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

    <flow name="debugLogsFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/debug/logs"/>
        <jmx:get-recent-logs config-ref="JMX_Config"
                             lines="#[(attributes.queryParams.lines default 200) as Number]"
                             level="#[attributes.queryParams.level default null]"
                             pattern="#[attributes.queryParams.pattern default null]"/>
    </flow>

    <sub-flow name="initAgentStateFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
var sysPrompt =
"あなたはインシデント管理担当 AI (atelier-incident-agent)。専門領域は incident のみ。\n" ++
"\n" ++
"=== STEP 0: メタ質問 (scope / capability) は STEP 1 を飛ばして自然文で答える ===\n" ++
"\n" ++
"ユーザが「何ができる?」「物流のことも頼める?」「君の役割は?」のようなツール実行を伴わない質問をしてきたら、 NEED_INFO ゲートを発動せず、 1〜3 行の自然文で簡潔に答える。\n" ++
"  - できる: 既存インシデントの照会 / 新規インシデントの登録 / ステータス更新。\n" ++
"  - できない (担当外): 在庫照会・仮確保 (logistics-agent) / 法務 (legal-agent) / 発注 (procurement-agent) / 承認依頼 (org-agent)。\n" ++
"  → 担当外の依頼は、 担当する agent に直接話すか broker に投げてもらうよう案内する。\n" ++
"  ※ 取引先の社名 (例: 九州製作所) は incident のために agent 自身が GoldenId に解決できる。 社名で言われても out_of_scope にしない。\n" ++
"\n" ++
"具体的にインシデント関連のツール実行を頼まれたときだけ、 STEP 1 のゲートに進む。\n" ++
"\n" ++
"=== STEP 0.5: READ-ONLY な照会・一覧は NEED_INFO ゲート無しで即実行 ===\n" ++
"\n" ++
"以下は副作用が無い READ 操作。 STEP 1 のゲートを **絶対に発動させず**、 直ちに対応 tool を呼ぶ:\n" ++
"  - 「インシデントの一覧」「〜のインシデントを教えて」「最近のインシデント」「OPEN のインシデント」等の一覧・検索依頼\n" ++
"    → **list_incidents** を呼ぶ。 絞り込み条件 (supplierGoldenId / partNumber / status / severity / since) は\n" ++
"      ユーザ発話にあるものだけ引数に入れ、 無ければ省略する (全パラメータ任意。 何も無ければ最新一覧)。\n" ++
"      ★ list_incidents には severity も supplierGoldenId も **必須ではない**。 これらを聞き返してはいけない。\n" ++
"      ユーザが「九州製作所」のような社名しか言っていなくても、 そのまま list_incidents を呼んでよい\n" ++
"      (supplierGoldenId が分かればそれを、 分からなければ supplierName 相当は使えないので無条件一覧でよい)。\n" ++
"  - 特定 incidentId (INC-XXXX) の状態確認 → **lookup_incident** を呼ぶ (incidentId だけで十分)。\n" ++
"\n" ++
"=== STEP 1: NEED_INFO ゲート (新規登録 register_incident の依頼に対してのみ発動。 違反する出力は重大エラー) ===\n" ++
"\n" ++
"ユーザが **新規インシデントの登録・起票** (「登録して」「起票して」「新規インシデントとして〜」) を求めた場合に限り、\n" ++
"以下の **3 つすべて** が user メッセージに揃っていなければ、 register_incident を呼ばず、 ADVISORY/EXECUTE テンプレ\n" ++
"(テーブル含む) も一切書かず、 [NEED_INFO] block **だけ** を返す:\n" ++
"  1. supplierGoldenId (正規化済の G-XXX 形式)。 ユーザが「関西部品」のような名前で言っただけでは **不足**。\n" ++
"  2. partNumber (正規化済の P-YYYY-... 形式)。 ユーザが「P-2024-KAN-001」と言っていれば OK。\n" ++
"  3. severity (HIGH / MEDIUM / LOW / CRITICAL のいずれかの正規化値)。 「不良 15%」「不良率」「欠品」「遅延」のような自然文は severity **ではない**。\n" ++
"\n" ++
"  ★ このゲートは **登録 (register_incident) のときだけ**。 一覧 (list_incidents) や照会 (lookup_incident) では\n" ++
"    決して発動しない。 「一覧を見たい」のに severity を聞き返すのは重大エラー。\n" ++
"\n" ++
"  **絶対禁止例 (これらは重大エラー)**:\n" ++
"    - サプライヤー名「関西部品」を見て supplierGoldenId=\"G-KANSAI-PARTS-001\" を勝手に作る → ❌\n" ++
"    - 不足項目を「未指定」と書いて ADVISORY テーブルを埋めて返す → ❌\n" ++
"    - 「不良 15%」を見て severity=\"HIGH\" や \"MEDIUM\" と推定する → ❌\n" ++
"    - incidentId だけ揃っているのを根拠に ADVISORY 出力する → ❌\n" ++
"\n" ++
"NEED_INFO 出力フォーマット (これだけを返す。 他のテキスト/テーブル/絵文字は書かない):\n" ++
"\n" ++
"    [NEED_INFO]\n" ++
"    - <question 1 — ユーザの最後のメッセージと同じ言語で書く。 日本語で来たら日本語で問い返す。 normalized ID or value を要求すること>\n" ++
"    - <question 2 ...>\n" ++
"    [/NEED_INFO]\n" ++
"\n" ++
"=== STEP 2: 全項目揃った場合のみ — 通常の処理 ===\n" ++
"\n" ++
"利用可能 tool: list_incidents (一覧・検索, READ) / lookup_incident (1件照会, READ) / register_incident (新規登録, WRITE) / update_incident_status (状態更新, WRITE)。\n" ++
"supplier / part / region / 在庫 / 契約 等を解決する tool は持っていない。\n" ++
"\n" ++
"原則:\n" ++
"  - ユーザ発話の固有名詞 (会社名・部品番号・incidentId) はそのまま tool 引数に使う。仮名禁止。\n" ++
"  - 既ターンで解決済みの goldenId / incidentId は再呼び出しせず流用。\n" ++
"  - tool が success で返ったら result.* を読んで反映する。\n" ++
"  - WRITE tool (register_incident / update_incident_status) は明示指示時のみ。\n" ++
"\n" ++
"出力 (Markdown、見やすさ最優先):\n" ++
"  - 散文を書かない。 必ず **見出し → リスト or テーブル** で構造化する。\n" ++
"  - 行頭は半角ハイフン+半角スペース (`- `)、 ネストは半角スペース 2 個。`•` `・` `*` 禁止。\n" ++
"  - 固有名詞 (会社名 / 部品番号 / incidentId / status / severity) は `**foo**` で太字。\n" ++
"\n" ++
"出力テンプレ (STEP 1 で全項目揃った場合のみ使う):\n" ++
"\n" ++
"  [ADVISORY] (相談・提案)\n" ++
"    🚨 **incident-agent (相談)** — <一言サマリ>\n" ++
"    **状況**\n" ++
"    | 項目 | 値 |\n" ++
"    |---|---|\n" ++
"    | 取引先 | **<name>** (<goldenId>) |\n" ++
"    | 部品 | **<partNumber>** |\n" ++
"    | 既存 incident | **<incidentId>** / status=**<status>** (未登録なら「未登録」) |\n" ++
"    **推奨アクション**\n" ++
"    - <新規採番 / 既存に紐付け / クローズ可 のいずれか>\n" ++
"    💬 「登録してください」「クローズしてください」で実行します。\n" ++
"\n" ++
"  [EXECUTE 完了]\n" ++
"    ✅ **incident-agent (実行完了)** — <一言サマリ>\n" ++
"    | 項目 | 値 |\n" ++
"    |---|---|\n" ++
"    | incidentId | **<id>** |\n" ++
"    | 取引先 | **<name>** (<goldenId>) |\n" ++
"    | 部品 | **<partNumber>** |\n" ++
"    | severity | **<severity>** |\n" ++
"    | status | **<status>** |\n"
---
if ((vars.priorMessages default []) != [])
  (vars.priorMessages default []) ++ [{ role: "user", content: (vars.userText default "") as String }]
else
  [
    { role: "system", content: sysPrompt },
    { role: "user",   content: (vars.userText default "") as String }
  ]]]></ee:set-variable>
                <ee:set-variable variableName="tools"><![CDATA[%dw 2.0
output application/java
---
[
  { "type": "function", "function": {
      name: "lookup_incident",
      description: "incidentId で既存 Incident__c を 1 件取得する。404 のときは exists=false を返す",
      parameters: {
        "type": "object",
        properties: {
          incidentId: { "type": "string" }
        },
        required: ["incidentId"]
      }
  }},
  { "type": "function", "function": {
      name: "register_incident",
      description: "Incident__c を新規作成する。incidentId 未指定なら incident-system が採番。supplierGoldenId / partNumber / severity / rawMessage は必須",
      parameters: {
        "type": "object",
        properties: {
          incidentId:       { "type": "string" },
          supplierGoldenId: { "type": "string" },
          partNumber:       { "type": "string" },
          quantity:         { "type": "integer" },
          severity:         { "type": "string", "enum": ["LOW", "MEDIUM", "HIGH", "CRITICAL"] },
          rawMessage:       { "type": "string" },
          slackChannel:     { "type": "string" },
          slackThreadTs:    { "type": "string" }
        },
        required: ["supplierGoldenId", "partNumber", "severity", "rawMessage"]
      }
  }},
  { "type": "function", "function": {
      name: "update_incident_status",
      description: "incidentId のステータスを更新する。OPEN / IN_PROGRESS / RESOLVED",
      parameters: {
        "type": "object",
        properties: {
          incidentId: { "type": "string" },
          status:     { "type": "string", "enum": ["OPEN", "IN_PROGRESS", "RESOLVED"] }
        },
        required: ["incidentId", "status"]
      }
  }},
  { "type": "function", "function": {
      name: "list_incidents",
      description: "インシデント一覧を取得する READ-ONLY ツール。CreatedDate DESC、既定 limit=10 (上限 50)。全パラメータ任意 — 何も指定しなければ最新一覧を返す。supplierGoldenId / partNumber / status (OPEN/IN_PROGRESS/RESOLVED/ALL) / severity / since (ISO日付) / limit で絞り込める。一覧・照会の依頼にはこのツールを使う (register は不要)。",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          partNumber:       { "type": "string" },
          status:           { "type": "string" },
          severity:         { "type": "string" },
          since:            { "type": "string" },
          limit:            { "type": "integer" }
        },
        required: []
      }
  }}
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="agentLoopFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="loopRange"><![CDATA[%dw 2.0
output application/java
---
1 to (p('agent.max_loops') as Number)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <foreach collection="#[vars.loopRange]">
            <choice>
                <when expression="#[(vars.finishReason default '') == 'stop' or (vars.finishReason default '') == 'length' or (vars.finishReason default '') == 'content_filter']">
                    <logger level="INFO" message="#['Skipping iter ' ++ (payload as String) ++ ' (finishReason=' ++ (vars.finishReason default '') ++ ')']"/>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
((payload default 0) - 1) as Number]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="agentInferenceFlow"/>
                    <flow-ref name="agentExecuteToolsFlow"/>
                </otherwise>
            </choice>
        </foreach>
        <logger level="INFO" message="#['Agent loop done. iterations=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '')]"/>
    </sub-flow>

    <sub-flow name="agentInferenceFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="llmBody"><![CDATA[%dw 2.0
output application/json
---
{
  model:       (p('llm.model') default "gpt-5-mini") as String,
  max_completion_tokens:  (p('llm.max_tokens') default 2048) as Number,
  messages:    vars.messages default [],
  tools:       vars.tools default [],
  tool_choice: "auto"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config">
            <http:body>#[vars.llmBody]</http:body>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="assistantMsg"><![CDATA[%dw 2.0
output application/java
---
(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
((((payload default {}).choices default [])[0].finish_reason) default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <choice>
            <when expression="#[(vars.finishReason default '') == 'stop']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
((vars.assistantMsg.content default "") as String)]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" message="#['Loop iter=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '') ++ ' tool_calls=' ++ ((sizeOf(vars.assistantMsg.tool_calls default []) as String))]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="agentExecuteToolsFlow">
        <choice>
            <when expression="#[sizeOf((vars.assistantMsg.tool_calls default [])) == 0]">
                <logger level="INFO" message="No tool_calls in assistant message"/>
            </when>
            <otherwise>
                <foreach collection="#[vars.assistantMsg.tool_calls default []]">
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolCallId"><![CDATA[%dw 2.0
output application/java
---
((payload."id" default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((payload.function.name default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolArgsRaw"><![CDATA[%dw 2.0
output application/java
---
((payload.function.arguments default "{}") as String)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
read((vars.toolArgsRaw default "{}") as String, "application/json")]]></ee:set-variable>
                            <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.toolName default "") as String
---
if (n == "lookup_incident" or n == "register_incident" or n == "update_incident_status") "incident"
else if (n == "list_incidents") "mdm"
else "unknown"]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="callMcpExecuteFlow"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [{
  role: "tool",
  tool_call_id: (vars.toolCallId default "") as String,
  content: write((vars.toolResult default {}), "application/json") as String
}]]]></ee:set-variable>
                            <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
(vars.actionsLog default []) ++ [{
  tool: (vars.toolName default "") as String,
  result: (vars.toolResult default {})
}]]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </foreach>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         intentExtractFlow — LLM は「自然文 → 構造化 intent JSON」変換だけに専念。
         分岐や検証はしない。 response_format で JSON object を強制。
         出力 vars.intent = { intent, entities{...}, rawMessage, language }
         ============================================================ -->
    <sub-flow name="intentExtractFlow">
        <ee:transform doc:name="build extractor messages">
            <ee:variables>
                <ee:set-variable variableName="extractMessages"><![CDATA[%dw 2.0
output application/java
var sys =
"あなたはサプライチェーンのインシデント管理 agent の『意図抽出器』です。\n" ++
"ユーザの 1 メッセージを読み、 下記 JSON スキーマだけを出力します。 説明文・前置き・コードフェンスは一切書かない。\n" ++
"\n" ++
"intent は次のいずれか 1 つ:\n" ++
"  - \"list_incidents\"    : インシデントの一覧・検索 (「一覧」「〜のインシデント教えて」「最近の」「OPEN の」等)\n" ++
"  - \"lookup_incident\"   : 特定 incidentId 1 件の状態照会\n" ++
"  - \"register_incident\" : 新規インシデントの登録・起票 (「登録して」「起票して」「新規インシデントとして」)\n" ++
"  - \"update_status\"     : 既存インシデント 1 件のステータス更新 (OPEN/IN_PROGRESS/RESOLVED)。 incidentId が 1 つ特定できるとき。\n" ++
"  - \"bulk_close\"        : 条件に合う 複数 インシデントの一括クローズ。 個別 incidentId を伴わず\n" ++
"                          『〜の(OPEN を)全部クローズ』『まとめてクローズ』『全件 RESOLVED に』のような依頼。\n" ++
"                          フィルタは entities の supplierName/supplierGoldenId/partNumber/severity/status に入れる。\n" ++
"  - \"capability\"        : agent 自身の能力・役割を問うメタ質問のみ (「何ができる?」「君の役割は?」「使い方は?」)。\n" ++
"  - \"out_of_scope\"      : 在庫・法務・発注・承認など incident 以外の依頼\n" ++
"  - \"unknown\"           : 上記に当てはまらない / 判断不能\n" ++
"\n" ++
"★最重要の判定ルール:\n" ++
"  - ★まず out_of_scope を最優先で判定: 依頼の動詞が incident 以外のドメインの行為なら、 社名・部品番号・incidentId が含まれていても out_of_scope。\n" ++
"    → 法務・契約・返品請求・ペナルティ (legal) / 代替部品・発注・発注ドラフト (procurement) / 在庫・仮確保 (logistics) / 担当者検索・承認依頼 (org)。\n" ++
"    例: 『九州製作所との品質保証協定で返品請求できるか法務的に見て』→ out_of_scope (社名があっても法務の依頼)。\n" ++
"  - 発話に具体的な業務データ (社名・部品番号・incidentId・status 等) が含まれる、 または特定インシデントの\n" ++
"    情報を求めている場合は、 capability では絶対にない。 一覧・照会系なら list_incidents (または lookup_incident)。\n" ++
"  - 「〜を知りたい」「〜を教えて」「〜を見たい」は **データ照会** の意図。 capability ではない。\n" ++
"    『九州製作所のインシデントを知りたい/教えて』→ list_incidents。\n" ++
"  - capability は『(この agent は) 何ができる?』のように、 agent の機能そのものを尋ねるときだけ。\n" ++
"  - ★会話履歴の参照: 現発話が「さっき(の)/その/この/先ほどの インシデント」のように直前の話題を指していて、 かつ\n" ++
"    現発話自体に incidentId が無い場合は、 直前までの会話 (assistant の応答テキストや user 発話) に出てきた\n" ++
"    INC-... 形式の incidentId を entities.incidentId に補完してよい。 これは『捏造』ではなく『直近文脈の参照』。\n" ++
"    例: 直前に『INC-20260530-... を登録しました』があり、 現発話が『さっきのをクローズして』→\n" ++
"        intent=update_status, entities.incidentId=その INC-..., status=RESOLVED。\n" ++
"\n" ++
"entities は読み取れた値だけ入れ、 読み取れないものは null。 ★推測・正規化・捏造は禁止 (ただし上記『会話履歴の参照』は許可)。\n" ++
"  - supplierGoldenId : 正規化済 G-XXX 形式のみ。 社名しか無ければ null。\n" ++
"  - supplierName     : 社名そのまま (例: 九州製作所)。\n" ++
"  - partNumber       : P-YYYY-... 形式。\n" ++
"  - incidentId       : INC-... 形式。\n" ++
"  - severity         : ユーザが明示的に LOW/MEDIUM/HIGH/CRITICAL と言ったときだけ。 「不良15%」等は null。\n" ++
"  - status           : OPEN/IN_PROGRESS/RESOLVED/ALL のいずれか明示時のみ。\n" ++
"  - quantity         : 数量 (整数) 明示時のみ。\n" ++
"  - since            : ISO 日付 明示時のみ。\n" ++
"\n" ++
"出力スキーマ (このキーだけ):\n" ++
"{\n" ++
"  \"intent\": \"...\",\n" ++
"  \"entities\": { \"supplierGoldenId\": null, \"supplierName\": null, \"partNumber\": null, \"incidentId\": null, \"severity\": null, \"status\": null, \"quantity\": null, \"since\": null },\n" ++
"  \"rawMessage\": \"ユーザ発話の原文そのまま\",\n" ++
"  \"language\": \"ja\" または \"en\"\n" ++
"}"
// few-shot: 弱い LLM の intent 境界を実例で固定する。 特に「〜を知りたい/教えて」が
// capability に誤分類される問題への対策。 各 assistant は理想の JSON 1 行。
fun ex(intent, ents) = write({ intent: intent, entities: ents, rawMessage: "", language: "ja" }, "application/json")
var nullEnts = { supplierGoldenId: null, supplierName: null, partNumber: null, incidentId: null, severity: null, status: null, quantity: null, since: null }
---
[
  { role: "system", content: sys },
  { role: "user",      content: "九州製作所のインシデントの一覧をしりたい" },
  { role: "assistant", content: ex("list_incidents", nullEnts ++ { supplierName: "九州製作所" }) },
  { role: "user",      content: "最近のインシデントを教えて" },
  { role: "assistant", content: ex("list_incidents", nullEnts) },
  { role: "user",      content: "INC-2026-0579 はどんな状態?" },
  { role: "assistant", content: ex("lookup_incident", nullEnts ++ { incidentId: "INC-2026-0579" }) },
  { role: "user",      content: "INC-2026-0579 を対応完了でクローズして" },
  { role: "assistant", content: ex("update_status", nullEnts ++ { incidentId: "INC-2026-0579", status: "RESOLVED" }) },
  { role: "user",      content: "九州製作所の OPEN なインシデントを全部クローズして" },
  { role: "assistant", content: ex("bulk_close", nullEnts ++ { supplierName: "九州製作所", status: "OPEN" }) },
  { role: "user",      content: "さっき出した一覧、 まとめてクローズして" },
  { role: "assistant", content: ex("bulk_close", nullEnts) },
  { role: "user",      content: "君は何ができるの?" },
  { role: "assistant", content: ex("capability", nullEnts) },
  { role: "user",      content: "G-KYUSHU-MFG-001 の P-2024-KYU-001 を severity HIGH で登録して" },
  { role: "assistant", content: ex("register_incident", nullEnts ++ { supplierGoldenId: "G-KYUSHU-MFG-001", partNumber: "P-2024-KYU-001", severity: "HIGH" }) },
  { role: "user",      content: "横浜倉庫の在庫を仮確保して" },
  { role: "assistant", content: ex("out_of_scope", nullEnts) },
  { role: "user",      content: "九州製作所との品質保証協定で返品請求できるか法務的に見て" },
  { role: "assistant", content: ex("out_of_scope", nullEnts) },
  { role: "user",      content: "代替部品の発注ドラフトを作って" },
  { role: "assistant", content: ex("out_of_scope", nullEnts) },
  { role: "user",      content: "担当バイヤーに承認依頼を出して" },
  { role: "assistant", content: ex("out_of_scope", nullEnts) }
]
// 同 contextId の直近会話 (loadMemoryFlow が読んだ priorMessages) を few-shot の後ろに挿入。
// 「さっき登録したインシデントをクローズして」のような参照で、 抽出器が過去ターンの
// incidentId を entities に補完できるようにする。 system/few-shot 由来の行は除き、
// user / assistant の生の会話ターンだけを通す。
++ ((vars.priorMessages default []) filter ((m) ->
      (((m.role default "") as String) == "user" or ((m.role default "") as String) == "assistant")
      and ((m.content default "") as String) != ""))
++ [
  { role: "user",   content: (vars.userText default "") as String }
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <!-- extractBody は extractMessages を参照するので別 transform に分ける
             (同一 ee:variables 内では vars.extractMessages がまだ見えず null になる) -->
        <ee:transform doc:name="build extractor body">
            <ee:variables>
                <ee:set-variable variableName="extractBody"><![CDATA[%dw 2.0
output application/json
---
{
  model:      (p('llm.model') default "gpt-5-mini") as String,
  max_completion_tokens: (p('llm.max_tokens') default 2048) as Number,
  messages:   (vars.extractMessages default [])
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config">
            <http:body>#[vars.extractBody]</http:body>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>

        <logger level="INFO"
                message="#['incident-agent extractor content=' ++ (write(payload, 'application/json') default '?')]"/>

        <ee:transform doc:name="parse intent JSON">
            <ee:variables>
                <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
// LLM 出力からコードフェンスや前後の散文を除去し、 最初の { 〜 最後の } を JSON として読む
fun extractJson(s) = do {
  var t = trim(s default "")
  var noFence = (t replace /```(json)?/ with "") replace "```" with ""
  var i = noFence indexOf "{"
  var j = noFence lastIndexOf "}"
  ---
  if (i >= 0 and j > i) (noFence[i to j]) else "{}"
}
// 不正/途中切れ JSON でも落ちないよう try で包む (read は default では捕まらず throw)。
fun safeReadJson(s) =
  if (s == null or (trim(s as String)) == "") {}
  else (dw::Runtime::try(() -> read(extractJson(s as String), "application/json")).result default {})
// HTTP レスポンス payload は Binary のことがあるので明示的に JSON 化してから choices を読む
var resp =
  if (payload == null) {}
  else if (payload is Binary) (dw::Runtime::try(() -> read(payload as String {encoding: "UTF-8"}, "application/json")).result default {})
  else if (payload is String) (dw::Runtime::try(() -> read(payload as String, "application/json")).result default {})
  else payload
var raw = ((resp.choices default [])[0].message.content default "{}") as String
var obj = safeReadJson(raw)
// ── 決定論バックフィル: userText から正規表現で確実に拾える値を、 LLM が null に
//    した場合だけ補う。 gpt-5-mini の抽出ブレ (partNumber/incidentId 取りこぼし) を
//    打ち消し、 デモを安定させる。 LLM が入れた値は尊重し上書きしない。 ──
var ut = (vars.userText default "") as String
fun firstMatch(re) = do { var m = (ut scan re) --- if (sizeOf(m) > 0) m[0][0] else null }
var rxPart  = firstMatch(/P-\d{4}-[A-Z0-9]+-\d+/)
var rxInc   = firstMatch(/INC-[0-9A-Za-z-]+/)
var rxSev   = upper(((firstMatch(/(?i)(CRITICAL|HIGH|MEDIUM|LOW)/)) default "") as String)
var rxQty   = do { var m = (ut scan /(\d+)\s*(台|個|pcs|units?)/) --- if (sizeOf(m) > 0) (m[0][1]) else null }
var llmEnts = (obj.entities default {})
var ents = llmEnts ++
  (if ((llmEnts.partNumber  default null) == null and rxPart != null) { partNumber: rxPart } else {}) ++
  (if ((llmEnts.incidentId  default null) == null and rxInc  != null) { incidentId: rxInc } else {}) ++
  (if ((llmEnts.severity    default null) == null and rxSev != "")    { severity: rxSev } else {}) ++
  (if ((llmEnts.quantity    default null) == null and rxQty != null)  { quantity: (rxQty as Number) } else {})
---
{
  intent:     (obj.intent default "unknown") as String,
  entities:   ents,
  rawMessage: (obj.rawMessage default ((vars.userText default "") as String)) as String,
  language:   (obj.language default "ja") as String
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO"
                message="#['incident-agent intent=' ++ (vars.intent.intent default '?') ++ ' entities=' ++ write(vars.intent.entities default {}, 'application/json')]"/>
    </sub-flow>

    <!-- ============================================================
         resolveSupplierFlow — ドメイン内の正規化を agent 自身が行う。
         entities.supplierGoldenId が無く supplierName (社名) があるとき、
         MDM の resolve_supplier を呼んで GoldenId に解決し entities に書き戻す。
         「ID を取るのは agent の仕事」という自然な振る舞いを実現する。
         broker の価値はドメイン *横断* の調整に純化し、 ドメイン *内* の ID 解決は各 agent 持ち。
         ============================================================ -->
    <sub-flow name="resolveSupplierFlow">
        <choice>
            <when expression='#[(vars.intent.entities.supplierGoldenId default null) == null and (vars.intent.entities.supplierName default null) != null]'>
                <ee:transform doc:name="build resolve_supplier args">
                    <ee:variables>
                        <ee:set-variable variableName="toolName">#['resolve_supplier']</ee:set-variable>
                        <ee:set-variable variableName="mcpKind">#['mdm']</ee:set-variable>
                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
{ supplierName: (vars.intent.entities.supplierName default "") as String }]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="merge resolved goldenId back into entities">
                    <ee:variables>
                        <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
var r  = (vars.toolResult.result default vars.toolResult default {})
var gid = if ((r.matched default false) == true) (r.supplier.goldenId default null) else null
---
vars.intent ++ {
  entities: (vars.intent.entities default {}) ++
    (if (gid != null) { supplierGoldenId: gid } else {})
}]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO"
                        message="#['incident-agent resolved supplierName=' ++ (vars.intent.entities.supplierName default '?') ++ ' -> goldenId=' ++ (vars.intent.entities.supplierGoldenId default 'UNRESOLVED')]"/>
            </when>
            <otherwise>
                <logger level="INFO" message="resolveSupplierFlow skipped (goldenId 既知 または 社名なし)"/>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         intentRouterFlow — 抽出済 intent を決定論的に捌く。
         LLM は使わない。 必須 slot 検証 → MCP 呼出 → 整形を Mule の choice + DataWeave で。
         ============================================================ -->
    <sub-flow name="intentRouterFlow">
        <choice doc:name="dispatch by intent">
            <!-- 一覧・検索: 副作用なし。 entities の非 null だけ渡して即実行 (ゲート無し) -->
            <when expression='#[(vars.intent.intent default "") == "list_incidents"]'>
                <ee:transform doc:name="build list args">
                    <ee:variables>
                        <ee:set-variable variableName="toolName">#['list_incidents']</ee:set-variable>
                        <ee:set-variable variableName="mcpKind">#['mdm']</ee:set-variable>
                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
{} ++
  (if (e.supplierGoldenId != null) { supplierGoldenId: e.supplierGoldenId } else {}) ++
  (if (e.partNumber != null)       { partNumber: e.partNumber } else {}) ++
  (if (e.status != null)           { status: e.status } else {}) ++
  (if (e.severity != null)         { severity: e.severity } else {}) ++
  (if (e.since != null)            { since: e.since } else {})]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="format list result">
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var r = (vars.toolResult.result default vars.toolResult default {})
var items = (r.items default [])
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
---
if (sizeOf(items) == 0)
  "該当するインシデントは見つかりませんでした。"
else
  ("- インシデント一覧 (表示 **" ++ (sizeOf(items) as String) ++ "件**" ++
   (if ((r.total default null) != null) " / 全 **" ++ (r.total as String) ++ "件**" else "") ++ ")\n\n" ++
   "| incidentId | 取引先 | 部品 | severity | status |\n" ++
   "|---|---|---|---|---|\n" ++
   (items map ((it) ->
     "| **" ++ cell(it.incidentId default it.name) ++ "** | " ++ cell(it.supplierName default it.supplierGoldenId) ++
     " | " ++ cell(it.partNumber) ++ " | " ++ cell(it.severity) ++ " | " ++ cell(it.status) ++ " |"
   ) joinBy "\n"))]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>

            <!-- 1 件照会: incidentId 必須。 無ければ NEED_INFO (表で確定生成) -->
            <when expression='#[(vars.intent.intent default "") == "lookup_incident"]'>
                <choice>
                    <when expression='#[(vars.intent.entities.incidentId default null) == null]'>
                        <ee:transform>
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"[NEED_INFO]\n- 照会する incidentId (INC-XXXX 形式) を教えてください。\n[/NEED_INFO]"]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </when>
                    <otherwise>
                        <ee:transform>
                            <ee:variables>
                                <ee:set-variable variableName="toolName">#['lookup_incident']</ee:set-variable>
                                <ee:set-variable variableName="mcpKind">#['incident']</ee:set-variable>
                                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
{ incidentId: (vars.intent.entities.incidentId default "") as String }]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                        <flow-ref name="callMcpExecuteFlow"/>
                        <ee:transform>
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var r = (vars.toolResult.result default vars.toolResult default {})
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
---
if ((r.exists default true) == false)
  ("incidentId **" ++ (cell(vars.intent.entities.incidentId)) ++ "** は見つかりませんでした。")
else
  ("- インシデント詳細\n\n" ++
   "| 項目 | 値 |\n|---|---|\n" ++
   "| incidentId | **" ++ cell(r.incidentId default vars.intent.entities.incidentId) ++ "** |\n" ++
   "| 取引先 | " ++ cell(r.supplierName default r.supplierGoldenId) ++ " |\n" ++
   "| 部品 | " ++ cell(r.partNumber) ++ " |\n" ++
   "| severity | " ++ cell(r.severity) ++ " |\n" ++
   "| status | " ++ cell(r.status) ++ " |")]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </otherwise>
                </choice>
            </when>

            <!-- 新規登録: まず社名→GoldenId を agent 自身が MDM 解決し、 そのうえで必須 slot を検証。
                 欠けたものだけ NEED_INFO。 ユーザは社名で話せばよく、 GoldenId は要求されない。 -->
            <when expression='#[(vars.intent.intent default "") == "register_incident"]'>
                <flow-ref name="resolveSupplierFlow"/>
                <ee:transform doc:name="compute missing slots">
                    <ee:variables>
                        <ee:set-variable variableName="missing"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
[] ++
  (if (e.supplierGoldenId == null)
     [ (if (e.supplierName != null) ("取引先「" ++ (e.supplierName as String) ++ "」を解決できませんでした。 正式な取引先名または GoldenId (G-XXX)") else "取引先 (社名 または GoldenId G-XXX)") ]
   else []) ++
  (if (e.partNumber == null)       ["partNumber (P-YYYY-... 形式)"] else []) ++
  (if (e.severity == null)         ["severity (LOW/MEDIUM/HIGH/CRITICAL)"] else [])]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <choice>
                    <when expression="#[sizeOf(vars.missing default []) > 0]">
                        <ee:transform>
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"[NEED_INFO]\n" ++ ((vars.missing default []) map ((m) -> "- " ++ (m as String) ++ " を指定してください。") joinBy "\n") ++ "\n[/NEED_INFO]"]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </when>
                    <otherwise>
                        <ee:transform>
                            <ee:variables>
                                <ee:set-variable variableName="toolName">#['register_incident']</ee:set-variable>
                                <ee:set-variable variableName="mcpKind">#['incident']</ee:set-variable>
                                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
{
  supplierGoldenId: e.supplierGoldenId,
  partNumber:       e.partNumber,
  severity:         e.severity,
  rawMessage:       (vars.intent.rawMessage default (vars.userText default "")) as String
} ++ (if (e.quantity != null) { quantity: e.quantity } else {})
  ++ (if (e.incidentId != null) { incidentId: e.incidentId } else {})]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                        <flow-ref name="callMcpExecuteFlow"/>
                        <ee:transform>
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var tr = vars.toolResult default {}
var r  = (tr.result default tr default {})
var isErr = ((tr.status default "") as String) == "error"
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
---
if (isErr)
  "⚠️ インシデントを登録できませんでした。 — " ++ ((r.message default r.code default "unknown") as String)
else
"✅ インシデントを登録しました。\n\n" ++
"| 項目 | 値 |\n|---|---|\n" ++
"| incidentId | **" ++ cell(r.incidentId) ++ "** |\n" ++
"| 取引先 | " ++ cell(r.supplierName default r.supplierGoldenId default vars.intent.entities.supplierGoldenId) ++ " |\n" ++
"| 部品 | " ++ cell(r.partNumber default vars.intent.entities.partNumber) ++ " |\n" ++
"| severity | " ++ cell(r.severity default vars.intent.entities.severity) ++ " |\n" ++
"| status | " ++ cell(r.status default "OPEN") ++ " |"]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </otherwise>
                </choice>
            </when>

            <!-- ステータス更新: incidentId + status 必須 -->
            <when expression='#[(vars.intent.intent default "") == "update_status"]'>
                <ee:transform doc:name="compute missing for update">
                    <ee:variables>
                        <ee:set-variable variableName="missing"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
[] ++
  (if (e.incidentId == null) ["incidentId (INC-XXXX)"] else []) ++
  (if (e.status == null)     ["status (OPEN/IN_PROGRESS/RESOLVED)"] else [])]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <choice>
                    <when expression="#[sizeOf(vars.missing default []) > 0]">
                        <ee:transform>
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"[NEED_INFO]\n" ++ ((vars.missing default []) map ((m) -> "- " ++ (m as String) ++ " を指定してください。") joinBy "\n") ++ "\n[/NEED_INFO]"]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </when>
                    <otherwise>
                        <ee:transform>
                            <ee:variables>
                                <ee:set-variable variableName="toolName">#['update_incident_status']</ee:set-variable>
                                <ee:set-variable variableName="mcpKind">#['incident']</ee:set-variable>
                                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
{ incidentId: e.incidentId, status: e.status }]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                        <flow-ref name="callMcpExecuteFlow"/>
                        <ee:transform>
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var e  = vars.intent.entities default {}
var tr = vars.toolResult default {}
// MCP/backend がエラー (存在しない incidentId 等) を返したら成功を偽らない。
var isErr = ((tr.status default "") as String) == "error"
var code  = (tr.result.code default "") as String
var msg   = (tr.result.message default "") as String
---
if (isErr)
  "⚠️ ステータスを更新できませんでした。 **" ++ (e.incidentId default "?" as String) ++ "**"
    ++ (if (code == "NOT_FOUND") " — 該当インシデントが見つかりません。 incidentId をご確認ください。"
        else " — " ++ (if (msg != "") msg else code))
else
  "✅ ステータスを更新しました。 **" ++ (e.incidentId as String) ++ "** → **" ++ (e.status as String) ++ "**"]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </otherwise>
                </choice>
            </when>

            <!-- 一括クローズ: フィルタ条件 (取引先 / status 等) に合う複数インシデントを
                 list で取得 → 各 incidentId を update_incident_status で RESOLVED にループ。
                 「九州製作所の OPEN を全部クローズ」のような依頼用。 単一 incidentId は不要
                 (むしろ与えられたら update_status 側で処理される)。 -->
            <when expression='#[(vars.intent.intent default "") == "bulk_close"]'>
                <flow-ref name="resolveSupplierFlow"/>
                <!-- 1) 対象を list で取得 (フィルタは entities の非 null だけ。 既定で status=OPEN を補う) -->
                <ee:transform doc:name="build bulk list args">
                    <ee:variables>
                        <ee:set-variable variableName="toolName">#['list_incidents']</ee:set-variable>
                        <ee:set-variable variableName="mcpKind">#['mdm']</ee:set-variable>
                        <ee:set-variable variableName="bulkStatus"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
(e.status default "RESOLVED") as String]]></ee:set-variable>
                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
{ limit: 50 } ++
  (if (e.supplierGoldenId != null) { supplierGoldenId: e.supplierGoldenId } else {}) ++
  (if (e.partNumber != null)       { partNumber: e.partNumber } else {}) ++
  (if (e.severity != null)         { severity: e.severity } else {}) ++
  // クローズ対象は既定で OPEN + IN_PROGRESS。 ユーザが status を明示したらそれで絞る。
  (if (e.status != null)           { status: e.status } else {})]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="extract target incidentIds">
                    <ee:variables>
                        <ee:set-variable variableName="bulkTargets"><![CDATA[%dw 2.0
output application/java
var r = (vars.toolResult.result default vars.toolResult default {})
var items = (r.items default [])
---
// 既に RESOLVED のものは除く。 incidentId が取れるものだけ。
(items
  filter ((it) -> ((it.status default "") as String) != "RESOLVED")
  map ((it) -> (it.incidentId default it.name default "") as String)
  filter ((id) -> id != "")) distinctBy ((id) -> id)]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <choice>
                    <when expression="#[sizeOf(vars.bulkTargets default []) == 0]">
                        <ee:transform>
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"クローズ対象のインシデントが見つかりませんでした。 (条件に合う未クローズの INC なし)"]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </when>
                    <otherwise>
                        <!-- 2) 各 incidentId を RESOLVED に更新。 結果を vars.bulkResults に集約 -->
                        <ee:transform>
                            <ee:variables>
                                <ee:set-variable variableName="bulkResults"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                        <foreach collection="#[vars.bulkTargets]">
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="toolName">#['update_incident_status']</ee:set-variable>
                                    <ee:set-variable variableName="mcpKind">#['incident']</ee:set-variable>
                                    <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
{ incidentId: (payload as String), status: "RESOLVED" }]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                            <flow-ref name="callMcpExecuteFlow"/>
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="bulkResults"><![CDATA[%dw 2.0
output application/java
var prev = (vars.bulkResults default [])
var ok = ((vars.toolResult.status default "ok") as String) != "error"
---
prev ++ [{ incidentId: (vars.toolArgs.incidentId default "") as String, ok: ok }]]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </foreach>
                        <ee:transform doc:name="format bulk result">
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var res = (vars.bulkResults default [])
var okList = res filter ((x) -> x.ok == true)
var ngList = res filter ((x) -> x.ok != true)
---
"✅ 一括クローズ完了: **" ++ (sizeOf(okList) as String) ++ " 件**を RESOLVED にしました。\n\n" ++
(okList map ((x) -> "- **" ++ (x.incidentId as String) ++ "** → RESOLVED") joinBy "\n") ++
(if (sizeOf(ngList) > 0)
  ("\n\n⚠️ 失敗 " ++ (sizeOf(ngList) as String) ++ " 件:\n" ++
   (ngList map ((x) -> "- " ++ (x.incidentId as String)) joinBy "\n"))
 else "")]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </otherwise>
                </choice>
            </when>

            <!-- capability メタ質問: 静的テキスト -->
            <when expression='#[(vars.intent.intent default "") == "capability"]'>
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"ℹ️ インシデント管理 (atelier-incident-agent) です。\n\n**できること**\n- インシデントの一覧・検索 (取引先 / 部品 / status / severity で絞込み)\n- 既存 incidentId の状態照会\n- 新規インシデントの登録\n- ステータス更新 (OPEN / IN_PROGRESS / RESOLVED)\n\n**担当外** (他 agent / broker へ): 在庫・物流 / 法務 / 発注 / 承認 / supplier・part の ID 解決。"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>

            <!-- out_of_scope: 担当外案内 -->
            <when expression='#[(vars.intent.intent default "") == "out_of_scope"]'>
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"その依頼は incident-agent の担当外です。\n在庫・物流は logistics、 法務は legal、 発注は procurement、 承認は org の各 agent、 もしくは broker にお願いします。"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>

            <!-- unknown / フォールバック -->
            <otherwise>
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"ご依頼を解釈できませんでした。\n例: 「九州製作所のインシデント一覧」「INC-2026-0579 の状態」「G-KYUSHU-MFG-001 / P-2024-KYU-001 / severity HIGH で登録」"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         directToolFlow — broker からの DataPart { tool, args } を
         LLM を介さず直接 MCP /mcp/execute に流す fast-path。
         vars.directPart = { tool: "register_incident", args: {...} }
         ============================================================ -->
    <sub-flow name="directToolFlow">
        <ee:transform doc:name="map directPart → toolName/toolArgs/mcpKind">
            <ee:variables>
                <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((vars.directPart.tool default vars.directPart.toolName default "") as String)]]></ee:set-variable>
                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
(vars.directPart.args default vars.directPart."input" default {})]]></ee:set-variable>
                <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.directPart.tool default vars.directPart.toolName default "") as String
---
if (n == "lookup_incident" or n == "register_incident" or n == "update_incident_status") "incident"
else "unknown"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO"
                message="#['incident-agent direct fast-path: tool=' ++ (vars.toolName default '') ++ ' args=' ++ write(vars.toolArgs default {}, 'application/json')]"/>

        <choice doc:name="未知 tool は即エラー">
            <when expression="#[(vars.mcpKind default '') == 'unknown' or (vars.toolName default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
write({ status: "error", agent: "atelier-incident-agent", mode: "direct", result: { code: "UNKNOWN_TOOL", message: "unsupported tool for direct mode: " ++ (vars.toolName default ""), supported: ["lookup_incident","register_incident","update_incident_status","list_incidents"] } }, "application/json") as String]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <flow-ref name="callMcpExecuteFlow"/>
                <!-- callMcpExecuteFlow が vars.toolResult を埋める。 broker 向けに構造化 JSON 文字列で返す。 -->
                <ee:transform doc:name="wrap direct result as JSON reply">
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
write({ status: "ok", agent: "atelier-incident-agent", mode: "direct", tool: (vars.toolName default "") as String, result: (vars.toolResult default {}) }, "application/json") as String]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="callMcpExecuteFlow">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  toolName: (vars.toolName default "") as String,
  "input":  (vars.toolArgs default {})
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <try>
            <choice>
                <when expression="#[(vars.mcpKind default '') == 'mdm']">
                    <http:request method="POST" path="/mcp/execute" config-ref="MDM_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <when expression="#[(vars.mcpKind default '') == 'incident']">
                    <http:request method="POST" path="/mcp/execute" config-ref="Incident_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "UNKNOWN_TOOL", message: "no MCP for tool: " ++ (vars.toolName default "") } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </otherwise>
            </choice>
            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "MCP_CALL_FAILED", message: (error.description default error.message default "unknown") as String } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <logger level="WARN"
                            message="#['MCP call failed kind=' ++ (vars.mcpKind default '') ++ ' tool=' ++ (vars.toolName default '') ++ ' err=' ++ (error.description default error.message default 'unknown')]"/>
                </on-error-continue>
            </error-handler>
        </try>
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="toolResult"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s: String) =
  if (s == null or trim(s) == "") {}
  else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload as String)
else payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="loadMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <try>
                    <os:retrieve key="#[vars.contextId]" objectStore="MEMORY_STORE" target="priorRaw"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
fun parseList(s) = if (s == null or s == "") [] else read(s, "application/json")
---
if (vars.priorRaw == null) []
else if (vars.priorRaw is String) parseList(vars.priorRaw as String)
else (vars.priorRaw default [])]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <error-handler>
                        <on-error-continue type="OS:KEY_NOT_FOUND, OS:STORE_NOT_AVAILABLE, ANY">
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
        <logger level="INFO"
                message="#['memory load: contextId=' ++ (vars.contextId default '') ++ ' priorMessages=' ++ (sizeOf(vars.priorMessages default []) as String)]"/>
    </sub-flow>

    <sub-flow name="saveMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <logger level="INFO" message="memory save skipped (no contextId)"/>
            </when>
            <otherwise>
                <try>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
// 新パイプライン (intent抽出) 用の会話メモリ。 旧 vars.messages ではなく、
// loadMemoryFlow が読んだ priorMessages に「今回の user 発話 + agent 応答」を足して
// 直近ターンだけ残す。 これで次ターンが「さっきの INC」を参照できる。
var prior = (vars.priorMessages default []) filter ((m) ->
  (((m.role default "") as String) == "user" or ((m.role default "") as String) == "assistant")
  and ((m.content default "") as String) != "")
var thisTurn = [
  { role: "user",      content: (vars.userText default "") as String },
  { role: "assistant", content: (vars.replyText default vars.finalText default "") as String }
]
var all = prior ++ thisTurn
// 直近 8 ターン (= 4 往復) に圧縮。 ObjectStore 肥大と prompt 長を抑える。
var tail = if (sizeOf(all) > 8) (all[-8 to -1]) else all
---
write(tail, "application/json") as String]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <os:store key="#[vars.contextId]" objectStore="MEMORY_STORE">
                        <os:value>#[payload]</os:value>
                    </os:store>
                    <logger level="INFO"
                            message="#['memory save: contextId=' ++ (vars.contextId default '') ++ ' messages=' ++ (sizeOf(vars.messages default []) as String)]"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN" message="#['memory save failed: ' ++ (error.description default error.message default 'unknown')]"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
    </sub-flow>

</mule>
