atelier-agents/incident-agent/src/main/mule/incident-agent.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:jmx="http://www.mulesoft.org/schema/mule/jmx"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
          http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
          http://www.mulesoft.org/schema/mule/jmx http://www.mulesoft.org/schema/mule/jmx/current/mule-jmx.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="${http.listener.port}"/>
    </http:listener-config>

    <a2a:server-config name="A2A_Server_config">
        <a2a:connection listenerConfig="HTTP_Listener_config" agentPath="${a2a.path}"/>
        <a2a:agent-card>
            <a2a:json><![CDATA[{
  "protocolVersion": "0.3.0",
  "name": "atelier-incident-agent",
  "description": "インシデント管理 AI アドバイザ (Atelier 用 同期 A2A 版)。Atelier の chat 入力をそのまま受け、LLM tool-use ループ (incident-mcp / mdm-mcp) で既存インシデント参照・新規採番・ステータス更新の相談に応じる。副作用 tool (register / update_status) はユーザの明示指示時のみ実行。",
  "url": "${agent.public.url}",
  "version": "1.0.0",
  "preferredTransport": "JSONRPC",
  "capabilities": { "streaming": false, "pushNotifications": false, "stateTransitionHistory": false },
  "defaultInputModes": ["text/plain", "application/json"],
  "defaultOutputModes": ["text/plain", "application/json"],
  "skills": [
    {
      "id": "incident_advise_or_register",
      "name": "インシデント相談 / 登録 (LLM tool-use, ADVISORY デフォルト)",
      "description": "サプライヤー品質インシデントの相談を自然文で受け取り、既存 incidentId の照会、必須情報の確認、新規採番方針の提案を行う。ユーザが「登録してください」「クローズしてください」と明示指示したときだけ register / update_status を実行する。",
      "examples": [
        "関西部品の P-2024-KAN-001 で不良率15% 出てます。インシデント登録すべきですか?",
        "INC-2026-0521 はどんな状態ですか? 解決済みにしてください。"
      ],
      "inputModes": ["text/plain", "application/json"],
      "outputModes": ["text/plain", "application/json"],
      "tags": ["incident", "advisory", "salesforce", "intake"]
    }
  ]
}]]></a2a:json>
        </a2a:agent-card>
    </a2a:server-config>

    <http:request-config name="LLM_Request_config" basePath="/" responseTimeout="${llm.timeout}">
        <http:request-connection host="openai-proxy.demos.mulesoft.com"
                                 port="443"
                                 protocol="HTTPS"/>
        <http:default-headers>
            <http:default-header key="Authorization" value="Basic ${llm.token}"/>
            <http:default-header key="Content-Type" value="application/json; charset=utf-8"/>
        </http:default-headers>
    </http:request-config>

    <http:request-config name="Incident_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.incident.host}"
                                 port="${mcp.incident.port}"
                                 protocol="${mcp.incident.protocol}"/>
    </http:request-config>

    <http:request-config name="MDM_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.mdm.host}"
                                 port="${mcp.mdm.port}"
                                 protocol="${mcp.mdm.protocol}"/>
    </http:request-config>

    <jmx:config name="JMX_Config" logBufferSize="5000"/>

    <os:object-store name="MEMORY_STORE"
                     entryTtl="1" entryTtlUnit="HOURS"
                     expirationInterval="5" expirationIntervalUnit="MINUTES"
                     maxEntries="500"
                     persistent="false"/>

    <flow name="incidentAgentTaskFlow">
        <a2a:task-listener config-ref="A2A_Server_config">
            <a2a:response>
                <a2a:response>#[vars.taskJson]</a2a:response>
            </a2a:response>
        </a2a:task-listener>

        <logger level="INFO"
                message="#['atelier-incident-agent A2A task received. method=' ++ (attributes.jsonRpcMethod default '?') ++ ' taskId=' ++ (attributes.taskId default '?')]"/>

        <ee:transform doc:name="extract user text + task ids + contextId">
            <ee:variables>
                <ee:set-variable variableName="taskId"><![CDATA[%dw 2.0
output application/java
---
((attributes.taskId default (now() as String)) as String)]]></ee:set-variable>
                <ee:set-variable variableName="contextId"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var fromAttr = (attributes.contextId default "") as String
var fromMsg  = (p.message.contextId default "") as String
---
if (fromAttr != "") fromAttr else fromMsg]]></ee:set-variable>
                <ee:set-variable variableName="userText"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
---
(((p.message.parts default [])[0].text default "") as String)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <flow-ref name="loadMemoryFlow"/>

        <try>
            <flow-ref name="initAgentStateFlow"/>
            <flow-ref name="agentLoopFlow"/>
            <error-handler>
                <on-error-continue type="ANY">
                    <logger level="WARN"
                            message="#['Agent loop failed: ' ++ (error.description default error.message default 'unknown')]"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"⚠️ atelier-incident-agent: Agent ループ中にエラーが発生しました。\n" ++
"  " ++ ((error.description default (error.message default "unknown")) as String)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="replyText"><![CDATA[%dw 2.0
output application/java
var t = ((vars.finalText default "") as String)
var msgs = (vars.messages default [])
var lastAssistant = (msgs filter ((m) -> ((m.role default "") as String) == "assistant" and ((m.content default "") as String) != ""))
var lastAssistantContent = if (sizeOf(lastAssistant) > 0) ((lastAssistant[-1].content default "") as String) else ""
var fallbackByReason =
  if ((vars.finishReason default "") as String == "length")
    "ℹ️ インシデント管理 (atelier-incident-agent) です。\n\n回答が文字数上限に達しました。\nincidentId か (サプライヤー名 + 部品番号 + 不具合内容) を指定して再度お試しください。"
  else
    "ℹ️ インシデント管理 (atelier-incident-agent) です。\n\n**実行可能な操作**\n- 取引先のゴールデン ID 解決\n- 過去インシデント・取引先関係の照会\n- 取引先一覧 (region / status / リスクスコア範囲で絞込み)\n- 取引先 region 一覧 (各 region の件数付き)\n- 既存 incidentId の状態照会\n- インシデントの新規採番 (Incident__c 作成)\n- インシデントステータスの更新 (OPEN / IN_PROGRESS / RESOLVED)\n\nincidentId か (サプライヤー名 + 部品番号 + 不具合内容) を教えてください。"
---
if (t != "") t
else if (lastAssistantContent != "") lastAssistantContent
else fallbackByReason]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <flow-ref name="saveMemoryFlow"/>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="taskJson"><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.taskId,
  contextId: vars.contextId,
  kind: "task",
  status: {
    state: "completed",
    message: {
      role: "agent",
      kind: "message",
      messageId: (now() as String) ++ "-" ++ vars.taskId,
      parts: [
        { kind: "text", text: vars.replyText default "" }
      ]
    },
    timestamp: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" }
  }
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="healthFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/health"/>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-incident-agent" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

    <flow name="debugLogsFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/debug/logs"/>
        <jmx:get-recent-logs config-ref="JMX_Config"
                             lines="#[(attributes.queryParams.lines default 200) as Number]"
                             level="#[attributes.queryParams.level default null]"
                             pattern="#[attributes.queryParams.pattern default null]"/>
    </flow>

    <sub-flow name="initAgentStateFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
var sysPrompt =
"あなたはインシデント管理担当 AI (atelier-incident-agent)。専門領域は incident のみ。\n" ++
"\n" ++
"=== STEP 1: 最優先 — NEED_INFO ゲート (これに違反する出力は重大エラー) ===\n" ++
"\n" ++
"以下の **3 つすべて** が user メッセージに揃っていなければ、 何があっても tool を呼ばず、 ADVISORY/EXECUTE テンプレ (テーブル含む) も一切書かず、 [NEED_INFO] block **だけ** を返す:\n" ++
"  1. supplierGoldenId (正規化済の G-XXX 形式)。 ユーザが「関西部品」のような名前で言っただけでは **不足**。\n" ++
"  2. partNumber (正規化済の P-YYYY-... 形式)。 ユーザが「P-2024-KAN-001」と言っていれば OK。\n" ++
"  3. severity (HIGH / MEDIUM / LOW / CRITICAL のいずれかの正規化値)。 「不良 15%」「不良率」「欠品」「遅延」のような自然文は severity **ではない**。\n" ++
"\n" ++
"  注意: incidentId (INC-XXXX) が含まれていても、 上記 3 つが揃っていなければ NEED_INFO 必須。 「既存 incident をクローズしますか?」のような ADVISORY を勝手に組み立てない。\n" ++
"\n" ++
"  **絶対禁止例 (これらは重大エラー)**:\n" ++
"    - サプライヤー名「関西部品」を見て supplierGoldenId=\"G-KANSAI-PARTS-001\" を勝手に作る → ❌\n" ++
"    - 不足項目を「未指定」と書いて ADVISORY テーブルを埋めて返す → ❌\n" ++
"    - 「不良 15%」を見て severity=\"HIGH\" や \"MEDIUM\" と推定する → ❌\n" ++
"    - incidentId だけ揃っているのを根拠に ADVISORY 出力する → ❌\n" ++
"\n" ++
"NEED_INFO 出力フォーマット (これだけを返す。 他のテキスト/テーブル/絵文字は書かない):\n" ++
"\n" ++
"    [NEED_INFO]\n" ++
"    - <question 1 — ユーザの最後のメッセージと同じ言語で書く。 日本語で来たら日本語で問い返す。 normalized ID or value を要求すること>\n" ++
"    - <question 2 ...>\n" ++
"    [/NEED_INFO]\n" ++
"\n" ++
"=== STEP 2: 全項目揃った場合のみ — 通常の処理 ===\n" ++
"\n" ++
"利用可能 tool: lookup_incident / register_incident / update_incident_status のみ。\n" ++
"supplier / part / region / 在庫 / 契約 等を解決する tool は持っていない。\n" ++
"\n" ++
"原則:\n" ++
"  - ユーザ発話の固有名詞 (会社名・部品番号・incidentId) はそのまま tool 引数に使う。仮名禁止。\n" ++
"  - 既ターンで解決済みの goldenId / incidentId は再呼び出しせず流用。\n" ++
"  - tool が success で返ったら result.* を読んで反映する。\n" ++
"  - WRITE tool (register_incident / update_incident_status) は明示指示時のみ。\n" ++
"\n" ++
"出力 (Markdown、見やすさ最優先):\n" ++
"  - 散文を書かない。 必ず **見出し → リスト or テーブル** で構造化する。\n" ++
"  - 行頭は半角ハイフン+半角スペース (`- `)、 ネストは半角スペース 2 個。`•` `・` `*` 禁止。\n" ++
"  - 固有名詞 (会社名 / 部品番号 / incidentId / status / severity) は `**foo**` で太字。\n" ++
"\n" ++
"出力テンプレ (STEP 1 で全項目揃った場合のみ使う):\n" ++
"\n" ++
"  [ADVISORY] (相談・提案)\n" ++
"    🚨 **incident-agent (相談)** — <一言サマリ>\n" ++
"    **状況**\n" ++
"    | 項目 | 値 |\n" ++
"    |---|---|\n" ++
"    | 取引先 | **<name>** (<goldenId>) |\n" ++
"    | 部品 | **<partNumber>** |\n" ++
"    | 既存 incident | **<incidentId>** / status=**<status>** (未登録なら「未登録」) |\n" ++
"    **推奨アクション**\n" ++
"    - <新規採番 / 既存に紐付け / クローズ可 のいずれか>\n" ++
"    💬 「登録してください」「クローズしてください」で実行します。\n" ++
"\n" ++
"  [EXECUTE 完了]\n" ++
"    ✅ **incident-agent (実行完了)** — <一言サマリ>\n" ++
"    | 項目 | 値 |\n" ++
"    |---|---|\n" ++
"    | incidentId | **<id>** |\n" ++
"    | 取引先 | **<name>** (<goldenId>) |\n" ++
"    | 部品 | **<partNumber>** |\n" ++
"    | severity | **<severity>** |\n" ++
"    | status | **<status>** |\n"
---
if ((vars.priorMessages default []) != [])
  (vars.priorMessages default []) ++ [{ role: "user", content: (vars.userText default "") as String }]
else
  [
    { role: "system", content: sysPrompt },
    { role: "user",   content: (vars.userText default "") as String }
  ]]]></ee:set-variable>
                <ee:set-variable variableName="tools"><![CDATA[%dw 2.0
output application/java
---
[
  { "type": "function", "function": {
      name: "lookup_incident",
      description: "incidentId で既存 Incident__c を 1 件取得する。404 のときは exists=false を返す",
      parameters: {
        "type": "object",
        properties: {
          incidentId: { "type": "string" }
        },
        required: ["incidentId"]
      }
  }},
  { "type": "function", "function": {
      name: "register_incident",
      description: "Incident__c を新規作成する。incidentId 未指定なら incident-system が採番。supplierGoldenId / partNumber / severity / rawMessage は必須",
      parameters: {
        "type": "object",
        properties: {
          incidentId:       { "type": "string" },
          supplierGoldenId: { "type": "string" },
          partNumber:       { "type": "string" },
          quantity:         { "type": "integer" },
          severity:         { "type": "string", "enum": ["LOW", "MEDIUM", "HIGH", "CRITICAL"] },
          rawMessage:       { "type": "string" },
          slackChannel:     { "type": "string" },
          slackThreadTs:    { "type": "string" }
        },
        required: ["supplierGoldenId", "partNumber", "severity", "rawMessage"]
      }
  }},
  { "type": "function", "function": {
      name: "update_incident_status",
      description: "incidentId のステータスを更新する。OPEN / IN_PROGRESS / RESOLVED",
      parameters: {
        "type": "object",
        properties: {
          incidentId: { "type": "string" },
          status:     { "type": "string", "enum": ["OPEN", "IN_PROGRESS", "RESOLVED"] }
        },
        required: ["incidentId", "status"]
      }
  }}
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="agentLoopFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="loopRange"><![CDATA[%dw 2.0
output application/java
---
1 to (p('agent.max_loops') as Number)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <foreach collection="#[vars.loopRange]">
            <choice>
                <when expression="#[(vars.finishReason default '') == 'stop' or (vars.finishReason default '') == 'length' or (vars.finishReason default '') == 'content_filter']">
                    <logger level="INFO" message="#['Skipping iter ' ++ (payload as String) ++ ' (finishReason=' ++ (vars.finishReason default '') ++ ')']"/>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
((payload default 0) - 1) as Number]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="agentInferenceFlow"/>
                    <flow-ref name="agentExecuteToolsFlow"/>
                </otherwise>
            </choice>
        </foreach>
        <logger level="INFO" message="#['Agent loop done. iterations=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '')]"/>
    </sub-flow>

    <sub-flow name="agentInferenceFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="llmBody"><![CDATA[%dw 2.0
output application/json
---
{
  model:       (p('llm.model') default "gpt-5-mini") as String,
  max_completion_tokens:  (p('llm.max_tokens') default 2048) as Number,
  messages:    vars.messages default [],
  tools:       vars.tools default [],
  tool_choice: "auto"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config">
            <http:body>#[vars.llmBody]</http:body>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="assistantMsg"><![CDATA[%dw 2.0
output application/java
---
(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
((((payload default {}).choices default [])[0].finish_reason) default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <choice>
            <when expression="#[(vars.finishReason default '') == 'stop']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
((vars.assistantMsg.content default "") as String)]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" message="#['Loop iter=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '') ++ ' tool_calls=' ++ ((sizeOf(vars.assistantMsg.tool_calls default []) as String))]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="agentExecuteToolsFlow">
        <choice>
            <when expression="#[sizeOf((vars.assistantMsg.tool_calls default [])) == 0]">
                <logger level="INFO" message="No tool_calls in assistant message"/>
            </when>
            <otherwise>
                <foreach collection="#[vars.assistantMsg.tool_calls default []]">
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolCallId"><![CDATA[%dw 2.0
output application/java
---
((payload."id" default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((payload.function.name default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolArgsRaw"><![CDATA[%dw 2.0
output application/java
---
((payload.function.arguments default "{}") as String)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
read((vars.toolArgsRaw default "{}") as String, "application/json")]]></ee:set-variable>
                            <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.toolName default "") as String
---
if (n == "lookup_incident" or n == "register_incident" or n == "update_incident_status") "incident"
else "unknown"]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="callMcpExecuteFlow"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [{
  role: "tool",
  tool_call_id: (vars.toolCallId default "") as String,
  content: write((vars.toolResult default {}), "application/json") as String
}]]]></ee:set-variable>
                            <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
(vars.actionsLog default []) ++ [{
  tool: (vars.toolName default "") as String,
  result: (vars.toolResult default {})
}]]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </foreach>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="callMcpExecuteFlow">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  toolName: (vars.toolName default "") as String,
  "input":  (vars.toolArgs default {})
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <try>
            <choice>
                <when expression="#[(vars.mcpKind default '') == 'mdm']">
                    <http:request method="POST" path="/mcp/execute" config-ref="MDM_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <when expression="#[(vars.mcpKind default '') == 'incident']">
                    <http:request method="POST" path="/mcp/execute" config-ref="Incident_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "UNKNOWN_TOOL", message: "no MCP for tool: " ++ (vars.toolName default "") } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </otherwise>
            </choice>
            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "MCP_CALL_FAILED", message: (error.description default error.message default "unknown") as String } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <logger level="WARN"
                            message="#['MCP call failed kind=' ++ (vars.mcpKind default '') ++ ' tool=' ++ (vars.toolName default '') ++ ' err=' ++ (error.description default error.message default 'unknown')]"/>
                </on-error-continue>
            </error-handler>
        </try>
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="toolResult"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s: String) =
  if (s == null or trim(s) == "") {}
  else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload as String)
else payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="loadMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <try>
                    <os:retrieve key="#[vars.contextId]" objectStore="MEMORY_STORE" target="priorRaw"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
fun parseList(s) = if (s == null or s == "") [] else read(s, "application/json")
---
if (vars.priorRaw == null) []
else if (vars.priorRaw is String) parseList(vars.priorRaw as String)
else (vars.priorRaw default [])]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <error-handler>
                        <on-error-continue type="OS:KEY_NOT_FOUND, OS:STORE_NOT_AVAILABLE, ANY">
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
        <logger level="INFO"
                message="#['memory load: contextId=' ++ (vars.contextId default '') ++ ' priorMessages=' ++ (sizeOf(vars.priorMessages default []) as String)]"/>
    </sub-flow>

    <sub-flow name="saveMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <logger level="INFO" message="memory save skipped (no contextId)"/>
            </when>
            <otherwise>
                <try>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
var msgs = (vars.messages default [])
var sys = msgs filter ((m) -> ((m.role default "") as String) == "system")
var nonTool = msgs filter ((m) -> ((m.role default "") as String) == "user" or (((m.role default "") as String) == "assistant" and ((m.content default "") as String) != ""))
var tail = if (sizeOf(nonTool) > 4) (nonTool[-4 to -1]) else nonTool
var compact = sys ++ tail
---
write(compact, "application/json") as String]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <os:store key="#[vars.contextId]" objectStore="MEMORY_STORE">
                        <os:value>#[payload]</os:value>
                    </os:store>
                    <logger level="INFO"
                            message="#['memory save: contextId=' ++ (vars.contextId default '') ++ ' messages=' ++ (sizeOf(vars.messages default []) as String)]"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN" message="#['memory save failed: ' ++ (error.description default error.message default 'unknown')]"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
    </sub-flow>

</mule>
