mule-app/src/main/mule/impl/proxy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!--
      /proxy?url=<encoded>
      ─────────────────────
      Atelier client から CORS bypass のため使用 (Python dev-server と同じ I/F)。
      ・ GET/POST/OPTIONS をそのまま forward
      ・ Authorization / Content-Type を forward
      ・ 3xx redirect (Anypoint Exchange の S3 presigned URL 等) は Authorization なしで再リクエスト
      ・ CORS ヘッダを response に付与
    -->

    <!-- HTTP Request 用 config (URL は dynamic 指定なので path/host は最小限) -->
    <http:request-config name="proxy-request-config">
        <http:request-connection protocol="HTTPS" host="anypoint.mulesoft.com" port="443"/>
    </http:request-config>

    <flow name="proxy-flow">
        <http:listener config-ref="http-listener-config" path="/proxy" allowedMethods="GET,POST,PUT,DELETE,OPTIONS">
            <http:response statusCode="#[vars.proxyStatus default 200]">
                <http:headers><![CDATA[#[vars.proxyHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.proxyStatus default 502]">
                <http:body>#[payload]</http:body>
                <http:headers><![CDATA[#[vars.proxyHeaders default { 'Content-Type': 'text/plain; charset=utf-8', 'Access-Control-Allow-Origin': '*' }]]]></http:headers>
            </http:error-response>
        </http:listener>

        <!-- CORS preflight は即 OK -->
        <choice>
            <when expression="#[attributes.method == 'OPTIONS']">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0 output text/plain --- ""]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="proxyHeaders"><![CDATA[%dw 2.0
output application/java
---
{
    "Access-Control-Allow-Origin":  "*",
    "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
    "Access-Control-Allow-Headers": "Content-Type, Authorization, X-Requested-With, Mcp-Session-Id, Mcp-Protocol-Version, X-Clouderby-Session-Id",
    "Access-Control-Expose-Headers": "Mcp-Session-Id",
    "Access-Control-Max-Age":       "86400"
}]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>

            <otherwise>
                <!-- target URL と forward header を準備 -->
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="targetUrl"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.url default ""]]></ee:set-variable>
                        <!-- SSRF ガード: 宛先 host を検査 (allowlist + private IP 拒否 + scheme 制限)。
                             公開 CloudHub 上で open proxy にならないよう必須。 -->
                        <ee:set-variable variableName="guard"><![CDATA[%dw 2.0
import dw::SsrfGuard
output application/java
---
SsrfGuard::check(attributes.queryParams.url default "", (p('proxy.allowHosts') default "") splitBy ",")]]></ee:set-variable>
                        <ee:set-variable variableName="fwdHeaders"><![CDATA[%dw 2.0
output application/java
var h = attributes.headers default {}
---
{
    (if (h.authorization?) { "Authorization": h.authorization } else {}),
    (if (h."content-type"?) { "Content-Type": h."content-type" } else {}),
    (if (h."mcp-session-id"?) { "Mcp-Session-Id": h."mcp-session-id" } else {}),
    (if (h."mcp-protocol-version"?) { "Mcp-Protocol-Version": h."mcp-protocol-version" } else {}),
    (if (h."x-clouderby-session-id"?) { "X-Clouderby-Session-Id": h."x-clouderby-session-id" } else {}),
    "Accept": h.accept default "*/*"
}]]></ee:set-variable>
                        <!-- client が SSE を要求しているか (Accept: text/event-stream) -->
                        <ee:set-variable variableName="wantsSse"><![CDATA[%dw 2.0
output application/java
var acc = ((attributes.headers default {}).accept default "") as String
---
acc contains "text/event-stream"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>

                <!-- ── SSE pass-through ──────────────────────────────
                     A2A message/stream など。 redirect 処理や payload 変換を挟まず、
                     upstream の InputStream をそのまま listener response に流す
                     (streamingMode=ALWAYS で chunked のまま転送)。 -->
                <choice>
                    <!-- ── SSRF 拒否 ──────────────────────────────
                         allowlist 外 / private IP / 非 http(s) は upstream へ飛ばさず 403。 -->
                    <when expression="#[vars.guard.deny default true]">
                        <ee:transform>
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ error: "proxy denied", reason: (vars.guard.reason default "blocked"), host: (vars.guard.host default "") }]]></ee:set-payload>
                            </ee:message>
                            <ee:variables>
                                <ee:set-variable variableName="proxyStatus"><![CDATA[%dw 2.0 output application/java --- 403]]></ee:set-variable>
                                <ee:set-variable variableName="proxyHeaders"><![CDATA[%dw 2.0 output application/java --- { "Content-Type": "application/json; charset=utf-8", "Access-Control-Allow-Origin": "*", "Cache-Control": "no-store" }]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </when>
                    <when expression="#[vars.wantsSse default false]">
                        <try>
                            <!-- HTTP connector はレスポンス body を InputStream で遅延読みするので、
                                 SSE 用の特別な属性は不要。 redirect は追わず、 payload(stream) を
                                 そのまま listener response に流す。 -->
                            <http:request method="#[attributes.method]"
                                          url="#[vars.targetUrl]"
                                          config-ref="proxy-request-config"
                                          followRedirects="false"
                                          responseTimeout="300000">
                                <http:headers>#[vars.fwdHeaders]</http:headers>
                                <http:response-validator>
                                    <http:success-status-code-validator values="0..599"/>
                                </http:response-validator>
                            </http:request>
                            <set-variable variableName="proxyStatus" value="#[attributes.statusCode default 200]"/>
                            <set-variable variableName="proxyHeaders" value="#[{ 'Content-Type': 'text/event-stream; charset=utf-8', 'Cache-Control': 'no-cache', 'Access-Control-Allow-Origin': '*', 'Access-Control-Expose-Headers': 'Mcp-Session-Id', 'X-Accel-Buffering': 'no' } ++ (if ((attributes.headers default {}).'mcp-session-id'?) { 'Mcp-Session-Id': (attributes.headers default {}).'mcp-session-id' } else {})]"/>
                            <error-handler>
                                <on-error-continue type="ANY">
                                    <ee:transform>
                                        <ee:message><ee:set-payload><![CDATA[%dw 2.0 output text/plain --- "proxy sse error: " ++ (error.description default "unknown")]]></ee:set-payload></ee:message>
                                        <ee:variables>
                                            <ee:set-variable variableName="proxyStatus"><![CDATA[%dw 2.0 output application/java --- 502]]></ee:set-variable>
                                            <ee:set-variable variableName="proxyHeaders"><![CDATA[%dw 2.0 output application/java --- { "Content-Type": "text/plain; charset=utf-8", "Access-Control-Allow-Origin": "*" }]]></ee:set-variable>
                                        </ee:variables>
                                    </ee:transform>
                                </on-error-continue>
                            </error-handler>
                        </try>
                    </when>
                    <otherwise>
                <try>
                    <!-- leg 1: target にそのまま forward (redirect は手動 follow) -->
                    <!-- agent (LLM tool-use ループ) は最大 240s かかりうるので長めに取る -->
                    <http:request method="#[attributes.method]"
                                  url="#[vars.targetUrl]"
                                  config-ref="proxy-request-config"
                                  followRedirects="false"
                                  responseTimeout="300000">
                        <http:headers>#[vars.fwdHeaders]</http:headers>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>

                    <!-- 3xx の時は Location に Authorization 無しで再リクエスト (S3 presigned URL 対応) -->
                    <choice>
                        <when expression="#[(attributes.statusCode >= 300) and (attributes.statusCode &lt; 400) and (attributes.headers['location'] != null)]">
                            <!-- redirect 先 URL を Java-URI-safe に (Exchange の Location が
                                 { } | space 等を生で含むと http:request が "Illegal character" で 502)。
                                 該当文字のみ %-encode。エンコードは inline (SsrfGuard モジュールに
                                 入れると import 全体を壊しうるため、blast radius を try 配下に限定)。 -->
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="redirectUrl"><![CDATA[%dw 2.0
output application/java
var loc = (attributes.headers['location'] default "") as String
fun enc(s, ch, rep) = (s splitBy ch) joinBy rep
---
enc(enc(enc(enc(enc(enc(enc(enc(enc(enc(enc(enc(loc, " ", "%20"), "{", "%7B"), "}", "%7D"), "|", "%7C"), "^", "%5E"), "<", "%3C"), ">", "%3E"), "[", "%5B"), "]", "%5D"), "`", "%60"), "\"", "%22"), "\\", "%5C")]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                            <!-- redirect 先にも SSRF ガード (allowlisted host が内部へ飛ばす経路を遮断) -->
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="redirectGuard"><![CDATA[%dw 2.0
import dw::SsrfGuard
output application/java
---
SsrfGuard::check(vars.redirectUrl default "", (p('proxy.allowHosts') default "") splitBy ",")]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                            <choice>
                                <when expression="#[vars.redirectGuard.deny default true]">
                                    <set-variable variableName="redirectBlocked" value="#[true]"/>
                                    <ee:transform>
                                        <ee:message>
                                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ error: "proxy redirect denied", reason: (vars.redirectGuard.reason default "blocked"), host: (vars.redirectGuard.host default "") }]]></ee:set-payload>
                                        </ee:message>
                                        <ee:variables>
                                            <ee:set-variable variableName="proxyStatus"><![CDATA[%dw 2.0 output application/java --- 403]]></ee:set-variable>
                                            <ee:set-variable variableName="proxyHeaders"><![CDATA[%dw 2.0 output application/java --- { "Content-Type": "application/json; charset=utf-8", "Access-Control-Allow-Origin": "*", "Cache-Control": "no-store" }]]></ee:set-variable>
                                        </ee:variables>
                                    </ee:transform>
                                </when>
                                <otherwise>
                                    <http:request method="GET"
                                                  url="#[vars.redirectUrl]"
                                                  config-ref="proxy-request-config"
                                                  followRedirects="true"
                                                  responseTimeout="120000">
                                        <http:headers>#[{ 'Accept': '*/*' }]</http:headers>
                                        <http:response-validator>
                                            <http:success-status-code-validator values="0..599"/>
                                        </http:response-validator>
                                    </http:request>
                                </otherwise>
                            </choice>
                        </when>
                    </choice>

                    <!-- response の Content-Type と CORS を返す (redirect 拒否時は上書きしない) -->
                    <choice>
                        <when expression="#[not (vars.redirectBlocked default false)]">
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="proxyStatus"><![CDATA[%dw 2.0
output application/java
---
attributes.statusCode default 200]]></ee:set-variable>
                            <ee:set-variable variableName="proxyHeaders"><![CDATA[%dw 2.0
output application/java
var rh = (attributes.headers default {})
var ct = rh."content-type" default "application/octet-stream"
// upstream の x-* カスタムヘッダを透過する (debug 用。 X-Snowflake-Access-Token 等)。
var xh = rh filterObject ((v, k) -> (lower(k as String)) startsWith "x-")
var expose = (["Mcp-Session-Id"] ++ namesOf(xh)) joinBy ", "
---
{
    "Content-Type":                ct,
    "Access-Control-Allow-Origin": "*",
    "Access-Control-Expose-Headers": expose,
    "Cache-Control":               "no-store"
} ++ xh ++ (if (rh."mcp-session-id"?) { "Mcp-Session-Id": rh."mcp-session-id" } else {})]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                        </when>
                    </choice>

                    <error-handler>
                        <on-error-continue type="ANY">
                            <ee:transform>
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"proxy error: " ++ (error.description default "unknown")]]></ee:set-payload>
                                </ee:message>
                                <ee:variables>
                                    <ee:set-variable variableName="proxyStatus"><![CDATA[%dw 2.0 output application/java --- 502]]></ee:set-variable>
                                    <ee:set-variable variableName="proxyHeaders"><![CDATA[%dw 2.0 output application/java --- { "Content-Type": "text/plain; charset=utf-8", "Access-Control-Allow-Origin": "*" }]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
                    </otherwise>
                </choice>
            </otherwise>
        </choice>
    </flow>

</mule>
