atelier-agents/mcp-inventory/src/main/mule/atelier-mcp-inventory.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <http:request-config name="Inventory_System_Request_config" basePath="/">
        <http:request-connection host="${backend.inventory.host}"
                                 port="${backend.inventory.port}"
                                 protocol="${backend.inventory.protocol}"/>
    </http:request-config>

    <!-- ============================================================
         MCP Server (Streamable HTTP transport)。 mule-mcp-connector が
         /mcp で initialize / tools/list / tools/call / SSE / session 管理 /
         notifications/initialized の 202 応答 を全部処理する。
         ツールは <mcp:tool-listener> で宣言。 ビジネスロジック (backend 呼出) は
         既存 sub-flow を流用する。
         ============================================================ -->
    <mcp:server-config name="MCP_Server_config"
                       serverName="atelier-mcp-inventory"
                       serverVersion="1.1.0">
        <mcp:streamable-http-server-connection listenerConfig="HTTP_Listener_config"
                                               mcpEndpointPath="/mcp"/>
    </mcp:server-config>

    <!-- ============================================================
         MCP tool: check_inventory
         ============================================================ -->
    <flow name="tool-check-inventory-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="check_inventory">
            <mcp:description>部品の在庫レベル(quantityOnHand / available / leadTimeHours)を照会する。requiredQuantity を渡すと充足判定も返す。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {
    "partNumber":       { "type": "string" },
    "requiredQuantity": { "type": "integer" }
  },
  "required": ["partNumber"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['check_inventory']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="tool-check-inventory"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         MCP tool: reserve_inventory
         ============================================================ -->
    <flow name="tool-reserve-inventory-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="reserve_inventory">
            <mcp:description>部品在庫を仮確保(RESERVED)する。reservationId を返す。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {
    "partNumber": { "type": "string" },
    "quantity":   { "type": "integer" },
    "incidentId": { "type": "string" },
    "ttlSeconds": { "type": "integer" }
  },
  "required": ["partNumber", "quantity", "incidentId"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['reserve_inventory']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="tool-reserve-inventory"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         MCP tool: cancel_inventory_reservation
         ============================================================ -->
    <flow name="tool-cancel-inventory-reservation-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="cancel_inventory_reservation">
            <mcp:description>仮確保(reservationId)をキャンセルする。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": { "reservationId": { "type": "string" } },
  "required": ["reservationId"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['cancel_inventory_reservation']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="tool-cancel-inventory-reservation"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         normalize-tool-input — MCP tool 引数 payload は特殊型なので、
         write→read で純粋な JSON Map に正規化して vars.toolInput に入れる。
         (output application/java で payload を直接書くと "No read/write handler"
          の writer 罠を踏むため。 値は reader で読む。)
         ============================================================ -->
    <sub-flow name="normalize-tool-input">
        <ee:transform doc:name="payload(MCP args) → vars.toolInput (clean Map)">
            <ee:variables>
                <ee:set-variable variableName="toolInput"><![CDATA[%dw 2.0
output application/java
---
read(write(payload default {}, "application/json"), "application/json")]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <!-- ============================================================
         互換経路: agent が叩く簡易 REST。
         POST /mcp/execute { toolName, input } → { status, tool, result }
         MCP Connector 化後も agent は無改修でこの経路を使える。
         ============================================================ -->
    <flow name="mcp-execute-compat">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/execute">
            <http:response statusCode="200"/>
        </http:listener>
        <ee:transform doc:name="extract toolName / input">
            <ee:variables>
                <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
(payload.toolName default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="toolInput"><![CDATA[%dw 2.0
output application/java
---
payload."input" default {}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref name="dispatch-tool"/>
    </flow>

    <!-- dispatch-tool — toolName で各ツール sub-flow へ。 /mcp/execute から使う。 -->
    <flow name="dispatch-tool">
        <choice>
            <when expression='#[vars.toolName == "check_inventory"]'>
                <flow-ref name="tool-check-inventory"/>
            </when>
            <when expression='#[vars.toolName == "reserve_inventory"]'>
                <flow-ref name="tool-reserve-inventory"/>
            </when>
            <when expression='#[vars.toolName == "cancel_inventory_reservation"]'>
                <flow-ref name="tool-cancel-inventory-reservation"/>
            </when>
            <otherwise>
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: vars.toolName, result: { code: "UNKNOWN_TOOL", message: "tool not supported: " ++ (vars.toolName default "") } }]]></ee:set-payload></ee:message></ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- ============================================================
         ツールのビジネスロジック (inventory-system backend 呼出 + 整形)。
         APIKit 版からそのまま流用。 vars.toolName / vars.toolInput を読む。
         結果は payload = { status, tool, result }。
         ============================================================ -->
    <flow name="tool-check-inventory">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="qp"><![CDATA[%dw 2.0
output application/java
---
if (vars.toolInput.requiredQuantity != null)
  { "partNumber": (vars.toolInput.partNumber default "") as String, "requiredQuantity": (vars.toolInput.requiredQuantity as String) }
else
  { "partNumber": (vars.toolInput.partNumber default "") as String }]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" path="/inventory/check" config-ref="Inventory_System_Request_config">
            <http:query-params>#[vars.qp]</http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
        <flow-ref name="wrap-system-response"/>
    </flow>

    <flow name="tool-reserve-inventory">
        <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.toolInput]]></ee:set-payload></ee:message></ee:transform>
        <http:request method="POST" path="/inventory/reservations" config-ref="Inventory_System_Request_config">
            <http:headers><![CDATA[#[{ "Content-Type": "application/json" }]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
        <flow-ref name="wrap-system-response"/>
    </flow>

    <flow name="tool-cancel-inventory-reservation">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="up"><![CDATA[%dw 2.0
output application/java
---
{ "id": (vars.toolInput.reservationId default "") as String }]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="DELETE" path="/inventory/reservations/{id}" config-ref="Inventory_System_Request_config">
            <http:uri-params>#[vars.up]</http:uri-params>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
var status = attributes.statusCode default 0
---
if (status >= 200 and status < 300)
  { status: "success", tool: vars.toolName, result: { reservationId: (vars.toolInput.reservationId default "") as String, "status": "CANCELLED" } }
else
  { status: "error",   tool: vars.toolName, result: (payload default { code: "BACKEND_ERROR", message: "inventory-system returned HTTP " ++ (status as String) }) }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

    <sub-flow name="wrap-system-response">
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
var status = attributes.statusCode default 0
---
{ status: (if (status >= 200 and status < 300) "success" else "error"), tool: vars.toolName, result: (payload default {}) }]]></ee:set-payload></ee:message>
        </ee:transform>
    </sub-flow>

    <!-- GET /health -->
    <flow name="health">
        <http:listener config-ref="HTTP_Listener_config" path="/health">
            <http:response statusCode="200"/>
        </http:listener>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-mcp-inventory", transport: "streamable-http", mcpPath: "/mcp" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

</mule>
