agents/legal/src/main/mule/impl/jsonrpc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- POST / — JSON-RPC 2.0 dispatcher -->
    <flow name="jsonrpc-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/" allowedMethods="POST">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[{
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Authorization"
                }]]]></http:headers>
            </http:response>
        </http:listener>

        <!-- Store the parsed request in a variable -->
        <set-variable variableName="rpcReq" value="#[payload]"/>
        <!-- Store RPC method -->
        <set-variable variableName="rpcMethod" value="#[payload.method default '']"/>

        <choice>
            <!-- message/send: invoke rule evaluation sub-flow -->
            <when expression="#[vars.rpcMethod == 'message/send']">
                <flow-ref name="legal-rule-eval-subflow"/>
            </when>

            <!-- agent/getCard: return agent card -->
            <when expression="#[vars.rpcMethod == 'agent/getCard']">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "jsonrpc": "2.0",
    "id": vars.rpcReq.id,
    "result": {
        "name": "Legal Agent",
        "description": "契約・SLA・ペナルティ判定を行うルールベースエージェント (LLM非使用)",
        "url": "http://localhost:5181/",
        "version": "0.1.0",
        "provider": {
            "organization": "agent-center demo",
            "url": "http://localhost:8000/"
        },
        "capabilities": {
            "streaming": false,
            "pushNotifications": false,
            "stateTransitionHistory": false
        },
        "defaultInputModes": ["text"],
        "defaultOutputModes": ["text"],
        "skills": [
            {
                "id": "claim_intake",
                "name": "Claim Intake",
                "description": "クレームを受け付け、SLA判定に必要な追加情報のリストを返す",
                "tags": ["legal", "claim"]
            },
            {
                "id": "sla_check",
                "name": "SLA Violation Check",
                "description": "契約SLAに違反しているかを判定し、ペナルティを試算する",
                "tags": ["legal", "sla", "penalty"]
            }
        ]
    }
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- Unknown method: JSON-RPC error -32601 -->
            <otherwise>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "jsonrpc": "2.0",
    "id": vars.rpcReq.id,
    "error": {
        "code": -32601,
        "message": "Method not found"
    }
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- Sub-flow: Legal rule evaluation (keyword matching, no LLM) -->
    <sub-flow name="legal-rule-eval-subflow">
        <!-- Extract user text -->
        <set-variable variableName="userText" value="#[vars.rpcReq.params.message.parts[0].text default '' as String]"/>

        <!-- Step 1: Classify intent (broker-pattern: ee:variables) -->
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
var txtLower = lower(vars.userText)
---
if ((txtLower find "claim") != [] or (txtLower find "クレーム") != [] or
    (txtLower find "申し立て") != [] or (txtLower find "申立") != [] or
    (txtLower find "苦情") != [] or (txtLower find "complaint") != [] or
    (txtLower find "怒") != [] or (txtLower find "問題") != [] or
    (txtLower find "issue") != [] or (txtLower find "トラブル") != [] or
    (txtLower find "困っ") != [] or (txtLower find "助け") != [])
    "claim_intake"
else if ((txtLower find "sla") != [] or (txtLower find "違反") != [] or
         (txtLower find "判定") != [] or (txtLower find "ペナルティ") != [] or
         (txtLower find "penalty") != [] or (txtLower find "契約") != [] or
         (txtLower find "compliance") != [])
    "sla_check"
else
    "unknown"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <!-- Step 2: Extract IDs from text -->
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orderId"><![CDATA[%dw 2.0
output application/java
var matches = vars.userText scan /A\d{3,}/
---
if (!isEmpty(matches)) (matches[0])[0] else null]]></ee:set-variable>
                <ee:set-variable variableName="contractId"><![CDATA[%dw 2.0
output application/java
var matches = vars.userText scan /C-\d+/
---
if (!isEmpty(matches)) (matches[0])[0] else null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <!-- Step 3: Resolve master data records -->
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orderRec"><![CDATA[%dw 2.0
output application/java
---
if (vars.orderId == "A123") { orderId: "A123", contractId: "C-001", customerId: "CUST-A", productCode: "P001" }
else if (vars.orderId == "A124") { orderId: "A124", contractId: "C-002", customerId: "CUST-B", productCode: "P002" }
else if (vars.orderId == "A125") { orderId: "A125", contractId: "C-001", customerId: "CUST-A", productCode: "P003" }
else null]]></ee:set-variable>
                <ee:set-variable variableName="resolvedContractId"><![CDATA[%dw 2.0
output application/java
---
vars.contractId default (if (vars.orderId == "A123") "C-001"
    else if (vars.orderId == "A124") "C-002"
    else if (vars.orderId == "A125") "C-001"
    else null)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="contract"><![CDATA[%dw 2.0
output application/java
---
if (vars.resolvedContractId == "C-001") { contractId: "C-001", customerId: "CUST-A", slaDeliveryDays: 2, penaltyRate: 0.10 }
else if (vars.resolvedContractId == "C-002") { contractId: "C-002", customerId: "CUST-B", slaDeliveryDays: 5, penaltyRate: 0.05 }
else null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <!-- Step 4: Build response -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

var txt = vars.userText
var txtLower = lower(txt)
var intent = vars.intent
var orderId = vars.orderId
var orderRec = vars.orderRec
var contract = vars.contract

var hasDelayKeyword = ((txtLower find "遅延") != []) or ((txtLower find "delay") != [])

// --- Dynamic reply ---
var replyText =
    if (intent == "unknown")
        "> 意図を解釈できませんでした。`クレーム` / `SLA` / `違反` / `判定` などを含めてください。"
    else if (intent == "claim_intake")
        (if (orderId == null)
            "## クレーム受付完了\n\n**SLA違反判定**のため、以下の情報を確認させてください:\n\n- 注文ID (例 `A123`)\n- 契約ID (なければ顧客ID)\n- 発生日\n- 商品コード\n- 配送状況・遅延理由 → Logisticsへ\n- 在庫・入荷予定 → Inventoryへ"
        else if (orderRec == null)
            "> 注文ID `" ++ orderId ++ "` は契約マスタに存在しません。マスタの注文は `A123` `A124` `A125` です。"
        else
            "## クレーム受付完了 (注文 `" ++ orderId ++ "`)\n\n| 項目 | 値 |\n|---|---|\n| 顧客 | " ++ orderRec.customerId ++ " |\n| 契約 | `" ++ orderRec.contractId ++ "` (SLA `" ++ (contract.slaDeliveryDays as String) ++ "日`) |\n| 商品 | `" ++ orderRec.productCode ++ "` |\n\n**SLA違反判定**のため、以下を集めてください:\n\n- 配送ステータス → Logisticsへ\n- 遅延理由 → Logisticsへ\n- 入荷予定 → Inventoryへ\n\n> 集めた情報を再度ご相談ください。")
    else if (intent == "sla_check")
        (if (contract == null)
            (if (orderId != null)
                "> 注文ID `" ++ orderId ++ "` / 契約 `<X>` はマスタに存在しません。"
            else
                "> SLA判定には注文ID (例 `A123`) か契約ID (例 `C-001`) を含めてください。")
        else if (hasDelayKeyword)
            "## SLA違反判定 (契約 `" ++ contract.contractId ++ "`)\n\n| 項目 | 値 |\n|---|---|\n| 顧客 | " ++ contract.customerId ++ " |\n" ++ (if (orderId != null) "| 注文 | `" ++ orderId ++ "` |\n" else "") ++ "| 納期SLA | **" ++ (contract.slaDeliveryDays as String) ++ "日** |\n| 状態 | 配送遅延中 |\n| **判定** | **SLA違反** |\n| **ペナルティ** | 注文金額の **" ++ ((contract.penaltyRate * 100) as String) ++ "%** |"
        else
            "## SLA判定 (契約 `" ++ contract.contractId ++ "`)\n\n契約条件: 納期SLA `" ++ (contract.slaDeliveryDays as String) ++ "日` / 違反時ペナルティ `" ++ ((contract.penaltyRate * 100) as String) ++ "%`\n\n> 違反判定には「配送状況」「遅延有無」の情報が必要です。" ++ (if (orderId != null) "Logisticsに `" ++ orderId ++ "` の遅延理由を問い合わせてください。" else ""))
    else
        "> 意図を解釈できませんでした。`クレーム` / `SLA` / `違反` / `判定` などを含めてください。"
---
{
    "jsonrpc": "2.0",
    "id": vars.rpcReq.id,
    "result": {
        "status": {
            "state": "completed"
        },
        "messages": [
            {
                "role": "agent",
                "parts": [
                    {
                        "kind": "text",
                        "text": replyText
                    }
                ],
                "messageId": uuid()
            }
        ]
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>

</mule>
