atelier-agents/legal-agent/src/main/mule/legal-agent.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:jmx="http://www.mulesoft.org/schema/mule/jmx"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
          http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
          http://www.mulesoft.org/schema/mule/jmx http://www.mulesoft.org/schema/mule/jmx/current/mule-jmx.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="${http.listener.port}"/>
    </http:listener-config>

    <a2a:server-config name="A2A_Server_config">
        <a2a:connection listenerConfig="HTTP_Listener_config" agentPath="${a2a.path}"/>
        <a2a:agent-card>
            <a2a:json><![CDATA[{
  "protocolVersion": "0.3.0",
  "name": "atelier-legal-agent",
  "description": "法務担当 AI エージェント (Atelier 用 同期 A2A 版)。Slack を介さず、Atelier の chat 入力をそのまま受けて LLM tool-use ループ (contract-mcp / mdm-mcp) を回し、統合サマリを A2A Task response で返す。",
  "url": "${agent.public.url}",
  "version": "1.0.0",
  "preferredTransport": "JSONRPC",
  "capabilities": { "streaming": false, "pushNotifications": false, "stateTransitionHistory": false },
  "defaultInputModes": ["text/plain", "application/json"],
  "defaultOutputModes": ["text/plain", "application/json"],
  "skills": [
    {
      "id": "legal_handle_incident",
      "name": "法務インシデント対応 (LLM tool-use)",
      "description": "サプライヤー品質インシデント連絡を自然文で受け取り、品質保証協定書照会 / 返品要求書発行 / ペナルティ通知 / リスクスコア更新 / KG 記録を LLM の tool-use ループで実施し、Slack 投稿用フォーマットの統合サマリを返す。",
      "examples": [
        "関西部品 (G-KANSAI-PARTS-001) の P-2024-KAN-001 で不良率15% (500個) が出た。HIGH severity でインシデント INC-2026-0521 として法務対応してほしい。"
      ],
      "inputModes": ["text/plain", "application/json"],
      "outputModes": ["text/plain", "application/json"],
      "tags": ["legal", "contract", "penalty", "risk"]
    }
  ]
}]]></a2a:json>
        </a2a:agent-card>
    </a2a:server-config>

    <http:request-config name="LLM_Request_config" basePath="/" responseTimeout="${llm.timeout}">
        <http:request-connection host="openai-proxy.demos.mulesoft.com"
                                 port="443"
                                 protocol="HTTPS"/>
        <http:default-headers>
            <http:default-header key="Authorization" value="Basic ${llm.token}"/>
            <http:default-header key="Content-Type" value="application/json; charset=utf-8"/>
        </http:default-headers>
    </http:request-config>

    <http:request-config name="Contract_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.contract.host}"
                                 port="${mcp.contract.port}"
                                 protocol="${mcp.contract.protocol}"/>
    </http:request-config>

    <http:request-config name="MDM_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.mdm.host}"
                                 port="${mcp.mdm.port}"
                                 protocol="${mcp.mdm.protocol}"/>
    </http:request-config>

    <jmx:config name="JMX_Config" logBufferSize="5000"/>

    <!-- 会話履歴 (memory) を contextId 単位で保存。 TTL 1 時間。 -->
    <os:object-store name="MEMORY_STORE"
                     entryTtl="1" entryTtlUnit="HOURS"
                     expirationInterval="5" expirationIntervalUnit="MINUTES"
                     maxEntries="500"
                     persistent="false"/>

    <!-- ============================================================
         A2A task listener — sync entry point. Atelier sends message/send,
         we run the LLM tool-use loop and respond with vars.taskJson.
         ============================================================ -->
    <flow name="legalAgentTaskFlow">
        <a2a:task-listener config-ref="A2A_Server_config">
            <a2a:response>
                <a2a:response>#[vars.taskJson]</a2a:response>
            </a2a:response>
        </a2a:task-listener>

        <logger level="INFO"
                message="#['atelier-legal-agent A2A task received. method=' ++ (attributes.jsonRpcMethod default '?') ++ ' taskId=' ++ (attributes.taskId default '?')]"/>
        <ee:transform doc:name="snapshot raw payload for diagnosis">
            <ee:variables>
                <ee:set-variable variableName="rawPayloadJson"><![CDATA[%dw 2.0
output application/java
---
write((payload default {}), "application/json") as String]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO"
                message="#['rawPayload=' ++ (vars.rawPayloadJson default '')]"/>

        <ee:transform doc:name="extract user text + task ids + contextId">
            <ee:variables>
                <ee:set-variable variableName="taskId"><![CDATA[%dw 2.0
output application/java
---
((attributes.taskId default (now() as String)) as String)]]></ee:set-variable>
                <ee:set-variable variableName="msgObj"><![CDATA[%dw 2.0
output application/java
---
if (payload is String) read(payload, "application/json") else payload]]></ee:set-variable>
                <ee:set-variable variableName="contextId"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var fromAttr = (attributes.contextId default "") as String
var fromMsg  = (p.message.contextId default "") as String
---
if (fromAttr != "") fromAttr else fromMsg]]></ee:set-variable>
                <ee:set-variable variableName="userText"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
---
(((p.message.parts default [])[0].text default "") as String)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO"
                message="#['userText='   ++ ((vars.userText default '') as String) ++ ' contextId=' ++ ((vars.contextId default '') as String)]"/>

        <flow-ref name="loadMemoryFlow"/>

        <try doc:name="agent loop (best effort)">
            <flow-ref name="initAgentStateFlow"/>
            <flow-ref name="agentLoopFlow"/>
            <error-handler>
                <on-error-continue type="ANY">
                    <logger level="WARN"
                            message="#['Agent loop failed: ' ++ (error.description default error.message default 'unknown')]"/>
                    <ee:transform doc:name="build error text">
                        <ee:variables>
                            <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"⚠️ atelier-legal-agent: Agent ループ中にエラーが発生しました。\n" ++
"  " ++ ((error.description default (error.message default "unknown")) as String)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>

        <ee:transform doc:name="prepare reply text">
            <ee:variables>
                <ee:set-variable variableName="replyText"><![CDATA[%dw 2.0
output application/java
var t = ((vars.finalText default "") as String)
var msgs = (vars.messages default [])
var lastAssistant = (msgs filter ((m) -> ((m.role default "") as String) == "assistant" and ((m.content default "") as String) != ""))
var lastAssistantContent = if (sizeOf(lastAssistant) > 0) ((lastAssistant[-1].content default "") as String) else ""
var fallbackByReason =
  if ((vars.finishReason default "") as String == "length")
    "ℹ️ 法務 (atelier-legal-agent) です。\n\n回答が文字数上限に達しました。\nサプライヤー名・契約 ID・インシデント ID のいずれかを指定して再度お試しください。"
  else
    "ℹ️ 法務 (atelier-legal-agent) です。\n\n**実行可能な操作**\n- 取引先のゴールデン ID 解決\n- 過去インシデント・取引先関係の照会\n- 取引先一覧 (region / status / リスクスコア範囲で絞込み)\n- 取引先 region 一覧 (各 region の件数付き)\n- 品質保証協定書 (条項・ペナルティ上限) の確認\n- 返品要求書の発行\n- ペナルティ通知書の送付\n- サプライヤーリスクスコアの更新\n- KG (オントロジー) へのトリプル登録\n\nサプライヤー名・契約 ID・インシデント ID のいずれかを指定してください。"
---
if (t != "") t
else if (lastAssistantContent != "") lastAssistantContent
else fallbackByReason]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <flow-ref name="saveMemoryFlow"/>

        <ee:transform doc:name="build A2A Task response">
            <ee:variables>
                <ee:set-variable variableName="taskJson"><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.taskId,
  contextId: vars.contextId,
  kind: "task",
  status: {
    state: "completed",
    message: {
      role: "agent",
      kind: "message",
      messageId: (now() as String) ++ "-" ++ vars.taskId,
      parts: [
        { kind: "text", text: vars.replyText default "" }
      ]
    },
    timestamp: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" }
  }
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <!-- Health -->
    <flow name="healthFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/health"/>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-legal-agent" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

    <flow name="debugLogsFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/debug/logs"/>
        <jmx:get-recent-logs config-ref="JMX_Config"
                             lines="#[(attributes.queryParams.lines default 200) as Number]"
                             level="#[attributes.queryParams.level default null]"
                             pattern="#[attributes.queryParams.pattern default null]"/>
    </flow>

    <!-- ============================================================
         initAgentStateFlow — seed messages[] + tools[] + counters
         (sysPrompt and tools are identical to step2/legal-agent;
         the user message is vars.userText from the A2A part instead of
         vars.evText from a Slack envelope.)
         ============================================================ -->
    <sub-flow name="initAgentStateFlow">
        <ee:transform doc:name="seed messages, tools, counters">
            <ee:variables>
                <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
var sysPrompt =
"あなたは法務担当 AI (atelier-legal-agent)。専門領域は legal/contract のみ。\n" ++
"\n" ++
"利用可能 tool (5 個):\n" ++
"  [READ-ONLY]\n" ++
"    1) get_quality_agreement (contract-mcp): 品質保証協定書 (条項・ペナルティ上限)\n" ++
"  [WRITE / 副作用あり — ユーザの明示指示時のみ]\n" ++
"    2) generate_return_request (contract-mcp): 返品要求書 (requestId 採番)\n" ++
"    3) send_penalty_notice (contract-mcp): ペナルティ通知書 (noticeId 採番)\n" ++
"    4) update_supplier_risk_score (mdm-mcp): リスクスコア更新\n" ++
"    5) update_ontology (mdm-mcp): KG にトリプル記録\n" ++
"\n" ++
"  - supplier / part / region / インシデント等を解決する tool は持っていない。 必要な ID は orchestrator から渡される前提。\n" ++
"\n" ++
"クロスドメイン情報が不足したら:\n" ++
"  - supplierGoldenId / partNumber / 該当 incident ID 等、自分の tool で取れない情報が必要な場合は推測しない。\n" ++
"  - 代わりに以下の marker block で明示的に問い返す。orchestrator (broker / 人間) が解決して回答する。\n" ++
"\n" ++
"    [NEED_INFO]\n" ++
"    - <question 1>\n" ++
"    - <question 2>\n" ++
"    [/NEED_INFO]\n" ++
"\n" ++
"  - 回答が返ってきてから tool を実行する。NEED_INFO 出力時は他の本文/テーブルは書かない。\n" ++
"\n" ++
"動作モード: ADVISORY (相談・提案モード)\n" ++
"  - 副作用 tool (return_request / penalty / risk score / ontology) は **ユーザが明示指示したときだけ** 呼ぶ。\n" ++
"  - 通常は get_quality_agreement で条項を引き、 推奨アクションを Markdown で提案する。\n" ++
"\n" ++
"tool の返り値の読み方:\n" ++
"  - get_quality_agreement → result.clause / result.penaltyCap (協定が存在しなければ clause が空文字)\n" ++
"  - generate_return_request → result.requestId / result.quantity\n" ++
"  - send_penalty_notice → result.noticeId / result.amount\n" ++
"  - update_supplier_risk_score → result.previousScore / result.newScore\n" ++
"  - update_ontology → result.tripleId\n" ++
"\n" ++
"重要ルール:\n" ++
"  - ユーザ発話の固有名詞 (会社名・部品番号・インシデントID) は tool 引数にそのまま使う。仮名禁止。\n" ++
"  - tool が status=success で返したら必ず result.* の中身を読み、「取得できませんでした」と書かない。\n" ++
"  - WRITE tool は明示指示 (「対応して」「発行して」「通知して」「更新して」) のときだけ呼ぶ。\n" ++
"\n" ++
"出力フォーマット:\n" ++
"  [ADVISORY 回答 — 副作用 tool を呼ばない場合]\n" ++
"    ⚖️ legal-agent: <一言サマリ>\n" ++
"    - 取引先: <name> (<goldenId>)\n" ++
"    - 該当条項: <clause> (上限 ¥<penaltyCap>)\n" ++
"    - 推奨アクション:\n" ++
"      - 返品要求の発行 (見込み数量 X 個)\n" ++
"      - ペナルティ通知の発行 (上限 ¥<penaltyCap>)\n" ++
"      - サプライヤーリスクスコアの引き上げ\n" ++
"    💬 上記を実行する場合は「実行してください」「ペナルティ通知をお願い」のようにご指示ください。\n" ++
"\n" ++
"  [EXECUTE 完了 — ユーザ指示で副作用 tool を呼んだ場合]\n" ++
"    ⚖️ legal-agent: <実行サマリ>\n" ++
"    - 取引先: <name> (<goldenId>)\n" ++
"    - 該当条項: <clause> (上限 ¥<penaltyCap>)\n" ++
"    - 返品要求: <requestId>\n" ++
"    - ペナルティ通知: <noticeId> ¥<amount>\n" ++
"    - リスクスコア更新: <previous> → <new>"
---
// prior messages がメモリにあれば、それに新しい user 発話を追加する。
// 無ければ system + user で初期化する。
if ((vars.priorMessages default []) != [])
  (vars.priorMessages default []) ++ [{ role: "user", content: (vars.userText default "") as String }]
else
  [
    { role: "system", content: sysPrompt },
    { role: "user",   content: (vars.userText default "") as String }
  ]]]></ee:set-variable>
                <ee:set-variable variableName="tools"><![CDATA[%dw 2.0
output application/java
---
[
  { "type": "function", "function": {
      name: "update_supplier_risk_score",
      description: "サプライヤーのリスクスコア (0..1) を更新する",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          riskScore:        { "type": "number" },
          reason:           { "type": "string" },
          incidentId:       { "type": "string" }
        },
        required: ["supplierGoldenId", "riskScore"]
      }
  }},
  { "type": "function", "function": {
      name: "update_ontology",
      description: "KG に subject/predicate/object のトリプルを記録",
      parameters: {
        "type": "object",
        properties: {
          subject:    { "type": "string" },
          predicate:  { "type": "string" },
          "object":   { "type": "string" },
          incidentId: { "type": "string" }
        },
        required: ["subject", "predicate", "object"]
      }
  }},
  { "type": "function", "function": {
      name: "get_quality_agreement",
      description: "サプライヤーの品質保証協定書サマリ (条項・ペナルティ上限) を取得",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          partNumber:       { "type": "string" }
        },
        required: ["supplierGoldenId"]
      }
  }},
  { "type": "function", "function": {
      name: "generate_return_request",
      description: "返品要求書を生成する。requestId を返す",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          partNumber:       { "type": "string" },
          incidentId:       { "type": "string" },
          quantity:         { "type": "integer" },
          reason:           { "type": "string" }
        },
        required: ["supplierGoldenId", "partNumber", "incidentId"]
      }
  }},
  { "type": "function", "function": {
      name: "send_penalty_notice",
      description: "ペナルティ通知書を送付する。noticeId を返す",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          incidentId:       { "type": "string" },
          amount:           { "type": "number" },
          currency:         { "type": "string" }
        },
        required: ["supplierGoldenId", "incidentId", "amount"]
      }
  }}
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <!-- ============================================================
         agentLoopFlow — bounded foreach (max_loops iterations).
         ============================================================ -->
    <sub-flow name="agentLoopFlow">
        <ee:transform doc:name="seed loop range">
            <ee:variables>
                <ee:set-variable variableName="loopRange"><![CDATA[%dw 2.0
output application/java
---
1 to (p('agent.max_loops') as Number)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <foreach collection="#[vars.loopRange]" doc:name="bounded loop">
            <choice doc:name="terminate early?">
                <when expression="#[(vars.finishReason default '') == 'stop' or (vars.finishReason default '') == 'length' or (vars.finishReason default '') == 'content_filter']">
                    <logger level="INFO" message="#['Skipping iter ' ++ (payload as String) ++ ' (finishReason=' ++ (vars.finishReason default '') ++ ')']"/>
                </when>
                <otherwise>
                    <ee:transform doc:name="loopCount = current iteration">
                        <ee:variables>
                            <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
((payload default 0) - 1) as Number]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="agentInferenceFlow"/>
                    <flow-ref name="agentExecuteToolsFlow"/>
                </otherwise>
            </choice>
        </foreach>
        <logger level="INFO" message="#['Agent loop done. iterations=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '')]"/>
    </sub-flow>

    <!-- ============================================================
         agentInferenceFlow — POST /chat/completions, capture assistant
         ============================================================ -->
    <sub-flow name="agentInferenceFlow">
        <ee:transform doc:name="build chat/completions body">
            <ee:variables>
                <ee:set-variable variableName="llmBody"><![CDATA[%dw 2.0
output application/json
---
{
  model:       (p('llm.model') default "gpt-5-mini") as String,
  max_completion_tokens:  (p('llm.max_tokens') default 2048) as Number,
  messages:    vars.messages default [],
  tools:       vars.tools default [],
  tool_choice: "auto"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config" doc:name="POST LLM /chat/completions">
            <http:body>#[vars.llmBody]</http:body>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>

        <ee:transform doc:name="capture assistant + finishReason">
            <ee:variables>
                <ee:set-variable variableName="assistantMsg"><![CDATA[%dw 2.0
output application/java
---
(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
((((payload default {}).choices default [])[0].finish_reason) default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <choice doc:name="finished?">
            <when expression="#[(vars.finishReason default '') == 'stop']">
                <ee:transform doc:name="capture final text">
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
((vars.assistantMsg.content default "") as String)]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" message="#['Loop iter=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '') ++ ' tool_calls=' ++ ((sizeOf(vars.assistantMsg.tool_calls default []) as String))]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         agentExecuteToolsFlow — call MCP for each tool_call
         ============================================================ -->
    <sub-flow name="agentExecuteToolsFlow">
        <choice doc:name="any tool_calls?">
            <when expression="#[sizeOf((vars.assistantMsg.tool_calls default [])) == 0]">
                <logger level="INFO" message="No tool_calls in assistant message"/>
            </when>
            <otherwise>
                <foreach collection="#[vars.assistantMsg.tool_calls default []]" doc:name="for each tool_call">
                    <ee:transform doc:name="capture tool_call">
                        <ee:variables>
                            <ee:set-variable variableName="toolCallId"><![CDATA[%dw 2.0
output application/java
---
((payload."id" default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((payload.function.name default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolArgsRaw"><![CDATA[%dw 2.0
output application/java
---
((payload.function.arguments default "{}") as String)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <ee:transform doc:name="parse args + map MCP">
                        <ee:variables>
                            <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
read((vars.toolArgsRaw default "{}") as String, "application/json")]]></ee:set-variable>
                            <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.toolName default "") as String
---
if (n == "update_supplier_risk_score" or n == "update_ontology") "mdm"
else if (n == "get_quality_agreement" or n == "generate_return_request" or n == "send_penalty_notice") "contract"
else "unknown"]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <logger level="INFO"
                            message="#['tool_call: ' ++ (vars.toolName default '') ++ ' args=' ++ (vars.toolArgsRaw default '')]"/>
                    <flow-ref name="callMcpExecuteFlow"/>
                    <ee:transform doc:name="append tool result message">
                        <ee:variables>
                            <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [{
  role: "tool",
  tool_call_id: (vars.toolCallId default "") as String,
  content: write((vars.toolResult default {}), "application/json") as String
}]]]></ee:set-variable>
                            <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
(vars.actionsLog default []) ++ [{
  tool: (vars.toolName default "") as String,
  result: (vars.toolResult default {})
}]]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </foreach>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         callMcpExecuteFlow — POST /mcp/execute on the right MCP backend
         ============================================================ -->
    <sub-flow name="callMcpExecuteFlow">
        <ee:transform doc:name="build /mcp/execute body">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  toolName: (vars.toolName default "") as String,
  "input":  (vars.toolArgs default {})
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <try>
            <choice doc:name="dispatch by mcpKind">
                <when expression="#[(vars.mcpKind default '') == 'mdm']">
                    <http:request method="POST" path="/mcp/execute" config-ref="MDM_MCP_Request_config" doc:name="POST mdm-mcp /mcp/execute">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <when expression="#[(vars.mcpKind default '') == 'contract']">
                    <http:request method="POST" path="/mcp/execute" config-ref="Contract_MCP_Request_config" doc:name="POST contract-mcp /mcp/execute">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <otherwise>
                    <ee:transform doc:name="UNKNOWN_TOOL synth">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "UNKNOWN_TOOL", message: "no MCP for tool: " ++ (vars.toolName default "") } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </otherwise>
            </choice>
            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "MCP_CALL_FAILED", message: (error.description default error.message default "unknown") as String } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <logger level="WARN"
                            message="#['MCP call failed kind=' ++ (vars.mcpKind default '') ++ ' tool=' ++ (vars.toolName default '') ++ ' err=' ++ (error.description default error.message default 'unknown')]"/>
                </on-error-continue>
            </error-handler>
        </try>

        <ee:transform doc:name="capture toolResult">
            <ee:variables>
                <ee:set-variable variableName="toolResult"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s: String) =
  if (s == null or trim(s) == "") {}
  else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload as String)
else payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <!-- ============================================================
         loadMemoryFlow — 会話履歴 (messages[]) を ObjectStore から読み込む。
         contextId が空 or キー不在 (= 新会話) なら priorMessages = []。
         ============================================================ -->
    <sub-flow name="loadMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <try>
                    <os:retrieve key="#[vars.contextId]" objectStore="MEMORY_STORE" target="priorRaw"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
fun parseList(s) = if (s == null or s == "") [] else read(s, "application/json")
---
if (vars.priorRaw == null) []
else if (vars.priorRaw is String) parseList(vars.priorRaw as String)
else (vars.priorRaw default [])]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <error-handler>
                        <on-error-continue type="OS:KEY_NOT_FOUND, OS:STORE_NOT_AVAILABLE, ANY">
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
        <logger level="INFO"
                message="#['memory load: contextId=' ++ (vars.contextId default '') ++ ' priorMessages=' ++ (sizeOf(vars.priorMessages default []) as String)]"/>
    </sub-flow>

    <!-- ============================================================
         saveMemoryFlow — 最新 messages[] を ObjectStore に書き戻す。
         ============================================================ -->
    <sub-flow name="saveMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <logger level="INFO" message="memory save skipped (no contextId)"/>
            </when>
            <otherwise>
                <try>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
write((vars.messages default []), "application/json") as String]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <os:store key="#[vars.contextId]" objectStore="MEMORY_STORE">
                        <os:value>#[payload]</os:value>
                    </os:store>
                    <logger level="INFO"
                            message="#['memory save: contextId=' ++ (vars.contextId default '') ++ ' messages=' ++ (sizeOf(vars.messages default []) as String)]"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN" message="#['memory save failed: ' ++ (error.description default error.message default 'unknown')]"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
    </sub-flow>

</mule>
