atelier-agents/legal-agent/src/main/mule/legal-agent.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:jmx="http://www.mulesoft.org/schema/mule/jmx"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
          http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
          http://www.mulesoft.org/schema/mule/jmx http://www.mulesoft.org/schema/mule/jmx/current/mule-jmx.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="${http.listener.port}"/>
    </http:listener-config>

    <a2a:server-config name="A2A_Server_config">
        <a2a:connection listenerConfig="HTTP_Listener_config" agentPath="${a2a.path}"/>
        <a2a:agent-card>
            <a2a:json><![CDATA[{
  "protocolVersion": "0.3.0",
  "name": "atelier-legal-agent",
  "description": "法務担当 AI エージェント (Atelier 用 同期 A2A 版)。品質保証協定の条項・ペナルティ確認 / 返品要求書の発行 / ペナルティ通知 / サプライヤーリスクスコア更新 を LLM tool-use ループ (contract-mcp / mdm-mcp) で実施し、統合サマリを A2A Task response で返す。",
  "url": "${agent.public.url}",
  "version": "1.0.0",
  "preferredTransport": "JSONRPC",
  "capabilities": { "streaming": false, "pushNotifications": false, "stateTransitionHistory": false },
  "defaultInputModes": ["text/plain", "application/json"],
  "defaultOutputModes": ["text/plain", "application/json"],
  "skills": [
    {
      "id": "legal_contract_penalty",
      "name": "協定・ペナルティ確認 / 返品要求書発行",
      "description": "サプライヤーとの品質保証協定の条項・ペナルティ条件の確認、返品要求書の発行、ペナルティ通知、リスクスコア更新を自然文で受け取り、LLM tool-use ループで実施して統合サマリを返す。",
      "examples": [
        "東北メタル (G-TOHOKU-MET-001) の品質保証協定でペナルティ条項を確認したい。",
        "九州製作所 P-2024-KYU-001 の不良ロットについて返品要求書を発行してほしい。"
      ],
      "inputModes": ["text/plain", "application/json"],
      "outputModes": ["text/plain", "application/json"],
      "tags": ["legal", "contract", "penalty", "risk", "return-order"]
    }
  ]
}]]></a2a:json>
        </a2a:agent-card>
    </a2a:server-config>

    <http:request-config name="LLM_Request_config" basePath="/" responseTimeout="${llm.timeout}">
        <http:request-connection host="openai-proxy.demos.mulesoft.com"
                                 port="443"
                                 protocol="HTTPS"/>
        <http:default-headers>
            <http:default-header key="Authorization" value="Basic ${llm.token}"/>
            <http:default-header key="Content-Type" value="application/json; charset=utf-8"/>
        </http:default-headers>
    </http:request-config>

    <http:request-config name="Contract_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.contract.host}"
                                 port="${mcp.contract.port}"
                                 protocol="${mcp.contract.protocol}"/>
    </http:request-config>

    <http:request-config name="MDM_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.mdm.host}"
                                 port="${mcp.mdm.port}"
                                 protocol="${mcp.mdm.protocol}"/>
    </http:request-config>

    <jmx:config name="JMX_Config" logBufferSize="5000"/>

    <!-- 会話履歴 (memory) を contextId 単位で保存。 TTL 1 時間。 -->
    <os:object-store name="MEMORY_STORE"
                     entryTtl="1" entryTtlUnit="HOURS"
                     expirationInterval="5" expirationIntervalUnit="MINUTES"
                     maxEntries="500"
                     persistent="false"/>

    <!-- ============================================================
         A2A task listener — sync entry point. Atelier sends message/send,
         we run the LLM tool-use loop and respond with vars.taskJson.
         ============================================================ -->
    <flow name="legalAgentTaskFlow">
        <a2a:task-listener config-ref="A2A_Server_config">
            <a2a:response>
                <a2a:response>#[vars.taskJson]</a2a:response>
            </a2a:response>
        </a2a:task-listener>

        <logger level="INFO"
                message="#['atelier-legal-agent A2A task received. method=' ++ (attributes.jsonRpcMethod default '?') ++ ' taskId=' ++ (attributes.taskId default '?')]"/>
        <ee:transform doc:name="snapshot raw payload for diagnosis">
            <ee:variables>
                <ee:set-variable variableName="rawPayloadJson"><![CDATA[%dw 2.0
output application/java
---
write((payload default {}), "application/json") as String]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO"
                message="#['rawPayload=' ++ (vars.rawPayloadJson default '')]"/>

        <ee:transform doc:name="extract user text + task ids + contextId">
            <ee:variables>
                <ee:set-variable variableName="taskId"><![CDATA[%dw 2.0
output application/java
---
((attributes.taskId default (now() as String)) as String)]]></ee:set-variable>
                <ee:set-variable variableName="msgObj"><![CDATA[%dw 2.0
output application/java
---
if (payload is String) read(payload, "application/json") else payload]]></ee:set-variable>
                <ee:set-variable variableName="contextId"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var fromAttr = (attributes.contextId default "") as String
var fromMsg  = (p.message.contextId default "") as String
---
if (fromAttr != "") fromAttr else fromMsg]]></ee:set-variable>
                <ee:set-variable variableName="userText"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var parts = (p.message.parts default [])
var textPart = (parts filter ((x) -> (x.kind default x."type" default "") == "text"))
---
if (sizeOf(textPart) > 0) ((textPart[0].text default "") as String)
else (((parts[0].text default "") as String))]]></ee:set-variable>
                <!-- broker からの構造化指示: parts[] の data part (kind="data") = { tool, args }。
                     あれば LLM を介さず直接 MCP を叩く fast-path。 -->
                <ee:set-variable variableName="directPart"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var dataParts = ((p.message.parts default []) filter ((x) -> (x.kind default x."type" default "") == "data"))
---
if (sizeOf(dataParts) > 0) (dataParts[0].data default null) else null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO"
                message="#['legal-agent: directPart=' ++ (if (vars.directPart != null) 'yes' else 'no') ++ ' userText=' ++ ((vars.userText default '') as String) ++ ' contextId=' ++ ((vars.contextId default '') as String)]"/>

        <choice doc:name="broker direct (data part) か 人間 自然文か">
            <when expression="#[vars.directPart != null]">
                <flow-ref name="directToolFlow"/>
            </when>
            <!-- 人間の自然文 → エンティティ+モード抽出 (LLM) → 社名解決 → 決定論ツールチェーン。
                 弱い LLM に分岐を語らせず、 抽出だけさせる。 法務の処理連鎖は Mule で固定。 -->
            <otherwise>
                <try doc:name="intent pipeline (best effort)">
                    <flow-ref name="legalExtractFlow"/>
                    <flow-ref name="resolveSupplierFlow"/>
                    <flow-ref name="legalRouterFlow"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message="#['legal intent pipeline failed: ' ++ (error.description default error.message default 'unknown')]"/>
                            <ee:transform doc:name="build error text">
                                <ee:variables>
                                    <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"⚠️ atelier-legal-agent: 処理中にエラーが発生しました。\n" ++
"  " ++ ((error.description default (error.message default "unknown")) as String)]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>

        <ee:transform doc:name="prepare reply text">
            <ee:variables>
                <ee:set-variable variableName="replyText"><![CDATA[%dw 2.0
output application/java
var t = ((vars.finalText default "") as String)
var msgs = (vars.messages default [])
var lastAssistant = (msgs filter ((m) -> ((m.role default "") as String) == "assistant" and ((m.content default "") as String) != ""))
var lastAssistantContent = if (sizeOf(lastAssistant) > 0) ((lastAssistant[-1].content default "") as String) else ""
var fallbackByReason =
  if ((vars.finishReason default "") as String == "length")
    "ℹ️ 法務 (atelier-legal-agent) です。\n\n回答が文字数上限に達しました。\nサプライヤー名・契約 ID・インシデント ID のいずれかを指定して再度お試しください。"
  else
    "ℹ️ 法務 (atelier-legal-agent) です。\n\n**実行可能な操作**\n- 取引先のゴールデン ID 解決\n- 過去インシデント・取引先関係の照会\n- 取引先一覧 (region / status / リスクスコア範囲で絞込み)\n- 取引先 region 一覧 (各 region の件数付き)\n- 品質保証協定書 (条項・ペナルティ上限) の確認\n- 返品要求書の発行\n- ペナルティ通知書の送付\n- サプライヤーリスクスコアの更新\n- KG (オントロジー) へのトリプル登録\n\nサプライヤー名・契約 ID・インシデント ID のいずれかを指定してください。"
---
if (t != "") t
else if (lastAssistantContent != "") lastAssistantContent
else fallbackByReason]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <flow-ref name="saveMemoryFlow"/>

        <ee:transform doc:name="build A2A Task response">
            <ee:variables>
                <ee:set-variable variableName="taskJson"><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.taskId,
  contextId: vars.contextId,
  kind: "task",
  status: {
    state: "completed",
    message: {
      role: "agent",
      kind: "message",
      messageId: (now() as String) ++ "-" ++ vars.taskId,
      parts: [
        { kind: "text", text: vars.replyText default "" }
      ]
    },
    timestamp: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" }
  }
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <!-- Health -->
    <flow name="healthFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/health"/>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-legal-agent" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

    <flow name="debugLogsFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/debug/logs"/>
        <jmx:get-recent-logs config-ref="JMX_Config"
                             lines="#[(attributes.queryParams.lines default 200) as Number]"
                             level="#[attributes.queryParams.level default null]"
                             pattern="#[attributes.queryParams.pattern default null]"/>
    </flow>

    <!-- ============================================================
         initAgentStateFlow — seed messages[] + tools[] + counters
         (sysPrompt and tools are identical to step2/legal-agent;
         the user message is vars.userText from the A2A part instead of
         vars.evText from a Slack envelope.)
         ============================================================ -->
    <sub-flow name="initAgentStateFlow">
        <ee:transform doc:name="seed messages, tools, counters">
            <ee:variables>
                <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
var sysPrompt =
"あなたは法務担当 AI (atelier-legal-agent)。専門領域は legal/contract のみ。\n" ++
"\n" ++
"=== STEP 0: メタ質問 (scope / capability) は STEP 1 を飛ばして自然文で答える ===\n" ++
"\n" ++
"ユーザが「何ができる?」「インシデントも扱える?」「君の役割は?」のようなツール実行を伴わない質問をしてきたら、 NEED_INFO ゲートを発動せず、 1〜3 行の自然文で簡潔に答える。\n" ++
"  - できる: 品質保証協定書の照会 / 返品要求書の発行 / ペナルティ通知 / リスクスコア更新 / KG への記録。\n" ++
"  - できない (担当外): インシデント起票 (incident-agent) / 在庫 (logistics-agent) / 発注 (procurement-agent) / 承認依頼 (org-agent) / supplier・part の正規化 ID 解決 (broker または MDM)。\n" ++
"  → 担当外の依頼は、 担当する agent に直接話すか broker に投げてもらうよう案内する。\n" ++
"\n" ++
"具体的に法務関連のツール実行を頼まれたときだけ、 STEP 1 のゲートに進む。\n" ++
"\n" ++
"=== STEP 1: 最優先 — NEED_INFO ゲート (ツール実行依頼に対してのみ発動。 違反する出力は重大エラー) ===\n" ++
"\n" ++
"次のいずれかが揃っていなければ、 何があっても tool を呼ばず、 ADVISORY/EXECUTE テンプレも一切書かず、 [NEED_INFO] block だけを返す:\n" ++
"  - supplierGoldenId (正規化済の G-XXX 形式)。 ユーザが「関西部品」のような名前で言っただけでは不足。\n" ++
"  - partNumber (該当する場合、 正規化済の P-YYYY-... 形式)。\n" ++
"  - incidentId (採番ずみの INC-... 形式)。 採番前なら incident-agent 側で採番してから渡される前提。\n" ++
"\n" ++
"  **絶対禁止例 (これらは重大エラー)**:\n" ++
"    - サプライヤー名「関西部品」を見て supplierGoldenId=\"G-KANSAI-PARTS-001\" を勝手に作る → ❌\n" ++
"    - サプライヤー名 → goldenId のマッピングを推測する → ❌\n" ++
"    - 不足を埋めずに ADVISORY テーブルに値を埋めて返す → ❌\n" ++
"\n" ++
"  **必ず守る**:\n" ++
"    - サプライヤー名が出てきて goldenId が未解決 → NEED_INFO で問い返す。\n" ++
"    - incidentId が分からない (採番要求がある) → NEED_INFO で問い返す。\n" ++
"\n" ++
"NEED_INFO 出力フォーマット (これだけを返す。 他のテキスト/テーブル/絵文字は書かない):\n" ++
"\n" ++
"    [NEED_INFO]\n" ++
"    - <question 1 — ユーザの最後のメッセージと同じ言語で書く。 日本語で来たら日本語で問い返す。 normalized ID or value を要求すること>\n" ++
"    - <question 2 ...>\n" ++
"    [/NEED_INFO]\n" ++
"\n" ++
"=== STEP 2: 全項目揃った場合のみ — 通常の処理 ===\n" ++
"\n" ++
"利用可能 tool (5 個):\n" ++
"  [READ-ONLY]\n" ++
"    1) get_quality_agreement (contract-mcp): 品質保証協定書 (条項・ペナルティ上限)\n" ++
"  [WRITE / 副作用あり — ユーザの明示指示時のみ]\n" ++
"    2) generate_return_request (contract-mcp): 返品要求書 (requestId 採番)\n" ++
"    3) send_penalty_notice (contract-mcp): ペナルティ通知書 (noticeId 採番)\n" ++
"    4) update_supplier_risk_score (mdm-mcp): リスクスコア更新\n" ++
"    5) update_ontology (mdm-mcp): KG にトリプル記録\n" ++
"\n" ++
"動作モード: ADVISORY (相談・提案モード)\n" ++
"  - 副作用 tool (return_request / penalty / risk score / ontology) は **ユーザが明示指示したときだけ** 呼ぶ。\n" ++
"  - 通常は get_quality_agreement で条項を引き、 推奨アクションを Markdown で提案する。\n" ++
"\n" ++
"tool の返り値の読み方:\n" ++
"  - get_quality_agreement → result.clause / result.penaltyCap (協定が存在しなければ clause が空文字)\n" ++
"  - generate_return_request → result.requestId / result.quantity\n" ++
"  - send_penalty_notice → result.noticeId / result.amount\n" ++
"  - update_supplier_risk_score → result.previousScore / result.newScore\n" ++
"  - update_ontology → result.tripleId\n" ++
"\n" ++
"重要ルール:\n" ++
"  - ユーザ発話の固有名詞 (会社名・部品番号・インシデント ID) は tool 引数にそのまま使う。仮名禁止。\n" ++
"  - tool が status=success で返したら必ず result.* の中身を読み、「取得できませんでした」と書かない。\n" ++
"  - WRITE tool は明示指示 (「対応して」「発行して」「通知して」「更新して」) のときだけ呼ぶ。\n" ++
"\n" ++
"出力テンプレ (STEP 1 で全項目揃った場合のみ使う):\n" ++
"  [ADVISORY]\n" ++
"    ⚖️ legal-agent: <一言サマリ>\n" ++
"    - 取引先: <name> (<goldenId>)\n" ++
"    - 該当条項: <clause> (上限 ¥<penaltyCap>)\n" ++
"    - 推奨アクション: 返品要求 / ペナルティ通知 / リスクスコア引き上げ\n" ++
"    💬 実行する場合は「実行してください」のようにご指示ください。\n" ++
"\n" ++
"  [EXECUTE 完了]\n" ++
"    ⚖️ legal-agent: <実行サマリ>\n" ++
"    - 返品要求: <requestId>\n" ++
"    - ペナルティ通知: <noticeId> ¥<amount>\n" ++
"    - リスクスコア更新: <previous> → <new>"
---
// prior messages がメモリにあれば、それに新しい user 発話を追加する。
// 無ければ system + user で初期化する。
if ((vars.priorMessages default []) != [])
  (vars.priorMessages default []) ++ [{ role: "user", content: (vars.userText default "") as String }]
else
  [
    { role: "system", content: sysPrompt },
    { role: "user",   content: (vars.userText default "") as String }
  ]]]></ee:set-variable>
                <ee:set-variable variableName="tools"><![CDATA[%dw 2.0
output application/java
---
[
  { "type": "function", "function": {
      name: "update_supplier_risk_score",
      description: "サプライヤーのリスクスコア (0..1) を更新する",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          riskScore:        { "type": "number" },
          reason:           { "type": "string" },
          incidentId:       { "type": "string" }
        },
        required: ["supplierGoldenId", "riskScore"]
      }
  }},
  { "type": "function", "function": {
      name: "update_ontology",
      description: "KG に subject/predicate/object のトリプルを記録",
      parameters: {
        "type": "object",
        properties: {
          subject:    { "type": "string" },
          predicate:  { "type": "string" },
          "object":   { "type": "string" },
          incidentId: { "type": "string" }
        },
        required: ["subject", "predicate", "object"]
      }
  }},
  { "type": "function", "function": {
      name: "get_quality_agreement",
      description: "サプライヤーの品質保証協定書サマリ (条項・ペナルティ上限) を取得",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          partNumber:       { "type": "string" }
        },
        required: ["supplierGoldenId"]
      }
  }},
  { "type": "function", "function": {
      name: "generate_return_request",
      description: "返品要求書を生成する。requestId を返す",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          partNumber:       { "type": "string" },
          incidentId:       { "type": "string" },
          quantity:         { "type": "integer" },
          reason:           { "type": "string" }
        },
        required: ["supplierGoldenId", "partNumber", "incidentId"]
      }
  }},
  { "type": "function", "function": {
      name: "send_penalty_notice",
      description: "ペナルティ通知書を送付する。noticeId を返す",
      parameters: {
        "type": "object",
        properties: {
          supplierGoldenId: { "type": "string" },
          incidentId:       { "type": "string" },
          amount:           { "type": "number" },
          currency:         { "type": "string" }
        },
        required: ["supplierGoldenId", "incidentId", "amount"]
      }
  }}
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <!-- ============================================================
         agentLoopFlow — bounded foreach (max_loops iterations).
         ============================================================ -->
    <sub-flow name="agentLoopFlow">
        <ee:transform doc:name="seed loop range">
            <ee:variables>
                <ee:set-variable variableName="loopRange"><![CDATA[%dw 2.0
output application/java
---
1 to (p('agent.max_loops') as Number)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <foreach collection="#[vars.loopRange]" doc:name="bounded loop">
            <choice doc:name="terminate early?">
                <when expression="#[(vars.finishReason default '') == 'stop' or (vars.finishReason default '') == 'length' or (vars.finishReason default '') == 'content_filter']">
                    <logger level="INFO" message="#['Skipping iter ' ++ (payload as String) ++ ' (finishReason=' ++ (vars.finishReason default '') ++ ')']"/>
                </when>
                <otherwise>
                    <ee:transform doc:name="loopCount = current iteration">
                        <ee:variables>
                            <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
((payload default 0) - 1) as Number]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="agentInferenceFlow"/>
                    <flow-ref name="agentExecuteToolsFlow"/>
                </otherwise>
            </choice>
        </foreach>
        <logger level="INFO" message="#['Agent loop done. iterations=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '')]"/>
    </sub-flow>

    <!-- ============================================================
         agentInferenceFlow — POST /chat/completions, capture assistant
         ============================================================ -->
    <sub-flow name="agentInferenceFlow">
        <ee:transform doc:name="build chat/completions body">
            <ee:variables>
                <ee:set-variable variableName="llmBody"><![CDATA[%dw 2.0
output application/json
---
{
  model:       (p('llm.model') default "gpt-5-mini") as String,
  max_completion_tokens:  (p('llm.max_tokens') default 2048) as Number,
  messages:    vars.messages default [],
  tools:       vars.tools default [],
  tool_choice: "auto"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config" doc:name="POST LLM /chat/completions">
            <http:body>#[vars.llmBody]</http:body>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>

        <ee:transform doc:name="capture assistant + finishReason">
            <ee:variables>
                <ee:set-variable variableName="assistantMsg"><![CDATA[%dw 2.0
output application/java
---
(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
((((payload default {}).choices default [])[0].finish_reason) default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <choice doc:name="finished?">
            <when expression="#[(vars.finishReason default '') == 'stop']">
                <ee:transform doc:name="capture final text">
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
((vars.assistantMsg.content default "") as String)]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" message="#['Loop iter=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '') ++ ' tool_calls=' ++ ((sizeOf(vars.assistantMsg.tool_calls default []) as String))]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         agentExecuteToolsFlow — call MCP for each tool_call
         ============================================================ -->
    <sub-flow name="agentExecuteToolsFlow">
        <choice doc:name="any tool_calls?">
            <when expression="#[sizeOf((vars.assistantMsg.tool_calls default [])) == 0]">
                <logger level="INFO" message="No tool_calls in assistant message"/>
            </when>
            <otherwise>
                <foreach collection="#[vars.assistantMsg.tool_calls default []]" doc:name="for each tool_call">
                    <ee:transform doc:name="capture tool_call">
                        <ee:variables>
                            <ee:set-variable variableName="toolCallId"><![CDATA[%dw 2.0
output application/java
---
((payload."id" default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((payload.function.name default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolArgsRaw"><![CDATA[%dw 2.0
output application/java
---
((payload.function.arguments default "{}") as String)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <ee:transform doc:name="parse args + map MCP">
                        <ee:variables>
                            <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
read((vars.toolArgsRaw default "{}") as String, "application/json")]]></ee:set-variable>
                            <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.toolName default "") as String
---
if (n == "update_supplier_risk_score" or n == "update_ontology") "mdm"
else if (n == "get_quality_agreement" or n == "generate_return_request" or n == "send_penalty_notice") "contract"
else "unknown"]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <logger level="INFO"
                            message="#['tool_call: ' ++ (vars.toolName default '') ++ ' args=' ++ (vars.toolArgsRaw default '')]"/>
                    <flow-ref name="callMcpExecuteFlow"/>
                    <ee:transform doc:name="append tool result message">
                        <ee:variables>
                            <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [{
  role: "tool",
  tool_call_id: (vars.toolCallId default "") as String,
  content: write((vars.toolResult default {}), "application/json") as String
}]]]></ee:set-variable>
                            <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
(vars.actionsLog default []) ++ [{
  tool: (vars.toolName default "") as String,
  result: (vars.toolResult default {})
}]]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </foreach>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         legalExtractFlow — LLM は「自然文 → エンティティ + モード」抽出だけ。
         分岐や処理連鎖はしない。 出力 vars.intent = { entities{...}, mode, scope }
         mode  = "advise" (協定確認・提案) | "execute" (返品要求/ペナルティまで実行)
         scope = "legal" (法務の依頼) | "out_of_scope" | "capability"
         ============================================================ -->
    <sub-flow name="legalExtractFlow">
        <!-- broker は parts[0].text に JSON を埋めて送ることがある。 その場合 LLM 抽出を飛ばし
             JSON を直接 entities に展開 (mode=execute)。 自然文なら通常の LLM 抽出。 -->
        <ee:transform doc:name="detect embedded broker JSON">
            <ee:variables>
                <ee:set-variable variableName="brokerJson"><![CDATA[%dw 2.0
output application/java
fun tryRead(s) = if (s == null or (trim(s as String)) == "") null
  else (dw::Runtime::try(() -> read(s as String, "application/json")).result default null)
var ut = trim((vars.userText default "") as String)
var i = ut indexOf "{"
var j = ut lastIndexOf "}"
var outer = if (i >= 0 and j > i) (tryRead(ut[i to j])) else null
var innerStr = if (outer == null) null else ((outer."input" default outer.text default outer."parts[0].text" default outer.message default null))
var inner =
  if (outer == null) null
  else if (innerStr != null and (innerStr is String)) (tryRead(innerStr as String))
  else outer
---
if (inner != null and ((inner.partNumber default null) != null or (inner.incidentId default null) != null or (inner.supplierGoldenId default null) != null)) inner else null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <choice doc:name="埋め込みJSON か 自然文か">
            <when expression="#[vars.brokerJson != null]">
                <ee:transform doc:name="broker JSON → intent">
                    <ee:variables>
                        <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
var b = vars.brokerJson default {}
---
{
  scope: "legal", mode: "execute",
  entities: {
    supplierName:     (b.supplierName default null),
    supplierGoldenId: (b.supplierGoldenId default null),
    partNumber:       (b.partNumber default null),
    incidentId:       (b.incidentId default null),
    quantity:         (b.quantity default null)
  },
  rawMessage: (b.reason default (vars.userText default "")) as String
}]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" message="#['legal-agent broker-JSON path entities=' ++ write(vars.intent.entities default {}, 'application/json')]"/>
            </when>
            <otherwise>
        <ee:transform doc:name="build extractor messages">
            <ee:variables>
                <ee:set-variable variableName="extractMessages"><![CDATA[%dw 2.0
output application/java
var sys =
"あなたは法務 agent の『意図抽出器』です。 ユーザの 1 メッセージを読み、 下記 JSON だけを出力。 説明やコードフェンスは書かない。\n" ++
"\n" ++
"scope は次のいずれか:\n" ++
"  - \"legal\"        : 品質保証協定・返品請求・ペナルティ・契約に関する依頼\n" ++
"  - \"capability\"   : 「何ができる?」等のメタ質問\n" ++
"  - \"out_of_scope\" : インシデント起票 / 在庫 / 発注 / 承認 など法務以外\n" ++
"\n" ++
"mode は次のいずれか (scope=legal のときのみ意味を持つ):\n" ++
"  - \"advise\"  : 「確認して」「見て」「できますか?」など、 まず協定を調べて提案するだけ\n" ++
"  - \"execute\" : 「返品要求を発行して」「ペナルティ通知して」「対応して」など、 実行まで明示依頼\n" ++
"\n" ++
"entities は読み取れた値だけ。 読めないものは null。 推測・正規化・捏造は禁止。\n" ++
"  supplierName (社名そのまま 例:九州製作所) / supplierGoldenId (G-XXX のみ) / partNumber (P-...) /\n" ++
"  incidentId (INC-...) / quantity (整数)\n" ++
"  ※ 社名は GoldenId に変換しない。 supplierName にそのまま入れる (解決は後段が行う)。\n" ++
"\n" ++
"出力スキーマ:\n" ++
"{\"scope\":\"...\",\"mode\":\"advise\",\"entities\":{\"supplierName\":null,\"supplierGoldenId\":null,\"partNumber\":null,\"incidentId\":null,\"quantity\":null},\"rawMessage\":\"原文\"}"
---
[
  { role: "system",    content: sys },
  { role: "user",      content: "九州製作所との品質保証協定で P-2024-KYU-001 の不良で返品請求できますか?" },
  { role: "assistant", content: write({ scope: "legal", mode: "advise", entities: { supplierName: "九州製作所", supplierGoldenId: null, partNumber: "P-2024-KYU-001", incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "九州製作所に返品要求書を発行してペナルティ通知して。INC-2026-0579、120個。" },
  { role: "assistant", content: write({ scope: "legal", mode: "execute", entities: { supplierName: "九州製作所", supplierGoldenId: null, partNumber: null, incidentId: "INC-2026-0579", quantity: 120 }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "君は何ができるの?" },
  { role: "assistant", content: write({ scope: "capability", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: null, incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "横浜倉庫の在庫を仮確保して" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: null, incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "九州製作所 P-2024-KYU-001 の代替部品で120台分の発注ドラフトを作って" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: null, incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "代替部品を発注して" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: null, incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "担当バイヤーに承認依頼を出して" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { supplierName: null, supplierGoldenId: null, partNumber: null, incidentId: null, quantity: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: (vars.userText default "") as String }
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="build extractor body">
            <ee:variables>
                <ee:set-variable variableName="extractBody"><![CDATA[%dw 2.0
output application/json
---
{
  model:      (p('llm.model') default "gpt-5-mini") as String,
  max_completion_tokens: (p('llm.max_tokens') default 2048) as Number,
  messages:   (vars.extractMessages default [])
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config">
            <http:body>#[vars.extractBody]</http:body>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
        <ee:transform doc:name="parse intent JSON">
            <ee:variables>
                <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
fun extractJson(s) = do {
  var t = trim(s default "")
  var noFence = (t replace /```(json)?/ with "") replace "```" with ""
  var i = noFence indexOf "{"
  var j = noFence lastIndexOf "}"
  ---
  if (i >= 0 and j > i) (noFence[i to j]) else "{}"
}
// LLM 出力が不正/途中切れ JSON でも落ちないよう try で包む。 失敗時は {} にフォールバック。
fun safeReadJson(s) =
  if (s == null or (trim(s as String)) == "") {}
  else (dw::Runtime::try(() -> read(extractJson(s as String), "application/json")).result default {})
var resp =
  if (payload == null) {}
  else if (payload is Binary) (dw::Runtime::try(() -> read(payload as String {encoding: "UTF-8"}, "application/json")).result default {})
  else if (payload is String) (dw::Runtime::try(() -> read(payload as String, "application/json")).result default {})
  else payload
var raw = ((resp.choices default [])[0].message.content default "{}") as String
var obj = safeReadJson(raw)
// 決定論バックフィル: userText から正規表現で確実に拾える値を LLM が null にした時だけ補う。
var ut = (vars.userText default "") as String
fun firstMatch(re) = do { var m = (ut scan re) --- if (sizeOf(m) > 0) m[0][0] else null }
var rxPart = firstMatch(/P-\d{4}-[A-Z0-9]+-\d+/)
var rxInc  = firstMatch(/INC-[0-9A-Za-z-]+/)
var rxGid  = firstMatch(/G-[A-Z0-9-]+/)
var rxQty  = do { var m = (ut scan /(\d+)\s*(台|個|pcs|units?)/) --- if (sizeOf(m) > 0) (m[0][1]) else null }
var le = (obj.entities default {})
var ents = le ++
  (if ((le.partNumber       default null) == null and rxPart != null) { partNumber: rxPart } else {}) ++
  (if ((le.incidentId       default null) == null and rxInc  != null) { incidentId: rxInc } else {}) ++
  (if ((le.supplierGoldenId default null) == null and rxGid  != null) { supplierGoldenId: rxGid } else {}) ++
  (if ((le.quantity         default null) == null and rxQty  != null) { quantity: (rxQty as Number) } else {})
---
{
  scope:      (obj.scope default "legal") as String,
  mode:       (obj.mode default "advise") as String,
  entities:   ents,
  rawMessage: (obj.rawMessage default ((vars.userText default "") as String)) as String
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO"
                message="#['legal-agent scope=' ++ (vars.intent.scope default '?') ++ ' mode=' ++ (vars.intent.mode default '?') ++ ' entities=' ++ write(vars.intent.entities default {}, 'application/json')]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         resolveSupplierFlow — 社名→GoldenId を agent 自身が MDM で解決し entities に書き戻す。
         ドメイン内の正規化は各 agent 持ち (broker はドメイン横断のみ)。
         ============================================================ -->
    <sub-flow name="resolveSupplierFlow">
        <choice>
            <when expression='#[(vars.intent.entities.supplierGoldenId default null) == null and (vars.intent.entities.supplierName default null) != null]'>
                <ee:transform doc:name="build resolve_supplier args">
                    <ee:variables>
                        <ee:set-variable variableName="toolName">#['resolve_supplier']</ee:set-variable>
                        <ee:set-variable variableName="mcpKind">#['mdm']</ee:set-variable>
                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
{ supplierName: (vars.intent.entities.supplierName default "") as String }]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="merge resolved goldenId">
                    <ee:variables>
                        <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
var r = (vars.toolResult.result default vars.toolResult default {})
var gid = if ((r.matched default false) == true) (r.supplier.goldenId default null) else null
---
vars.intent ++ { entities: (vars.intent.entities default {}) ++ (if (gid != null) { supplierGoldenId: gid } else {}) }]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO"
                        message="#['legal-agent resolved ' ++ (vars.intent.entities.supplierName default '?') ++ ' -> ' ++ (vars.intent.entities.supplierGoldenId default 'UNRESOLVED')]"/>
            </when>
            <otherwise>
                <logger level="INFO" message="resolveSupplierFlow skipped"/>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         legalRouterFlow — 決定論。 capability/out_of_scope は静的応答。
         legal は get_quality_agreement (READ) を必ず引き、 mode=execute なら
         返品要求書 + ペナルティ通知まで連鎖。 GoldenId 必須。
         ============================================================ -->
    <sub-flow name="legalRouterFlow">
        <choice doc:name="dispatch by scope">
            <when expression='#[(vars.intent.scope default "") == "capability"]'>
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"⚖️ 法務 (atelier-legal-agent) です。\n\n**できること**\n- 品質保証協定書の確認 (条項・ペナルティ上限)\n- 返品要求書の発行\n- ペナルティ通知書の送付\n- サプライヤーリスクスコアの更新\n\n**担当外**: インシデント起票 (incident) / 在庫 (logistics) / 発注 (procurement) / 承認 (org)。\n※ 取引先は社名で言ってくれれば GoldenId は自分で解決します。"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <when expression='#[(vars.intent.scope default "") == "out_of_scope"]'>
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"その依頼は法務 agent の担当外です。\nインシデント起票は incident、 在庫は logistics、 発注は procurement、 承認は org の各 agent、 もしくは broker へお願いします。"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <!-- scope=legal: GoldenId 必須。 無ければ NEED_INFO -->
            <when expression='#[(vars.intent.entities.supplierGoldenId default null) == null]'>
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var nm = vars.intent.entities.supplierName default null
---
"[NEED_INFO]\n- " ++
(if (nm != null) ("取引先「" ++ (nm as String) ++ "」を解決できませんでした。 正式な取引先名または GoldenId (G-XXX)") else "取引先 (社名 または GoldenId G-XXX)") ++
" を教えてください。\n[/NEED_INFO]"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <!-- STEP 1: 品質保証協定書を引く (READ) -->
                <ee:transform doc:name="build get_quality_agreement args">
                    <ee:variables>
                        <ee:set-variable variableName="toolName">#['get_quality_agreement']</ee:set-variable>
                        <ee:set-variable variableName="mcpKind">#['contract']</ee:set-variable>
                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
{ supplierGoldenId: e.supplierGoldenId } ++ (if (e.partNumber != null) { partNumber: e.partNumber } else {})]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="capture agreement">
                    <ee:variables>
                        <ee:set-variable variableName="agreement"><![CDATA[%dw 2.0
output application/java
---
(vars.toolResult.result default vars.toolResult default {})]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <choice doc:name="mode=execute なら 返品要求+ペナルティまで">
                    <when expression='#[(vars.intent.mode default "advise") == "execute"]'>
                        <!-- STEP 2: 返品要求書 (incidentId 必須) -->
                        <choice>
                            <when expression='#[(vars.intent.entities.incidentId default null) != null]'>
                                <ee:transform doc:name="build generate_return_request args">
                                    <ee:variables>
                                        <ee:set-variable variableName="toolName">#['generate_return_request']</ee:set-variable>
                                        <ee:set-variable variableName="mcpKind">#['contract']</ee:set-variable>
                                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
{
  supplierGoldenId: e.supplierGoldenId,
  partNumber:       (e.partNumber default "") as String,
  incidentId:       e.incidentId
} ++ (if (e.quantity != null) { quantity: e.quantity } else {})
  ++ { reason: (vars.intent.rawMessage default "") as String }]]></ee:set-variable>
                                    </ee:variables>
                                </ee:transform>
                                <flow-ref name="callMcpExecuteFlow"/>
                                <ee:transform doc:name="capture returnReq">
                                    <ee:variables>
                                        <ee:set-variable variableName="returnReq"><![CDATA[%dw 2.0
output application/java
---
(vars.toolResult.result default vars.toolResult default {})]]></ee:set-variable>
                                    </ee:variables>
                                </ee:transform>
                                <!-- STEP 3: ペナルティ通知 (協定の penaltyCap を金額に使う) -->
                                <ee:transform doc:name="build send_penalty_notice args">
                                    <ee:variables>
                                        <ee:set-variable variableName="toolName">#['send_penalty_notice']</ee:set-variable>
                                        <ee:set-variable variableName="mcpKind">#['contract']</ee:set-variable>
                                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
var cap = (vars.agreement.penaltyCap default 0)
---
{
  supplierGoldenId: e.supplierGoldenId,
  incidentId:       e.incidentId,
  amount:           cap,
  currency:         "JPY"
}]]></ee:set-variable>
                                    </ee:variables>
                                </ee:transform>
                                <flow-ref name="callMcpExecuteFlow"/>
                                <!-- ペナルティ結果を退避 (このあと risk-score 更新で vars.toolResult が上書きされる) -->
                                <ee:transform doc:name="stash penalty result">
                                    <ee:variables>
                                        <ee:set-variable variableName="penaltyResult"><![CDATA[%dw 2.0
output application/java
---
(vars.toolResult.result default vars.toolResult default {})]]></ee:set-variable>
                                    </ee:variables>
                                </ee:transform>
                                <!-- STEP 4: サプライヤーのリスクスコアを引上げ (mdm)。
                                     品質インシデントで返品・ペナルティまで至った取引先はリスク増。
                                     既存 update_supplier_risk_score tool を配線。 score は 0.85 固定 (デモ値)。 -->
                                <ee:transform doc:name="build update_supplier_risk_score args">
                                    <ee:variables>
                                        <ee:set-variable variableName="toolName">#['update_supplier_risk_score']</ee:set-variable>
                                        <ee:set-variable variableName="mcpKind">#['mdm']</ee:set-variable>
                                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
{
  supplierGoldenId: e.supplierGoldenId,
  riskScore:        0.85,
  reason:           ("品質インシデント " ++ (e.incidentId default "") as String ++ " で返品要求・ペナルティ通知を発行")
} ++ (if ((e.incidentId default null) != null) { incidentId: e.incidentId } else {})]]></ee:set-variable>
                                    </ee:variables>
                                </ee:transform>
                                <flow-ref name="callMcpExecuteFlow"/>
                                <ee:transform doc:name="stash risk result">
                                    <ee:variables>
                                        <ee:set-variable variableName="riskResult"><![CDATA[%dw 2.0
output application/java
---
{ ok: ((vars.toolResult.status default "ok") as String) != "error", result: (vars.toolResult.result default {}) }]]></ee:set-variable>
                                    </ee:variables>
                                </ee:transform>
                                <ee:transform doc:name="format execute result">
                                    <ee:variables>
                                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var ag = vars.agreement default {}
var rr = vars.returnReq default {}
var pn = (vars.penaltyResult default {})
var rk = vars.riskResult default null
var e  = vars.intent.entities default {}
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
---
"⚖️ 法務エージェント (実行完了)\n\n" ++
"| 項目 | 値 |\n|---|---|\n" ++
"| 取引先 | " ++ cell(e.supplierGoldenId) ++ " |\n" ++
"| 該当条項 | " ++ cell(ag.clause) ++ " |\n" ++
"| 返品要求書 | **" ++ cell(rr.requestId) ++ "** |\n" ++
"| ペナルティ通知 | **" ++ cell(pn.noticeId) ++ "** (¥" ++ cell(pn.amount default ag.penaltyCap) ++ ") |" ++
(if (rk != null and rk.ok == true)
   ("\n| リスクスコア | **" ++ cell((rk.result.previousRiskScore default "—")) ++ " → 0.85** に引上げ |")
 else "")]]></ee:set-variable>
                                    </ee:variables>
                                </ee:transform>
                            </when>
                            <otherwise>
                                <ee:transform doc:name="execute だが incidentId 無し">
                                    <ee:variables>
                                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"[NEED_INFO]\n- 返品要求書の発行には incidentId (INC-XXXX) が必要です。\n[/NEED_INFO]"]]></ee:set-variable>
                                    </ee:variables>
                                </ee:transform>
                            </otherwise>
                        </choice>
                    </when>
                    <!-- mode=advise: 協定を引いて提案だけ -->
                    <otherwise>
                        <ee:transform doc:name="format advise result">
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var ag = vars.agreement default {}
var e  = vars.intent.entities default {}
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
var hasClause = ((ag.clause default "") as String) != ""
---
"⚖️ 法務エージェント (相談)\n\n" ++
"| 項目 | 値 |\n|---|---|\n" ++
"| 取引先 | " ++ cell(e.supplierGoldenId) ++ " |\n" ++
"| 該当条項 | " ++ (if (hasClause) cell(ag.clause) else "該当する品質保証協定は見つかりませんでした") ++ " |\n" ++
"| ペナルティ上限 | " ++ (if ((ag.penaltyCap default null) != null) ("¥" ++ cell(ag.penaltyCap)) else "—") ++ " |\n\n" ++
(if (hasClause) "推奨アクション: 返品要求 / ペナルティ通知 / リスクスコア引上げ。 「発行して」「通知して」で実行します。" else "")]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </otherwise>
                </choice>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         directToolFlow — broker DataPart { tool, args } を LLM 無しで直接 MCP に流す
         ============================================================ -->
    <sub-flow name="directToolFlow">
        <ee:transform doc:name="map directPart → toolName/toolArgs/mcpKind">
            <ee:variables>
                <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((vars.directPart.tool default vars.directPart.toolName default "") as String)]]></ee:set-variable>
                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
(vars.directPart.args default vars.directPart."input" default {})]]></ee:set-variable>
                <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.directPart.tool default vars.directPart.toolName default "") as String
---
if (n == "update_supplier_risk_score" or n == "update_ontology") "mdm"
else if (n == "get_quality_agreement" or n == "generate_return_request" or n == "send_penalty_notice") "contract"
else "unknown"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO"
                message="#['legal-agent direct fast-path: tool=' ++ (vars.toolName default '') ++ ' args=' ++ write(vars.toolArgs default {}, 'application/json')]"/>
        <choice>
            <when expression="#[(vars.mcpKind default '') == 'unknown' or (vars.toolName default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
write({ status: "error", agent: "atelier-legal-agent", mode: "direct", result: { code: "UNKNOWN_TOOL", message: "unsupported tool for direct mode: " ++ (vars.toolName default ""), supported: ["get_quality_agreement","generate_return_request","send_penalty_notice","update_supplier_risk_score","update_ontology"] } }, "application/json") as String]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="wrap direct result as JSON reply">
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
write({ status: "ok", agent: "atelier-legal-agent", mode: "direct", tool: (vars.toolName default "") as String, result: (vars.toolResult default {}) }, "application/json") as String]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         callMcpExecuteFlow — POST /mcp/execute on the right MCP backend
         ============================================================ -->
    <sub-flow name="callMcpExecuteFlow">
        <ee:transform doc:name="build /mcp/execute body">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  toolName: (vars.toolName default "") as String,
  "input":  (vars.toolArgs default {})
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <try>
            <choice doc:name="dispatch by mcpKind">
                <when expression="#[(vars.mcpKind default '') == 'mdm']">
                    <http:request method="POST" path="/mcp/execute" config-ref="MDM_MCP_Request_config" doc:name="POST mdm-mcp /mcp/execute">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <when expression="#[(vars.mcpKind default '') == 'contract']">
                    <http:request method="POST" path="/mcp/execute" config-ref="Contract_MCP_Request_config" doc:name="POST contract-mcp /mcp/execute">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <otherwise>
                    <ee:transform doc:name="UNKNOWN_TOOL synth">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "UNKNOWN_TOOL", message: "no MCP for tool: " ++ (vars.toolName default "") } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </otherwise>
            </choice>
            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "MCP_CALL_FAILED", message: (error.description default error.message default "unknown") as String } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <logger level="WARN"
                            message="#['MCP call failed kind=' ++ (vars.mcpKind default '') ++ ' tool=' ++ (vars.toolName default '') ++ ' err=' ++ (error.description default error.message default 'unknown')]"/>
                </on-error-continue>
            </error-handler>
        </try>

        <ee:transform doc:name="capture toolResult">
            <ee:variables>
                <ee:set-variable variableName="toolResult"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s: String) =
  if (s == null or trim(s) == "") {}
  else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload as String)
else payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <!-- ============================================================
         loadMemoryFlow — 会話履歴 (messages[]) を ObjectStore から読み込む。
         contextId が空 or キー不在 (= 新会話) なら priorMessages = []。
         ============================================================ -->
    <sub-flow name="loadMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <try>
                    <os:retrieve key="#[vars.contextId]" objectStore="MEMORY_STORE" target="priorRaw"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
fun parseList(s) = if (s == null or s == "") [] else read(s, "application/json")
---
if (vars.priorRaw == null) []
else if (vars.priorRaw is String) parseList(vars.priorRaw as String)
else (vars.priorRaw default [])]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <error-handler>
                        <on-error-continue type="OS:KEY_NOT_FOUND, OS:STORE_NOT_AVAILABLE, ANY">
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
        <logger level="INFO"
                message="#['memory load: contextId=' ++ (vars.contextId default '') ++ ' priorMessages=' ++ (sizeOf(vars.priorMessages default []) as String)]"/>
    </sub-flow>

    <!-- ============================================================
         saveMemoryFlow — 最新 messages[] を ObjectStore に書き戻す。
         ============================================================ -->
    <sub-flow name="saveMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <logger level="INFO" message="memory save skipped (no contextId)"/>
            </when>
            <otherwise>
                <try>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
write((vars.messages default []), "application/json") as String]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <os:store key="#[vars.contextId]" objectStore="MEMORY_STORE">
                        <os:value>#[payload]</os:value>
                    </os:store>
                    <logger level="INFO"
                            message="#['memory save: contextId=' ++ (vars.contextId default '') ++ ' messages=' ++ (sizeOf(vars.messages default []) as String)]"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN" message="#['memory save failed: ' ++ (error.description default error.message default 'unknown')]"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
    </sub-flow>

</mule>
