agents/logistics/src/main/mule/impl/agent-card.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- GET /.well-known/agent-card.json -->
    <flow name="agent-card-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/.well-known/agent-card.json" allowedMethods="GET">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[{
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Authorization"
                }]]]></http:headers>
            </http:response>
        </http:listener>
        <flow-ref name="build-agent-card-subflow"/>
    </flow>

    <!-- GET /.well-known/agent.json (compatibility alias) -->
    <flow name="agent-card-alias-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/.well-known/agent.json" allowedMethods="GET">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[{
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Authorization"
                }]]]></http:headers>
            </http:response>
        </http:listener>
        <flow-ref name="build-agent-card-subflow"/>
    </flow>

    <!-- Sub-flow: build and return agent card JSON inline (no file load to avoid classpath issues) -->
    <sub-flow name="build-agent-card-subflow">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "name": "Logistics Agent",
    "description": "配送状況・遅延理由の確認を行うルールベースエージェント (LLM非使用)",
    "url": "http://localhost:5183/",
    "version": "0.1.0",
    "provider": {
        "organization": "agent-center demo",
        "url": "http://localhost:8000/"
    },
    "capabilities": {
        "streaming": false,
        "pushNotifications": false,
        "stateTransitionHistory": false
    },
    "defaultInputModes": ["text"],
    "defaultOutputModes": ["text"],
    "skills": [
        {
            "id": "shipment_status",
            "name": "Shipment Status",
            "description": "注文IDを元に現在の配送ステータスを返す",
            "tags": ["logistics", "shipment"]
        },
        {
            "id": "delay_reason",
            "name": "Delay Reason",
            "description": "配送遅延の理由を返す",
            "tags": ["logistics", "delay"]
        }
    ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>

</mule>
