agents/logistics/src/main/mule/impl/cors.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <!-- OPTIONS preflight for POST / -->
    <flow name="cors-options-root-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/" allowedMethods="OPTIONS">
            <http:response statusCode="204">
                <http:headers><![CDATA[#[{
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Authorization",
                    "Access-Control-Max-Age": "86400"
                }]]]></http:headers>
            </http:response>
        </http:listener>
        <set-payload value=""/>
    </flow>

    <!-- OPTIONS preflight for /.well-known/agent-card.json -->
    <flow name="cors-options-card-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/.well-known/agent-card.json" allowedMethods="OPTIONS">
            <http:response statusCode="204">
                <http:headers><![CDATA[#[{
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Authorization",
                    "Access-Control-Max-Age": "86400"
                }]]]></http:headers>
            </http:response>
        </http:listener>
        <set-payload value=""/>
    </flow>

    <!-- OPTIONS preflight for /.well-known/agent.json -->
    <flow name="cors-options-agent-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/.well-known/agent.json" allowedMethods="OPTIONS">
            <http:response statusCode="204">
                <http:headers><![CDATA[#[{
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Authorization",
                    "Access-Control-Max-Age": "86400"
                }]]]></http:headers>
            </http:response>
        </http:listener>
        <set-payload value=""/>
    </flow>

</mule>
