atelier-agents/logistics-agent/src/main/mule/logistics-agent.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:jmx="http://www.mulesoft.org/schema/mule/jmx"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
          http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
          http://www.mulesoft.org/schema/mule/jmx http://www.mulesoft.org/schema/mule/jmx/current/mule-jmx.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="${http.listener.port}"/>
    </http:listener-config>

    <a2a:server-config name="A2A_Server_config">
        <a2a:connection listenerConfig="HTTP_Listener_config" agentPath="${a2a.path}"/>
        <a2a:agent-card>
            <a2a:json><![CDATA[{
  "protocolVersion": "0.3.0",
  "name": "atelier-logistics-agent",
  "description": "物流担当 AI エージェント (Atelier 用 同期 A2A 版)。在庫照会 / 仮確保 / 仮確保キャンセルを LLM tool-use ループで実施し、統合サマリを返す。リスクスコア更新・KG 記録は対象外 (legal-agent 経路)。",
  "url": "${agent.public.url}",
  "version": "1.0.0",
  "preferredTransport": "JSONRPC",
  "capabilities": { "streaming": false, "pushNotifications": false, "stateTransitionHistory": false },
  "defaultInputModes": ["text/plain", "application/json"],
  "defaultOutputModes": ["text/plain", "application/json"],
  "skills": [
    {
      "id": "logistics_handle_incident",
      "name": "物流インシデント対応 (LLM tool-use)",
      "description": "サプライヤー品質インシデント連絡を自然文で受け取り、在庫照会 / 仮確保 / 仮確保キャンセル を tool-use ループで実施し、統合サマリを返す。",
      "examples": [
        "INC-2026-0521 関西部品 P-2024-KAN-001 (500個 HIGH) の予約 RSV-2026-1134 をキャンセルし、代替 P-2024-ALT-005 を仮確保してほしい。"
      ],
      "inputModes": ["text/plain", "application/json"],
      "outputModes": ["text/plain", "application/json"],
      "tags": ["logistics", "inventory", "reservation"]
    }
  ]
}]]></a2a:json>
        </a2a:agent-card>
    </a2a:server-config>

    <http:request-config name="LLM_Request_config" basePath="/" responseTimeout="${llm.timeout}">
        <http:request-connection host="openai-proxy.demos.mulesoft.com"
                                 port="443"
                                 protocol="HTTPS"/>
        <http:default-headers>
            <http:default-header key="Authorization" value="Basic ${llm.token}"/>
            <http:default-header key="Content-Type" value="application/json; charset=utf-8"/>
        </http:default-headers>
    </http:request-config>

    <http:request-config name="Inventory_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.inventory.host}" port="${mcp.inventory.port}" protocol="${mcp.inventory.protocol}"/>
    </http:request-config>
    <http:request-config name="MDM_MCP_Request_config" basePath="/">
        <http:request-connection host="${mcp.mdm.host}" port="${mcp.mdm.port}" protocol="${mcp.mdm.protocol}"/>
    </http:request-config>

    <jmx:config name="JMX_Config" logBufferSize="5000"/>

    <os:object-store name="MEMORY_STORE"
                     entryTtl="1" entryTtlUnit="HOURS"
                     expirationInterval="5" expirationIntervalUnit="MINUTES"
                     maxEntries="500"
                     persistent="false"/>

    <flow name="logisticsAgentTaskFlow">
        <a2a:task-listener config-ref="A2A_Server_config">
            <a2a:response>
                <a2a:response>#[vars.taskJson]</a2a:response>
            </a2a:response>
        </a2a:task-listener>

        <logger level="INFO"
                message="#['atelier-logistics-agent A2A task received. method=' ++ (attributes.jsonRpcMethod default '?') ++ ' taskId=' ++ (attributes.taskId default '?')]"/>

        <ee:transform doc:name="extract user text + task ids + contextId">
            <ee:variables>
                <ee:set-variable variableName="taskId"><![CDATA[%dw 2.0
output application/java
---
((attributes.taskId default (now() as String)) as String)]]></ee:set-variable>
                <ee:set-variable variableName="msgObj"><![CDATA[%dw 2.0
output application/java
---
if (payload is String) read(payload, "application/json") else payload]]></ee:set-variable>
                <ee:set-variable variableName="contextId"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var fromAttr = (attributes.contextId default "") as String
var fromMsg  = (p.message.contextId default "") as String
---
if (fromAttr != "") fromAttr else fromMsg]]></ee:set-variable>
                <ee:set-variable variableName="userText"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var parts = (p.message.parts default [])
var textPart = (parts filter ((x) -> (x.kind default x."type" default "") == "text"))
---
if (sizeOf(textPart) > 0) ((textPart[0].text default "") as String)
else (((parts[0].text default "") as String))]]></ee:set-variable>
                <ee:set-variable variableName="directPart"><![CDATA[%dw 2.0
output application/java
var p = if (payload is String) read(payload, "application/json") else payload
var dataParts = ((p.message.parts default []) filter ((x) -> (x.kind default x."type" default "") == "data"))
---
if (sizeOf(dataParts) > 0) (dataParts[0].data default null) else null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO"
                message="#['logistics-agent: directPart=' ++ (if (vars.directPart != null) 'yes' else 'no') ++ ' userText=' ++ ((vars.userText default '') as String)]"/>

        <choice doc:name="broker direct (data part) か 人間 自然文か">
            <when expression="#[vars.directPart != null]">
                <flow-ref name="directToolFlow"/>
            </when>
            <otherwise>
                <try>
                    <flow-ref name="logExtractFlow"/>
                    <flow-ref name="logRouterFlow"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message="#['log intent pipeline failed: ' ++ (error.description default error.message default 'unknown')]"/>
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"⚠️ atelier-logistics-agent: 処理中にエラーが発生しました。\n" ++
"  " ++ ((error.description default (error.message default "unknown")) as String)]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="replyText"><![CDATA[%dw 2.0
output application/java
var t = ((vars.finalText default "") as String)
var msgs = (vars.messages default [])
var lastAssistant = (msgs filter ((m) -> ((m.role default "") as String) == "assistant" and ((m.content default "") as String) != ""))
var lastAssistantContent = if (sizeOf(lastAssistant) > 0) ((lastAssistant[-1].content default "") as String) else ""
var fallbackByReason =
  if ((vars.finishReason default "") as String == "length")
    "ℹ️ 物流 (atelier-logistics-agent) です。\n\n回答が文字数上限に達しました。\n部品番号・必要数・インシデント ID のいずれかを指定して再度お試しください。"
  else
    "ℹ️ 物流 (atelier-logistics-agent) です。\n\n**実行可能な操作**\n- 取引先のゴールデン ID 解決\n- 過去インシデント・取引先関係の照会\n- 取引先一覧 (region / status / リスクスコア範囲で絞込み)\n- 取引先 region 一覧 (各 region の件数付き)\n- 部品在庫の照会\n- 在庫の仮確保\n- 仮確保のキャンセル\n\n**対象外** (依頼されても実施しません): サプライヤーリスクスコア更新 / KG (オントロジー) 記録 / 法務契約照会 / 発注ドラフト / 承認依頼送信 / インシデント採番。\n\nお手数ですが部品番号・必要数・インシデント ID のいずれかを指定してください。"
---
if (t != "") t
else if (lastAssistantContent != "") lastAssistantContent
else fallbackByReason]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <flow-ref name="saveMemoryFlow"/>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="taskJson"><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.taskId,
  contextId: vars.contextId,
  kind: "task",
  status: {
    state: "completed",
    message: {
      role: "agent",
      kind: "message",
      messageId: (now() as String) ++ "-" ++ vars.taskId,
      parts: [
        { kind: "text", text: vars.replyText default "" }
      ]
    },
    timestamp: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" }
  }
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="healthFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/health"/>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-logistics-agent" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

    <flow name="debugLogsFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/debug/logs"/>
        <jmx:get-recent-logs config-ref="JMX_Config"
                             lines="#[(attributes.queryParams.lines default 200) as Number]"
                             level="#[attributes.queryParams.level default null]"
                             pattern="#[attributes.queryParams.pattern default null]"/>
    </flow>

    <sub-flow name="initAgentStateFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
var sysPrompt =
"あなたは物流担当 AI (atelier-logistics-agent)。専門領域は inventory (在庫) のみ。\n" ++
"\n" ++
"=== STEP 0: メタ質問 (scope / capability) は STEP 1 を飛ばして自然文で答える ===\n" ++
"\n" ++
"ユーザが「何ができる?」「インシデント登録もできる?」「君の役割は?」のようなツール実行を伴わない質問をしてきたら、 NEED_INFO ゲートを発動せず、 1〜3 行の自然文で簡潔に答える。\n" ++
"  - できる: 在庫照会 / 仮確保 / 仮確保のキャンセル。\n" ++
"  - できない (担当外): インシデント起票 (incident-agent) / 法務 (legal-agent) / 発注 (procurement-agent) / 承認依頼 (org-agent) / supplier・part の正規化 ID 解決・代替部品検索 (broker または MDM)。\n" ++
"  → 担当外の依頼は、 担当する agent に直接話すか broker に投げてもらうよう案内する。\n" ++
"\n" ++
"具体的に在庫関連のツール実行を頼まれたときだけ、 STEP 1 のゲートに進む。\n" ++
"\n" ++
"=== STEP 1: 最優先 — NEED_INFO ゲート (ツール実行依頼に対してのみ発動。 違反する出力は重大エラー) ===\n" ++
"\n" ++
"次のいずれかが揃っていなければ、 何があっても tool を呼ばず、 ADVISORY/EXECUTE テンプレも一切書かず、 [NEED_INFO] block だけを返す:\n" ++
"  - partNumber (正規化済の P-YYYY-... 形式)。 ユーザが「P-2024-KAN-001」と言っていれば OK。 「あの部品」「ハンドル部品」のような曖昧表現は不可。\n" ++
"  - requiredQuantity (整数。 reserve_inventory に必要)。 「在庫確認だけ」のときは check_inventory に必須ではない。\n" ++
"  - reservationId (cancel_inventory_reservation 時のみ。 RES-XXXX 形式)。\n" ++
"\n" ++
"  **絶対禁止例 (これらは重大エラー)**:\n" ++
"    - 部品名「ハンドル部品」を見て partNumber=\"P-HANDLE-001\" を勝手に作る → ❌\n" ++
"    - サプライヤー名 → 部品番号のマッピングを推測する → ❌\n" ++
"    - 不足を埋めずに ADVISORY テーブルに値を埋めて返す → ❌\n" ++
"\n" ++
"NEED_INFO 出力フォーマット (これだけを返す。 他のテキスト/テーブル/絵文字は書かない):\n" ++
"\n" ++
"    [NEED_INFO]\n" ++
"    - <question 1 — ユーザの最後のメッセージと同じ言語で書く。 日本語で来たら日本語で問い返す。 normalized ID or value を要求すること>\n" ++
"    - <question 2 ...>\n" ++
"    [/NEED_INFO]\n" ++
"\n" ++
"自分のドメイン外 (supplier ID 解決、 代替部品、 region、 法務、 発注、 承認、 インシデント採番) も同じ方式で [NEED_INFO] を返す。\n" ++
"上位 (broker または人間) が解決して回答したら、 その値を使って自分の tool を実行する。\n" ++
"\n" ++
"=== STEP 2: 全項目揃った場合のみ — 通常の処理 ===\n" ++
"\n" ++
"利用可能 tool: check_inventory / reserve_inventory / cancel_inventory_reservation のみ。\n" ++
"\n" ++
"動作モード: ADVISORY (相談・提案モード)\n" ++
"  - 基本姿勢は「在庫状況を調べて、 何をすべきか提案する」。 副作用 tool (reserve_inventory / cancel_inventory_reservation) は **ユーザが明示的に指示したときだけ** 呼ぶ。\n" ++
"  - 例: 「P-2024-KAN-001 の在庫不足が出ました」 → check_inventory で状況を把握し、 推奨アクションを箇条書き。 勝手に reserve_inventory を呼ばない。\n" ++
"  - 例: 「800 個仮確保してください」「reservationId XXX をキャンセルして」 → 副作用 tool を実行。\n" ++
"\n" ++
"tool の引数: ユーザの最後の user メッセージに登場する固有名詞 (部品番号・必要数・予約ID) をそのまま使う。「PART-0001」「placeholder」などの仮名は絶対に使わない。\n" ++
"\n" ++
"tool の返り値:\n" ++
"  - check_inventory → result.quantityOnHand / result.available / result.warehouse / result.leadTimeHours\n" ++
"  - reserve_inventory → result.reservationId / result.ttlSeconds\n" ++
"  - cancel_inventory_reservation → result.status (CANCELLED など)\n" ++
"\n" ++
"出力フォーマット:\n" ++
"  [ADVISORY] 📦 logistics-agent: <一言サマリ> / 部品 <partNumber> / 在庫 <quantityOnHand>個 (必要 <requiredQuantity>) LT <leadTimeHours>h / 推奨: 必要数仮確保 (TTL 86400s)\n" ++
"  [EXECUTE]  📦 logistics-agent: <実行サマリ> / 部品 <partNumber> / 仮確保 <reservationId> (TTL <ttlSeconds>s) / キャンセル <reservationId> → <status>"
---
if ((vars.priorMessages default []) != [])
  (vars.priorMessages default []) ++ [{ role: "user", content: (vars.userText default "") as String }]
else
  [
    { role: "system", content: sysPrompt },
    { role: "user",   content: (vars.userText default "") as String }
  ]]]></ee:set-variable>
                <ee:set-variable variableName="tools"><![CDATA[%dw 2.0
output application/java
---
[
  { "type": "function", "function": {
      name: "check_inventory",
      description: "部品の在庫レベルを照会する",
      parameters: {
        "type": "object",
        properties: {
          partNumber:       { "type": "string" },
          requiredQuantity: { "type": "integer" }
        },
        required: ["partNumber"]
      }
  }},
  { "type": "function", "function": {
      name: "reserve_inventory",
      description: "部品在庫を仮確保 (RESERVED) する",
      parameters: {
        "type": "object",
        properties: {
          partNumber: { "type": "string" },
          quantity:   { "type": "integer" },
          incidentId: { "type": "string" },
          ttlSeconds: { "type": "integer" }
        },
        required: ["partNumber", "quantity", "incidentId"]
      }
  }},
  { "type": "function", "function": {
      name: "cancel_inventory_reservation",
      description: "仮確保 (reservationId) をキャンセルする",
      parameters: {
        "type": "object",
        properties: { reservationId: { "type": "string" } },
        required: ["reservationId"]
      }
  }}
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="agentLoopFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="loopRange"><![CDATA[%dw 2.0
output application/java
---
1 to (p('agent.max_loops') as Number)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <foreach collection="#[vars.loopRange]">
            <choice>
                <when expression="#[(vars.finishReason default '') == 'stop' or (vars.finishReason default '') == 'length' or (vars.finishReason default '') == 'content_filter']">
                    <logger level="INFO" message="#['Skipping iter ' ++ (payload as String) ++ ' (finishReason=' ++ (vars.finishReason default '') ++ ')']"/>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="loopCount"><![CDATA[%dw 2.0
output application/java
---
((payload default 0) - 1) as Number]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="agentInferenceFlow"/>
                    <flow-ref name="agentExecuteToolsFlow"/>
                </otherwise>
            </choice>
        </foreach>
        <logger level="INFO" message="#['Agent loop done. iterations=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '')]"/>
    </sub-flow>

    <sub-flow name="agentInferenceFlow">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="llmBody"><![CDATA[%dw 2.0
output application/json
---
{
  model:       (p('llm.model') default "gpt-5-mini") as String,
  max_completion_tokens:  (p('llm.max_tokens') default 2048) as Number,
  messages:    vars.messages default [],
  tools:       vars.tools default [],
  tool_choice: "auto"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config">
            <http:body>#[vars.llmBody]</http:body>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>

        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="assistantMsg"><![CDATA[%dw 2.0
output application/java
---
(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]></ee:set-variable>
                <ee:set-variable variableName="finishReason"><![CDATA[%dw 2.0
output application/java
---
((((payload default {}).choices default [])[0].finish_reason) default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [(((payload default {}).choices default [])[0].message) default { role: "assistant", content: "" }]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <choice>
            <when expression="#[(vars.finishReason default '') == 'stop']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
((vars.assistantMsg.content default "") as String)]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" message="#['Loop iter=' ++ (vars.loopCount as String) ++ ' finishReason=' ++ (vars.finishReason default '') ++ ' tool_calls=' ++ ((sizeOf(vars.assistantMsg.tool_calls default []) as String))]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="agentExecuteToolsFlow">
        <choice>
            <when expression="#[sizeOf((vars.assistantMsg.tool_calls default [])) == 0]">
                <logger level="INFO" message="No tool_calls in assistant message"/>
            </when>
            <otherwise>
                <foreach collection="#[vars.assistantMsg.tool_calls default []]">
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolCallId"><![CDATA[%dw 2.0
output application/java
---
((payload."id" default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((payload.function.name default "") as String)]]></ee:set-variable>
                            <ee:set-variable variableName="toolArgsRaw"><![CDATA[%dw 2.0
output application/java
---
((payload.function.arguments default "{}") as String)]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
read((vars.toolArgsRaw default "{}") as String, "application/json")]]></ee:set-variable>
                            <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.toolName default "") as String
---
if (n == "check_inventory" or n == "reserve_inventory" or n == "cancel_inventory_reservation") "inventory"
else "unknown"]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref name="callMcpExecuteFlow"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="messages"><![CDATA[%dw 2.0
output application/java
---
(vars.messages default []) ++ [{
  role: "tool",
  tool_call_id: (vars.toolCallId default "") as String,
  content: write((vars.toolResult default {}), "application/json") as String
}]]]></ee:set-variable>
                            <ee:set-variable variableName="actionsLog"><![CDATA[%dw 2.0
output application/java
---
(vars.actionsLog default []) ++ [{
  tool: (vars.toolName default "") as String,
  result: (vars.toolResult default {})
}]]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </foreach>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- directToolFlow — broker DataPart { tool, args } を LLM 無しで直接 MCP に流す -->
    <!-- ============================================================
         logExtractFlow — 自然文 → エンティティ + モード抽出のみ。
         mode advise=在庫照会だけ / execute=仮確保まで (reserve_inventory)
         ============================================================ -->
    <sub-flow name="logExtractFlow">
        <!-- broker は parts[0].text に JSON (incidentId/partNumber/quantity 等) を埋めて
             送ってくることがある。 その場合は LLM 抽出を飛ばし、 JSON を直接 entities に
             展開する (mode=execute)。 自然文なら通常の LLM 抽出へ。 -->
        <ee:transform doc:name="detect embedded broker JSON">
            <ee:variables>
                <ee:set-variable variableName="brokerJson"><![CDATA[%dw 2.0
output application/java
// 不正/途中切れ JSON でも落ちないよう try で包む (read は default では捕まらず throw する)。
fun tryRead(s) = if (s == null or (trim(s as String)) == "") null
  else (dw::Runtime::try(() -> read(s as String, "application/json")).result default null)
var ut = trim((vars.userText default "") as String)
// userText 内の最初の { 〜 最後の } を JSON として読む。 入れ子の "input":"{...}" にも対応。
var i = ut indexOf "{"
var j = ut lastIndexOf "}"
var outer = if (i >= 0 and j > i) (tryRead(ut[i to j])) else null
// outer が { input/text/parts[0].text/message: "<json string>" } 形式なら中身をさらに parse。
// broker は parts[0].text にネストした JSON 文字列を入れてくることがある。
var innerStr = if (outer == null) null
  else ((outer."input" default outer.text default outer."parts[0].text" default outer.message default null))
var inner =
  if (outer == null) null
  else if (innerStr != null and (innerStr is String)) (tryRead(innerStr as String) default outer)
  else outer
---
if (inner != null and ((inner.partNumber default null) != null or (inner.incidentId default null) != null or (inner.supplierGoldenId default null) != null)) inner else null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <choice doc:name="埋め込みJSON か 自然文か">
            <when expression="#[vars.brokerJson != null]">
                <ee:transform doc:name="broker JSON → intent (LLM 不要)">
                    <ee:variables>
                        <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
var b = vars.brokerJson default {}
// broker からの dispatch は実行依頼。 partNumber は代替があればそれを優先。
var pn = (b.alternativePartNumber default "") as String
var part = if (pn != "") pn else (b.partNumber default null)
---
{
  scope: "logistics",
  mode:  "execute",
  entities: {
    partNumber: part,
    quantity:   (b.quantity default null),
    incidentId: (b.incidentId default null)
  },
  rawMessage: (b.reason default (vars.userText default "")) as String
}]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" message="#['log-agent broker-JSON path entities=' ++ write(vars.intent.entities default {}, 'application/json')]"/>
            </when>
            <otherwise>
        <ee:transform doc:name="build extractor messages">
            <ee:variables>
                <ee:set-variable variableName="extractMessages"><![CDATA[%dw 2.0
output application/java
var sys =
"あなたは物流・在庫 agent の『意図抽出器』です。 ユーザの 1 メッセージを読み、 下記 JSON だけを出力。 説明やコードフェンスは書かない。\n" ++
"\n" ++
"scope: \"logistics\" (在庫照会・仮確保・予約取消) | \"capability\" | \"out_of_scope\"\n" ++
"mode : \"advise\" (在庫を確認するだけ) | \"execute\" (仮確保まで明示依頼: 「仮確保して」「確保して」「reserve」)\n" ++
"\n" ++
"entities は読めた値だけ。 null 可。 推測禁止。\n" ++
"  partNumber (P-...) / quantity (整数) / incidentId (INC-...)\n" ++
"\n" ++
"出力: {\"scope\":\"...\",\"mode\":\"advise\",\"entities\":{\"partNumber\":null,\"quantity\":null,\"incidentId\":null},\"rawMessage\":\"原文\"}"
---
[
  { role: "system",    content: sys },
  { role: "user",      content: "P-2024-CHU-001 を 120 台 仮確保して。INC-2026-0579" },
  { role: "assistant", content: write({ scope: "logistics", mode: "execute", entities: { partNumber: "P-2024-CHU-001", quantity: 120, incidentId: "INC-2026-0579" }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "P-2024-KYU-001 の在庫ある?" },
  { role: "assistant", content: write({ scope: "logistics", mode: "advise", entities: { partNumber: "P-2024-KYU-001", quantity: null, incidentId: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "何ができる?" },
  { role: "assistant", content: write({ scope: "capability", mode: "advise", entities: { partNumber: null, quantity: null, incidentId: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: "返品要求を発行して" },
  { role: "assistant", content: write({ scope: "out_of_scope", mode: "advise", entities: { partNumber: null, quantity: null, incidentId: null }, rawMessage: "" }, "application/json") },
  { role: "user",      content: (vars.userText default "") as String }
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="build extractor body">
            <ee:variables>
                <ee:set-variable variableName="extractBody"><![CDATA[%dw 2.0
output application/json
---
{ model: (p('llm.model') default "gpt-5-mini") as String, max_completion_tokens: (p('llm.max_tokens') default 2048) as Number, messages: (vars.extractMessages default []) }]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="POST" path="/openai/v1/chat/completions" config-ref="LLM_Request_config">
            <http:body>#[vars.extractBody]</http:body>
            <http:response-validator><http:success-status-code-validator values="0..599"/></http:response-validator>
        </http:request>
        <ee:transform doc:name="parse intent JSON">
            <ee:variables>
                <ee:set-variable variableName="intent"><![CDATA[%dw 2.0
output application/java
fun extractJson(s) = do {
  var t = trim(s default "")
  var noFence = (t replace /```(json)?/ with "") replace "```" with ""
  var i = noFence indexOf "{"
  var j = noFence lastIndexOf "}"
  --- if (i >= 0 and j > i) (noFence[i to j]) else "{}"
}
// LLM 出力が (broker からの多重ネスト JSON を rawMessage に echo して token 上限で切れる等で)
// 不正/途中切れ JSON になっても落ちないよう try で包む。 失敗時は {} にフォールバック。
fun safeReadJson(s) =
  if (s == null or (trim(s as String)) == "") {}
  else (dw::Runtime::try(() -> read(extractJson(s as String), "application/json")).result default {})
var resp = if (payload == null) {} else if (payload is Binary) (dw::Runtime::try(() -> read(payload as String {encoding: "UTF-8"}, "application/json")).result default {}) else if (payload is String) (dw::Runtime::try(() -> read(payload as String, "application/json")).result default {}) else payload
var raw = ((resp.choices default [])[0].message.content default "{}") as String
var obj = safeReadJson(raw)
---
{ scope: (obj.scope default "logistics") as String, mode: (obj.mode default "advise") as String, entities: (obj.entities default {}), rawMessage: (obj.rawMessage default ((vars.userText default "") as String)) as String }]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="#['log-agent scope=' ++ (vars.intent.scope default '?') ++ ' mode=' ++ (vars.intent.mode default '?') ++ ' entities=' ++ write(vars.intent.entities default {}, 'application/json')]"/>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- ============================================================
         logRouterFlow — check_inventory (READ) → mode=execute なら reserve_inventory。
         partNumber 必須、 reserve には quantity + incidentId 必須。
         ============================================================ -->
    <sub-flow name="logRouterFlow">
        <choice doc:name="dispatch by scope">
            <when expression='#[(vars.intent.scope default "") == "capability"]'>
                <ee:transform><ee:variables><ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"🚚 物流・在庫 (atelier-logistics-agent) です。\n\n**できること**\n- 在庫照会 (在庫数・倉庫・リードタイム)\n- 在庫の仮確保 (予約)\n- 予約の取消\n\n**担当外**: インシデント (incident) / 法務 (legal) / 発注 (procurement) / 承認 (org)。"]]></ee:set-variable></ee:variables></ee:transform>
            </when>
            <when expression='#[(vars.intent.scope default "") == "out_of_scope"]'>
                <ee:transform><ee:variables><ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"その依頼は物流 agent の担当外です。\nインシデントは incident、 法務は legal、 発注は procurement、 承認は org、 もしくは broker へ。"]]></ee:set-variable></ee:variables></ee:transform>
            </when>
            <when expression='#[(vars.intent.entities.partNumber default null) == null]'>
                <ee:transform><ee:variables><ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
"[NEED_INFO]\n- 対象の部品番号 (P-YYYY-... 形式) を教えてください。\n[/NEED_INFO]"]]></ee:set-variable></ee:variables></ee:transform>
            </when>
            <otherwise>
                <!-- STEP 1: 在庫照会 -->
                <ee:transform doc:name="build check_inventory args">
                    <ee:variables>
                        <ee:set-variable variableName="toolName">#['check_inventory']</ee:set-variable>
                        <ee:set-variable variableName="mcpKind">#['inventory']</ee:set-variable>
                        <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
{ partNumber: (vars.intent.entities.partNumber default "") as String } ++ (if (vars.intent.entities.quantity != null) { requiredQuantity: vars.intent.entities.quantity } else {})]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="capture inventory">
                    <ee:variables>
                        <ee:set-variable variableName="inv"><![CDATA[%dw 2.0
output application/java
---
(vars.toolResult.result default vars.toolResult default {})]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <choice doc:name="mode=execute なら仮確保">
                    <when expression='#[(vars.intent.mode default "advise") == "execute" and (vars.intent.entities.quantity default null) != null and (vars.intent.entities.incidentId default null) != null]'>
                        <ee:transform doc:name="build reserve_inventory args">
                            <ee:variables>
                                <ee:set-variable variableName="toolName">#['reserve_inventory']</ee:set-variable>
                                <ee:set-variable variableName="mcpKind">#['inventory']</ee:set-variable>
                                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
var e = vars.intent.entities default {}
---
{ partNumber: (e.partNumber default "") as String, quantity: e.quantity, incidentId: e.incidentId }]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                        <flow-ref name="callMcpExecuteFlow"/>
                        <ee:transform doc:name="format execute result">
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var r = (vars.toolResult.result default vars.toolResult default {})
var inv = vars.inv default {}
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
---
"🚚 物流エージェント (実行完了)\n\n" ++
"| 項目 | 値 |\n|---|---|\n" ++
"| 部品 | **" ++ cell(vars.intent.entities.partNumber) ++ "** |\n" ++
"| 在庫数 | " ++ cell(inv.quantityOnHand) ++ " (" ++ cell(inv.warehouse) ++ ") |\n" ++
"| 仮確保 | **" ++ cell(r.reservationId) ++ "** (" ++ cell(vars.intent.entities.quantity) ++ "個 / TTL " ++ cell(r.ttlSeconds) ++ "s) |"]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </when>
                    <otherwise>
                        <ee:transform doc:name="format advise result">
                            <ee:variables>
                                <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
var inv = vars.inv default {}
fun cell(v) = if (v == null or (v as String) == "") "—" else (v as String)
---
"🚚 物流エージェント (在庫照会)\n\n" ++
"| 項目 | 値 |\n|---|---|\n" ++
"| 部品 | **" ++ cell(vars.intent.entities.partNumber) ++ "** |\n" ++
"| 在庫数 | " ++ cell(inv.quantityOnHand) ++ " |\n" ++
"| 倉庫 | " ++ cell(inv.warehouse) ++ " |\n" ++
"| リードタイム | " ++ cell(inv.leadTimeHours) ++ "h |\n\n" ++
"数量と incidentId を添えて「仮確保して」で予約します。"]]></ee:set-variable>
                            </ee:variables>
                        </ee:transform>
                    </otherwise>
                </choice>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="directToolFlow">
        <ee:transform doc:name="map directPart → toolName/toolArgs/mcpKind">
            <ee:variables>
                <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
((vars.directPart.tool default vars.directPart.toolName default "") as String)]]></ee:set-variable>
                <ee:set-variable variableName="toolArgs"><![CDATA[%dw 2.0
output application/java
---
(vars.directPart.args default vars.directPart."input" default {})]]></ee:set-variable>
                <ee:set-variable variableName="mcpKind"><![CDATA[%dw 2.0
output application/java
var n = (vars.directPart.tool default vars.directPart.toolName default "") as String
---
if (n == "check_inventory" or n == "reserve_inventory" or n == "cancel_inventory_reservation") "inventory"
else "unknown"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO"
                message="#['logistics-agent direct fast-path: tool=' ++ (vars.toolName default '') ++ ' args=' ++ write(vars.toolArgs default {}, 'application/json')]"/>
        <choice>
            <when expression="#[(vars.mcpKind default '') == 'unknown' or (vars.toolName default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
write({ status: "error", agent: "atelier-logistics-agent", mode: "direct", result: { code: "UNKNOWN_TOOL", message: "unsupported tool for direct mode: " ++ (vars.toolName default ""), supported: ["check_inventory","reserve_inventory","cancel_inventory_reservation"] } }, "application/json") as String]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <flow-ref name="callMcpExecuteFlow"/>
                <ee:transform doc:name="wrap direct result as JSON reply">
                    <ee:variables>
                        <ee:set-variable variableName="finalText"><![CDATA[%dw 2.0
output application/java
---
write({ status: "ok", agent: "atelier-logistics-agent", mode: "direct", tool: (vars.toolName default "") as String, result: (vars.toolResult default {}) }, "application/json") as String]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </sub-flow>

    <sub-flow name="callMcpExecuteFlow">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  toolName: (vars.toolName default "") as String,
  "input":  (vars.toolArgs default {})
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <try>
            <choice>
                <when expression="#[(vars.mcpKind default '') == 'mdm']">
                    <http:request method="POST" path="/mcp/execute" config-ref="MDM_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <when expression="#[(vars.mcpKind default '') == 'inventory']">
                    <http:request method="POST" path="/mcp/execute" config-ref="Inventory_MCP_Request_config">
                        <http:body>#[payload]</http:body>
                        <http:response-validator>
                            <http:success-status-code-validator values="0..599"/>
                        </http:response-validator>
                    </http:request>
                </when>
                <otherwise>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "UNKNOWN_TOOL", message: "no MCP for tool: " ++ (vars.toolName default "") } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </otherwise>
            </choice>
            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: (vars.toolName default "") as String, result: { code: "MCP_CALL_FAILED", message: (error.description default error.message default "unknown") as String } }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <logger level="WARN"
                            message="#['MCP call failed kind=' ++ (vars.mcpKind default '') ++ ' tool=' ++ (vars.toolName default '') ++ ' err=' ++ (error.description default error.message default 'unknown')]"/>
                </on-error-continue>
            </error-handler>
        </try>
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="toolResult"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s: String) =
  if (s == null or trim(s) == "") {}
  else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload as String)
else payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <sub-flow name="loadMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <try>
                    <os:retrieve key="#[vars.contextId]" objectStore="MEMORY_STORE" target="priorRaw"/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
fun parseList(s) = if (s == null or s == "") [] else read(s, "application/json")
---
if (vars.priorRaw == null) []
else if (vars.priorRaw is String) parseList(vars.priorRaw as String)
else (vars.priorRaw default [])]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <error-handler>
                        <on-error-continue type="OS:KEY_NOT_FOUND, OS:STORE_NOT_AVAILABLE, ANY">
                            <ee:transform>
                                <ee:variables>
                                    <ee:set-variable variableName="priorMessages"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
                                </ee:variables>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
        <logger level="INFO"
                message="#['memory load: contextId=' ++ (vars.contextId default '') ++ ' priorMessages=' ++ (sizeOf(vars.priorMessages default []) as String)]"/>
    </sub-flow>

    <sub-flow name="saveMemoryFlow">
        <choice>
            <when expression="#[(vars.contextId default '') == '']">
                <logger level="INFO" message="memory save skipped (no contextId)"/>
            </when>
            <otherwise>
                <try>
                    <ee:transform>
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
write((vars.messages default []), "application/json") as String]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <os:store key="#[vars.contextId]" objectStore="MEMORY_STORE">
                        <os:value>#[payload]</os:value>
                    </os:store>
                    <logger level="INFO"
                            message="#['memory save: contextId=' ++ (vars.contextId default '') ++ ' messages=' ++ (sizeOf(vars.messages default []) as String)]"/>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN" message="#['memory save failed: ' ++ (error.description default error.message default 'unknown')]"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
    </sub-flow>

</mule>
