atelier-agents/mcp-incident/src/main/mule/atelier-mcp-incident.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <http:request-config name="Incident_System_Request_config" basePath="/">
        <http:request-connection host="${backend.incident.host}"
                                 port="${backend.incident.port}"
                                 protocol="${backend.incident.protocol}"/>
    </http:request-config>

    <!-- ============================================================
         MCP Server (Streamable HTTP transport)。 mule-mcp-connector が
         /mcp で initialize / tools/list / tools/call / SSE / session 管理 /
         notifications/initialized の 202 応答 を全部処理する。
         ツールは <mcp:tool-listener> で宣言。 ビジネスロジック (backend 呼出) は
         既存 sub-flow を流用する。
         ============================================================ -->
    <mcp:server-config name="MCP_Server_config"
                       serverName="atelier-mcp-incident"
                       serverVersion="1.1.0">
        <mcp:streamable-http-server-connection listenerConfig="HTTP_Listener_config"
                                               mcpEndpointPath="/mcp"/>
    </mcp:server-config>

    <!-- ============================================================
         MCP tool: lookup_incident
         ============================================================ -->
    <flow name="tool-lookup-incident-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="lookup_incident">
            <mcp:description>incidentId で既存 Incident__c を 1 件取得する。404 のときは exists=false を返す。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": { "incidentId": { "type": "string" } },
  "required": ["incidentId"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['lookup_incident']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="tool-lookup-incident"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         MCP tool: register_incident
         ============================================================ -->
    <flow name="tool-register-incident-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="register_incident">
            <mcp:description>Incident__c を新規作成する。incidentId 未指定なら incident-system が採番。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {
    "incidentId":       { "type": "string" },
    "supplierGoldenId": { "type": "string" },
    "partNumber":       { "type": "string" },
    "quantity":         { "type": "integer" },
    "severity":         { "type": "string", "enum": ["LOW", "MEDIUM", "HIGH", "CRITICAL"] },
    "rawMessage":       { "type": "string" },
    "slackChannel":     { "type": "string" },
    "slackThreadTs":    { "type": "string" }
  },
  "required": ["supplierGoldenId", "partNumber", "severity", "rawMessage"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['register_incident']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="tool-register-incident"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         MCP tool: update_incident_status
         ============================================================ -->
    <flow name="tool-update-incident-status-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="update_incident_status">
            <mcp:description>incidentId のステータスを更新する。OPEN / IN_PROGRESS / RESOLVED。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {
    "incidentId": { "type": "string" },
    "status":     { "type": "string", "enum": ["OPEN", "IN_PROGRESS", "RESOLVED"] }
  },
  "required": ["incidentId", "status"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['update_incident_status']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="tool-update-incident-status"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         normalize-tool-input — MCP tool 引数 payload は特殊型なので、
         write→read で純粋な JSON Map に正規化して vars.toolInput に入れる。
         (output application/java で payload を直接書くと "No read/write handler"
          の writer 罠を踏むため。 値は reader で読む。)
         ============================================================ -->
    <sub-flow name="normalize-tool-input">
        <ee:transform doc:name="payload(MCP args) → vars.toolInput (clean Map)">
            <ee:variables>
                <ee:set-variable variableName="toolInput"><![CDATA[%dw 2.0
output application/java
---
read(write(payload default {}, "application/json"), "application/json")]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <!-- ============================================================
         互換経路: agent (atelier-incident-agent 等) が叩く簡易 REST。
         POST /mcp/execute { toolName, input } → { status, tool, result }
         MCP Connector 化後も agent は無改修でこの経路を使える。
         ============================================================ -->
    <flow name="mcp-execute-compat">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/execute">
            <http:response statusCode="200"/>
        </http:listener>
        <ee:transform doc:name="extract toolName / input">
            <ee:variables>
                <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
(payload.toolName default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="toolInput"><![CDATA[%dw 2.0
output application/java
---
payload."input" default {}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref name="dispatch-tool"/>
    </flow>

    <!-- dispatch-tool — toolName で各ツール sub-flow へ。 /mcp/execute から使う。 -->
    <flow name="dispatch-tool">
        <choice>
            <when expression='#[vars.toolName == "lookup_incident"]'>
                <flow-ref name="tool-lookup-incident"/>
            </when>
            <when expression='#[vars.toolName == "register_incident"]'>
                <flow-ref name="tool-register-incident"/>
            </when>
            <when expression='#[vars.toolName == "update_incident_status"]'>
                <flow-ref name="tool-update-incident-status"/>
            </when>
            <otherwise>
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: vars.toolName, result: { code: "UNKNOWN_TOOL", message: "tool not supported: " ++ (vars.toolName default "") } }]]></ee:set-payload></ee:message></ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- ============================================================
         ツールのビジネスロジック (incident-system backend 呼出 + 整形)。
         APIKit 版からそのまま流用。 vars.toolName / vars.toolInput を読む。
         結果は payload = { status, tool, result }。
         ============================================================ -->
    <sub-flow name="tool-lookup-incident">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="incidentId"><![CDATA[%dw 2.0
output application/java
---
(vars.toolInput.incidentId default "") as String]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <try>
            <http:request method="GET"
                          path="#[output application/java --- '/incidents/' ++ ((vars.incidentId default '') as String)]"
                          config-ref="Incident_System_Request_config">
                <http:response-validator>
                    <http:success-status-code-validator values="0..599"/>
                </http:response-validator>
            </http:request>
            <ee:transform>
                <ee:variables>
                    <ee:set-variable variableName="status"><![CDATA[%dw 2.0
output application/java
---
(attributes.statusCode default 0) as Number]]></ee:set-variable>
                    <ee:set-variable variableName="bodyObj"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s) = if (s == null or trim(s) == "") {} else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload)
else payload]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <ee:transform>
                <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if ((vars.status default 0) >= 200 and (vars.status default 0) < 300)
  { status: "success", tool: vars.toolName, result: { exists: true, incident: vars.bodyObj } }
else if ((vars.status default 0) == 404)
  { status: "success", tool: vars.toolName, result: { exists: false, incidentId: vars.incidentId default "" } }
else
  { status: "error", tool: vars.toolName, result: { code: "BACKEND_ERROR", httpStatus: vars.status, body: vars.bodyObj } }]]></ee:set-payload></ee:message>
            </ee:transform>
            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform>
                        <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: vars.toolName, result: { code: "BACKEND_CALL_FAILED", message: error.description default "unknown" } }]]></ee:set-payload></ee:message>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </sub-flow>

    <sub-flow name="tool-register-incident">
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.toolInput]]></ee:set-payload></ee:message>
        </ee:transform>
        <try>
            <http:request method="POST" path="/incidents" config-ref="Incident_System_Request_config">
                <http:headers><![CDATA[#[{ "Content-Type": "application/json" }]]]></http:headers>
                <http:response-validator>
                    <http:success-status-code-validator values="0..599"/>
                </http:response-validator>
            </http:request>
            <ee:transform>
                <ee:variables>
                    <ee:set-variable variableName="status"><![CDATA[%dw 2.0
output application/java
---
(attributes.statusCode default 0) as Number]]></ee:set-variable>
                    <ee:set-variable variableName="bodyObj"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s) = if (s == null or trim(s) == "") {} else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload)
else payload]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <ee:transform>
                <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if ((vars.status default 0) >= 200 and (vars.status default 0) < 300)
  { status: "success", tool: vars.toolName, result: ((vars.bodyObj default {}) ++ { "status": "CREATED" }) }
else if ((vars.status default 0) == 409 and ((vars.bodyObj.code default "") as String) == "ALREADY_EXISTS")
  { status: "success", tool: vars.toolName, result: { "status": "EXISTS", incidentId: ((vars.bodyObj.incidentId default "") as String), supplierGoldenId: ((vars.toolInput.supplierGoldenId default "") as String), partNumber: ((vars.toolInput.partNumber default "") as String), severity: ((vars.toolInput.severity default "") as String), rawMessage: ((vars.toolInput.rawMessage default "") as String) } }
else
  { status: "error", tool: vars.toolName, result: { "status": "ERROR", code: ((vars.bodyObj.code default "BACKEND_ERROR") as String), httpStatus: vars.status, message: ((vars.bodyObj.message default "incident-system returned non-2xx") as String), body: vars.bodyObj } }]]></ee:set-payload></ee:message>
            </ee:transform>
            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform>
                        <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: vars.toolName, result: { "status": "ERROR", code: "BACKEND_CALL_FAILED", message: error.description default "unknown" } }]]></ee:set-payload></ee:message>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </sub-flow>

    <sub-flow name="tool-update-incident-status">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="incidentId"><![CDATA[%dw 2.0
output application/java
---
(vars.toolInput.incidentId default "") as String]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ "status": vars.toolInput."status" default "IN_PROGRESS" }]]></ee:set-payload></ee:message>
        </ee:transform>
        <try>
            <http:request method="PATCH"
                          path="#[output application/java --- '/incidents/' ++ ((vars.incidentId default '') as String)]"
                          config-ref="Incident_System_Request_config">
                <http:headers><![CDATA[#[{ "Content-Type": "application/json" }]]]></http:headers>
                <http:response-validator>
                    <http:success-status-code-validator values="0..599"/>
                </http:response-validator>
            </http:request>
            <flow-ref name="wrap-system-response"/>
            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform>
                        <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "error", tool: vars.toolName, result: { code: "BACKEND_CALL_FAILED", message: error.description default "unknown" } }]]></ee:set-payload></ee:message>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </sub-flow>

    <sub-flow name="wrap-system-response">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="status"><![CDATA[%dw 2.0
output application/java
---
(attributes.statusCode default 0) as Number]]></ee:set-variable>
                <ee:set-variable variableName="bodyObj"><![CDATA[%dw 2.0
output application/java
fun safeReadJson(s) = if (s == null or trim(s) == "") {} else read(s, "application/json")
---
if (payload == null) {}
else if (payload is Binary) safeReadJson(payload as String { encoding: "UTF-8" })
else if (payload is String) safeReadJson(payload)
else payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: (if ((vars.status default 0) >= 200 and (vars.status default 0) < 300) "success" else "error"), tool: vars.toolName, result: vars.bodyObj default {} }]]></ee:set-payload></ee:message>
        </ee:transform>
    </sub-flow>

    <!-- GET /health -->
    <flow name="health">
        <http:listener config-ref="HTTP_Listener_config" path="/health">
            <http:response statusCode="200"/>
        </http:listener>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-mcp-incident", transport: "streamable-http", mcpPath: "/mcp" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

</mule>
