atelier-agents/mcp-contract/src/main/mule/atelier-mcp-contract.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <!-- ============================================================
         MCP Server (Streamable HTTP transport)。 mule-mcp-connector が
         /mcp で initialize / tools/list / tools/call / SSE / session 管理 /
         notifications/initialized の 202 応答 を全部処理する。
         ツールは <mcp:tool-listener> で宣言。 ビジネスロジックは内部スタブ
         (backend なし) の dispatch-tool を流用する。
         ============================================================ -->
    <mcp:server-config name="MCP_Server_config"
                       serverName="atelier-mcp-contract"
                       serverVersion="1.1.0">
        <mcp:streamable-http-server-connection listenerConfig="HTTP_Listener_config"
                                               mcpEndpointPath="/mcp"/>
    </mcp:server-config>

    <!-- ============================================================
         MCP tool: get_quality_agreement
         ============================================================ -->
    <flow name="tool-get-quality-agreement-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="get_quality_agreement">
            <mcp:description>サプライヤーの品質保証協定書サマリ(条項・ペナルティ上限)を取得する。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {
    "supplierGoldenId": { "type": "string" },
    "partNumber":       { "type": "string" }
  },
  "required": ["supplierGoldenId"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['get_quality_agreement']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="dispatch-tool"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         MCP tool: generate_return_request
         ============================================================ -->
    <flow name="tool-generate-return-request-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="generate_return_request">
            <mcp:description>返品要求書を生成する。requestId を返す。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {
    "supplierGoldenId": { "type": "string" },
    "partNumber":       { "type": "string" },
    "incidentId":       { "type": "string" },
    "quantity":         { "type": "integer" },
    "reason":           { "type": "string" }
  },
  "required": ["supplierGoldenId", "partNumber", "incidentId"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['generate_return_request']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="dispatch-tool"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         MCP tool: send_penalty_notice
         ============================================================ -->
    <flow name="tool-send-penalty-notice-listener">
        <mcp:tool-listener config-ref="MCP_Server_config" name="send_penalty_notice">
            <mcp:description>ペナルティ通知書を送付する。noticeId を返す。</mcp:description>
            <mcp:parameters-schema><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {
    "supplierGoldenId": { "type": "string" },
    "incidentId":       { "type": "string" },
    "amount":           { "type": "number" },
    "currency":         { "type": "string" }
  },
  "required": ["supplierGoldenId", "incidentId", "amount"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[write(vars.toolResult.result default vars.toolResult default {}, 'application/json') as String]"/>
            </mcp:responses>
            <mcp:on-error-responses>
                <mcp:text-tool-response-content text="#['{&quot;code&quot;:&quot;TOOL_ERROR&quot;,&quot;message&quot;:&quot;' ++ (error.description default 'unknown') ++ '&quot;}']"/>
            </mcp:on-error-responses>
        </mcp:tool-listener>
        <set-variable variableName="toolName" value="#['send_penalty_notice']"/>
        <flow-ref name="normalize-tool-input"/>
        <flow-ref name="dispatch-tool"/>
        <set-variable variableName="toolResult" value="#[payload]"/>
    </flow>

    <!-- ============================================================
         normalize-tool-input — MCP tool 引数 payload は特殊型なので、
         write→read で純粋な JSON Map に正規化して vars.toolInput に入れる。
         (output application/java で payload を直接書くと "No read/write handler"
          の writer 罠を踏むため。 値は reader で読む。)
         ============================================================ -->
    <sub-flow name="normalize-tool-input">
        <ee:transform doc:name="payload(MCP args) → vars.toolInput (clean Map)">
            <ee:variables>
                <ee:set-variable variableName="toolInput"><![CDATA[%dw 2.0
output application/java
---
read(write(payload default {}, "application/json"), "application/json")]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <!-- ============================================================
         互換経路: agent が叩く簡易 REST。
         POST /mcp/execute { toolName, input } → { status, tool, result }
         MCP Connector 化後も agent は無改修でこの経路を使える。
         ============================================================ -->
    <flow name="mcp-execute-compat">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/execute">
            <http:response statusCode="200"/>
        </http:listener>
        <ee:transform doc:name="extract toolName / input">
            <ee:variables>
                <ee:set-variable variableName="toolName"><![CDATA[%dw 2.0
output application/java
---
(payload.toolName default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="toolInput"><![CDATA[%dw 2.0
output application/java
---
payload."input" default {}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref name="dispatch-tool"/>
    </flow>

    <!-- ============================================================
         dispatch-tool: stub data (no backend), shared by /mcp/execute & tools/call
         vars.toolName / vars.toolInput を読む。結果は payload = { status, tool, result }。
         ============================================================ -->
    <flow name="dispatch-tool">
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
var tool = (vars.toolName default "") as String
var inp = vars.toolInput default {}
var ts = now() as String {format: "yyyyMMddHHmmss"}
var rnd = (randomInt(9999) as String)
---
tool match {
  case "get_quality_agreement" -> {
    status: "success",
    tool: tool,
    result: {
      supplierGoldenId: (inp.supplierGoldenId default "") as String,
      partNumber:       (inp.partNumber default "") as String,
      agreementId:      "QA-2024-" ++ ((inp.supplierGoldenId default "GENERIC") as String),
      clause:           "§7.3",
      penaltyCap:       2500000,
      currency:         "JPY",
      summary:          "品質不良発生時の返品およびペナルティ条項。上限¥2,500,000。"
    }
  }
  case "generate_return_request" -> {
    status: "success",
    tool: tool,
    result: {
      requestId:        "RTN-" ++ ts ++ "-" ++ leftPad(rnd, 4, "0"),
      "status":         "GENERATED",
      supplierGoldenId: (inp.supplierGoldenId default "") as String,
      partNumber:       (inp.partNumber default "") as String,
      quantity:         ((inp.quantity default 0) as Number),
      incidentId:       (inp.incidentId default "") as String,
      reason:           (inp.reason default "") as String,
      generatedAt:      now() as String {format: "yyyy-MM-dd'T'HH:mm:ssXXX"}
    }
  }
  case "send_penalty_notice" -> {
    status: "success",
    tool: tool,
    result: {
      noticeId:         "PEN-" ++ ts ++ "-" ++ leftPad(rnd, 4, "0"),
      "status":         "SENT",
      supplierGoldenId: (inp.supplierGoldenId default "") as String,
      incidentId:       (inp.incidentId default "") as String,
      amount:           ((inp.amount default 0) as Number),
      currency:         ((inp.currency default "JPY") as String),
      sentAt:           now() as String {format: "yyyy-MM-dd'T'HH:mm:ssXXX"}
    }
  }
  else -> {
    status: "error",
    tool: tool,
    result: { code: "UNKNOWN_TOOL", message: "tool not supported: " ++ tool }
  }
}]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

    <!-- GET /health -->
    <flow name="health">
        <http:listener config-ref="HTTP_Listener_config" path="/health">
            <http:response statusCode="200"/>
        </http:listener>
        <ee:transform>
            <ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "UP", app: "atelier-mcp-contract", transport: "streamable-http", mcpPath: "/mcp" }]]></ee:set-payload></ee:message>
        </ee:transform>
    </flow>

</mule>
